[2022-03-30 17:48] whenmoon commented on #321
I have been using runJS for a good few years now and always end up running into this problem. Love the app but it's a real pain to have to delete all of the associated app files to make it work again.

[2022-03-31 17:09] lukehaas commented on #321
Thanks @whenmoon, I'm working on improvements to help solve this problem.
For now, if this happens again go to the Edit menu, click Clear `Edit->Clear` and restart the app. There is no need to delete files.

[2022-04-05 00:40] xucongli1989 commented on #367
I became a VIP today, I need the feature too. You can refs this tool [LinqPad for C#](https://www.linqpad.net/)

[2022-04-06 07:13] eskimoblood opened #418 "Error report for runjs 2.1.1"
This happens while I tried to update.

Error:
[code]
OS: macOS 10.17

[2022-04-06 07:53] lukehaas commented on #418
@eskimoblood this has been fixed, please update to the latest version.

[2022-04-06 07:53] #418 closed

[2022-04-08 19:18] flacial commented on #350
Yes please. Just wrote a file and closed it by accident. Tried to hit `Command + Shift + T` to restore it and it seems to not be working...

[2022-04-09 11:20] lukehaas commented on #413
Thanks @mixj93. RunJS auto-saves on change and for this reason, there isn't much need to save manually.
As manually saving is not used often I'm reluctant to add options around its behaviour. Hope that makes sense.

[2022-04-09 11:20] #413 closed

[2022-04-09 12:16] lukehaas commented on #416
The issue here was due to this line in your code `window.close();` causing the app to crash.
I've now resolved this in the latest release 2.3.1

[2022-04-09 12:16] #416 closed

[2022-04-09 12:17] #405 closed

[2022-04-09 12:19] #246 closed

[2022-04-09 12:21] lukehaas commented on #151
I looked into building a snap but was unable to get some features to work. It's not something I will be pursuing further.

[2022-04-09 12:21] #151 closed

[2022-04-09 12:27] lukehaas commented on #39
Closing this as vim keys are dependent on an upstream dependency and it looks unlikely that `.vimrc` will ever be supported there.

[2022-04-09 12:27] #39 closed

[2022-04-09 12:29] lukehaas commented on #319
This should now be fixed.

[2022-04-09 12:29] #319 closed

[2022-04-09 12:34] lukehaas commented on #288
Thanks @ondrovic. Given that each tab has an editor pane and also an output pane, having two tabs next to each other would mean 4 panes would be visible. This seems to me like it might not be very usable or useful. Closing for that reason.

[2022-04-09 12:34] #288 closed

[2022-04-09 13:00] rafaelmvargas opened #419 "Feature Request - Auto-run code with custom time/interval in milliseconds"
Awesome product. I love how it auto-runs code on changes. However, I type slightly slower than it executes. Is it possible to add a custom interval in milliseconds so that I may add more time before it auto-runs code? Thanks.

[2022-04-09 15:06] getify opened #420 "Minor layout annoyance (windows)"
This minor layout annoyance has affected my RunJS installs on windows for a bunch of versions, I just never got around to reporting it until now.

When I only have one tab open, the "new tab" button ("+") overlaps the "Run" button, as shown here:

<img width="512" alt="runjs-layout-issue" src="https://user-images.githubusercontent.com/150330/162579727-ff7ad2bd-7555-4175-ae71-b2984d2002d1.png">

On

[2022-04-09 15:11] getify commented on #420
I should note that if I turn on the "Appearance > Show tab bar for single tab" option it also fixes the layout overlap.

[2022-04-09 15:22] lukehaas commented on #420
Thanks for raising this. I'll aim to get it fixed in the next release.
Looks like the overlap also requires the output pane to be hidden?

[2022-04-09 15:33] getify commented on #420
I don't have the output pane hidden, I have it at the bottom using "Layout: Horizontal". But yes, if I have change the layout to "Vertical", the "Run" and "+" buttons do not overlap.

[2022-04-09 15:38] getify commented on #321
I also came here looking for an "asynchronous Stop button" basically. I love having the Stop button for synchronous code, but it'd be great if the "Stop" button was also present (as well as in the action menu) while the asynchronous code is still running, such as timers, etc. Basically, any time the underlying Node process hasn't finished yet (still has open timers/etc), the Stop action/button sho

[2022-04-12 05:52] virzs opened #421 "I'd like to pay by Alipay"

[2022-04-12 08:30] lukehaas commented on #421
Hi @virzs, unfortunately, Alipay is not currently supported by the payment provider, Paddle: (https://www.paddle.com/).

However, it looks like Alipay support may be available in the future: https://developer.paddle.com/reference/ZG9jOjMwMzU5Mjkx-alipay-early-access

[2022-04-12 08:30] #421 closed

[2022-04-12 20:22] lukehaas commented on #419
@rafaelmvargas thanks for raising this. Supporting custom options comes with a lot of overheads, it also adds bloat and complexity to the app. If this was a commonly requested feature, I might consider including it but this has never been requested before, for those reasons I'm not going to be implementing this feature. I'd recommend just turning off auto-run and using the shortcut to run your cod

[2022-04-12 20:22] #419 closed

[2022-04-12 20:26] lukehaas commented on #398
@L1ghtingBolt this is now resolved in the latest version of RunJS - version 2.3.1

[2022-04-12 21:00] ondrovic opened #422 "[Feature Request] - Don't close main window if all tabs are closed, open new blank window instead"
Any chance you can change the default behavior instead of  closing the main window if all tabs are closed, to opening a new empty tab.

[2022-04-13 05:38] rish-singhal opened #423 "Output format while iterating over an iterable."
Hi! I happen to come across some unexpected formatting (it is not sequential) in the output window of RunJs, when iterating over an array. If this was intentional, I am curious to know about the rational behind. Thanks!

Input:
[code]

Output (in RunJS output window):
[code]

Expected Output (If we go by the sequential execution):
[code]

[2022-04-13 08:16] lukehaas commented on #423
By default, RunJS aligns the outputs lines to the source lines. To turn this behaviour off, untick "Match Lines" in the preferences.

![144597603-2daeca3e-41b8-4577-bbe9-1b86b06e6b0e](https://user-images.githubusercontent.com/741344/163131663-b7850f02-050e-4958-a5e5-edb201431e0a.png)

[2022-04-13 08:18] lukehaas commented on #422
@ondrovic do you know of any tabbed apps that do that?

[2022-04-13 08:32] rish-singhal commented on #423
I see. Thank you!

[2022-04-13 16:21] ondrovic commented on #422
@lukehas I don't right off the top of my head, I guess the closet thing would be visual studio code, where you can open multiple files and it will not close the main window unless you tell it to. Not sure if that helps though

[2022-04-13 16:58] lukehaas commented on #422
I see. The next version of RunJS will have some updates around tabs, including the option to confirm before closing and possibly also a pin tab feature. Would these help alleviate the problem?

[2022-04-13 17:30] ondrovic commented on #422
maybe we can put a pin in this until the next version is out and see, I can reopen if that is still an issue then

[2022-04-15 15:00] lukehaas commented on #106
@getify this should now be fixed in the latest release.

[2022-04-15 15:10] getify commented on #106
It does seem to be resolved, thanks!

[2022-04-15 15:10] #106 closed

[2022-04-16 09:41] ashutoshbhadoria opened #424 "Incorrect results while creating `Boolean Objects`"
I understand using Boolean "fundamental" objects is not a best practice, but I see some inconsistencies in the result.
Creating a new boolean object `const a = new Boolean(false)` results in an object having `true` as the value.

![image](https://user-images.githubusercontent.com/8150094/163670059-9dc7e0d0-c7d4-444e-8c9e-227acaf9abd4.png)

The same scenario on the browser dev tools shows expected

[2022-04-16 10:25] lukehaas commented on #424
@ashutoshbhadoria thanks for bringing this to my attention. I'll look into it 👍

[2022-04-16 14:38] lukehaas commented on #411
@dvbsknd this should now be fixed in the latest release - 3.2.1

[2022-04-16 14:39] #398 closed

[2022-04-16 14:40] lukehaas commented on #404
This should now be resolved in the latest release - 3.2.1 @pedroslp

[2022-04-16 15:44] lukehaas commented on #203
@ricosandyca you should now be able to see installed fonts in the latest version - 2.3.1

[2022-04-16 15:46] #131 closed

[2022-04-17 05:36] ricosandyca commented on #203
Woww, that's awesome. Thank you so much ❤️ 👍

[2022-04-17 05:36] #203 closed

[2022-04-18 23:20] dvbsknd commented on #411
Thanks @lukehaas, just tested and it's working perfectly.

[2022-04-18 23:20] #411 closed

[2022-04-19 20:57] mauriciolobo opened #425 "For loop execute in unexpected order"
When I run the code below
[code]

I get this output
[code]

I'm running RunJS 2.3.1.0 for Windows.

[2022-04-19 21:07] lukehaas commented on #425
@mauriciolobo By default, RunJS aligns the outputs lines to the source lines. To turn this behaviour off, untick "Match Lines" in the preferences.

![163131663-b7850f02-050e-4958-a5e5-edb201431e0a](https://user-images.githubusercontent.com/741344/164099875-91fb761c-8355-4507-91a8-e4eaeb869679.png)

[2022-04-20 11:43] ricky11 commented on #190
would purchase it if i could toggle the bar.

[2022-04-21 14:43] #404 closed

[2022-04-21 14:45] lukehaas commented on #241
@ssmkhrj are you still seeing this issue?

[2022-04-21 14:50] ssmkhrj commented on #241
@lukehaas Hmm, I haven't noticed that in a while, so probably it's fixed now!

But there's another issue that I constantly face and i.e. when there's an update the app gets broken (windows can't locate the app) and I've to download it again from the website to get it working. Is this a known issue?

[2022-04-21 14:51] mauriciolobo commented on #425
Yes. That works, thanks! Perhaps you can add this output in the editor side, right after the code. Similar Quokka plugin for VSCode has.

[2022-04-21 15:26] ssmkhrj commented on #241
I quit but then when I try to open it back I don't find the app anymore.

[2022-04-21 15:40] lukehaas commented on #241
It needs some time to install after quitting, if it's re-opened while this is happening then that can cause problems. It's an upstream issue with electron-builder.

[2022-04-21 15:44] ssmkhrj commented on #241
I think this happens even if I open the app after significant amount of time. I usually don't quit and open again just for the update to take effect. My usual workflow is: If I'm working on the app and I see an update, I don't quit and open again, I continue with whatever I'm doing and then close the app for the day and when I open it the next time (usually the next day) I don't find it.

[2022-04-21 15:48] lukehaas commented on #241
Ok, that is unusual then. I've not encountered that issue myself or had any report of that before.

[2022-04-21 15:51] ssmkhrj commented on #241
The next time there's a update, I'll observe this more carefully and open an issue.

[2022-04-21 15:56] #241 closed

[2022-04-24 18:37] michaeljaggers commented on #356
Is there any way I could help move my own request along?  Via a PR or something similar?  Only a theme, no behavior changes.

[2022-04-26 07:15] LeFede commented on #157
Hi, I feel very stupid asking this:
I've hidden the toolbar and I can't turn it back on. On the official RunJS page the shortcut isn't there and I can't find it on my own by pressing every combination possible. Can you help me? @lukehaas

[2022-04-26 08:14] lukehaas commented on #356
Sorry, this doesn't seem to be garnering much support. To include this theme I would want to see a response similar to the one for the One Dark theme: https://github.com/lukehaas/RunJS/issues/204

RunJS already has quite a lot of themes so I'm reluctant to add more unless there is significant interest.

[2022-04-26 09:11] ricosandyca commented on #157
@LeFede simply press `alt` to show/hide the toolbar

[2022-04-26 10:40] lukehaas commented on #157
@LeFede - @ricosandyca is correct, press `alt` to see the toolbar.
This is documented on the FAQ https://runjs.app/faq

[2022-04-26 10:45] LeFede commented on #157
I think I already tried, btw I'm on Linux. Wil try again asap. Thank you

[2022-04-26 10:56] lukehaas commented on #157
@LeFede yes, this option is only available on Linux.

[2022-04-27 11:27] joonseokhu commented on #350
Any updates yet?

[2022-04-27 11:39] lukehaas commented on #350
This will be in the next release.

[2022-04-29 07:01] Siregar opened #426 "Indented comments"
![Bildschirmfoto 2022-04-29 um 09 00 43](https://user-images.githubusercontent.com/31287148/165898422-09f03ca5-863a-4ff8-90fa-cf6b02fc6781.png)

When I create a comment within a function via shortcut, it is not indented. Instead, the comment starts at the very left.

I would expect the comment to start at the current position of the cursor and thus already be indented at the beginning.

Lines that

[2022-04-29 08:35] lukehaas commented on #426
Thanks for raising this, I'll look into it 👍

[2022-05-04 06:02] Minseongkimm opened #427 "Error report for runjs 2.1.1"
Error:
[code]
OS: macOS 10.16

[2022-05-04 08:47] lukehaas commented on #427
Please update to the latest version of RunJS.

[2022-05-04 08:47] #427 closed

[2022-05-05 20:19] kevinlens opened #428 "Feature Request: Custom Font Family for MacOS"
Ability to change RunJs font family by importing in fonts bought from an outside source or already on our MacOs Font Book.

[2022-05-05 20:44] lukehaas commented on #428
This is already possible except for cases where the filename of the font doesn't match the name of the font. Could you provide an example of a font that you have on your system that you're not seeing within RunJS?

[2022-05-06 14:39] keirk opened #429 "Set home directory doesn't seem to work"
On MBP M1 (using NVM?) - setting the home directory doesn't seem to allow me to import other files in the same directory.

![Screenshot 2022-05-06 at 15 28 07](https://user-images.githubusercontent.com/951885/167154961-6f4edbbe-b8fd-4cb9-842c-5d36371790ca.png)

[2022-05-06 15:30] lukehaas commented on #429
When a working directory is set, imports will be relative to the directory rather than a file so the import will look like this `import x from 'filename'` instead of `import x from './filename'`

[2022-05-06 21:36] #428 closed

[2022-05-09 08:40] keirk commented on #429
Could you write some documentation on how it should work?

I have a directory, with ./index.js and ./test.js and I've set the working directory on both tabs ...

./test.js contains -

`export const test = "Hello, World";`

./index.js contains -

`import { test } from 'test.js';
console.log(test);`

and I get an error - `SyntaxError: Unexpected token 'export'`

[2022-05-09 08:59] lukehaas commented on #429
External files are not transpiled or bundled so your test.js file will need to use commonJS exports.

[2022-05-13 07:41] besserwisser commented on #403
Honestly I was totally expecting this to be there when I bought the license. Right now I am doing TypeScript Coding challenges and I use online TypeScript Playground for it, because of the missing hover information.

[2022-05-16 15:24] oculus42 opened #430 "Line Breaks Not Escaped in RegExp Output"
Escaped line breaks in regular expressions are not escaped on output.
A _super minor_ issue, but something I ran across.

Input:
[code]

Output:
[code]

Node from the terminal and browser consoles return the regex on one line as expected.

macOS 12.3.1
RunJS v2.3.1

[2022-05-16 15:44] oculus42 commented on #380
I tried this on v2.3.1 and am able to consistently get three unique outputs with three minor variants:

**Variant 1: Async Wrapper**
[code]

**Variant 1: Output**
[code]

**Variant 2: Non-async Wrapper**
[code]
**Variant 2: Output**
[code]

Hope this helps.

**Variant3: Original (plus logging)**
[code]

**Output**
[code]

[2022-05-17 09:16] KennanChan commented on #261
any progress?

[2022-05-17 09:34] lukehaas commented on #430
Thanks, I'll look into it.

[2022-05-17 09:54] lukehaas commented on #261
The next release will include a synchronous scroll option

![Screenshot 2022-05-17 at 10 53 29](https://user-images.githubusercontent.com/741344/168784207-3d65cac5-1f59-416d-ba71-1bea222643bf.png)

[2022-05-17 10:04] lukehaas commented on #380
@oculus42 it looks like all of these promises are being resolved unless I'm missing something?

[2022-05-17 10:05] KennanChan commented on #261
Will this be a feature available in free version?

[2022-05-17 10:28] lukehaas commented on #261
@KennanChan yes it will.

[2022-05-17 12:49] oculus42 commented on #380
@lukehaas Variants 1 & 2 never log `a fetch complete` or anything else in that logic block, yet no errors are thrown, either. Something prevents that fetch from completing in the first two scenarios, but not the third.

All three outputs should include the `id: 2` object from the async function `a`.

[2022-05-17 14:59] lukehaas commented on #380
@oculus42 I see now. You're seeing completely different output to what I see when I run these snippets.
I see `a fetch complete` for all and `id: 2` for all.
Is there any possibility something external to RunJS is preventing these requests from completing?

[2022-05-18 10:21] lukehaas commented on #426
@Siregar this issue is upstream, the solution is simple and I've raised a PR to fix it here: https://github.com/codemirror/CodeMirror/pull/6918

Whether it will actually get merged in is unknown.

[2022-05-18 10:21] #426 closed

[2022-05-18 17:33] oculus42 commented on #380
Using Telerik Fiddler on my PC, I am not always seeing the `todos/2` request being made. The `todos/3` request is always made.

[2022-05-19 20:19] lukehaas commented on #380
Thanks @oculus42. That's very useful. So that I can narrow down my investigation a bit further, can you please answer the following:
Which version of Windows are you using?
Do you have 'Runtime values' (advanced preferences) - enabled?
Do you have transpilation enabled?

[2022-05-19 21:04] oculus42 commented on #380
@lukehaas Windows 10 Pro 21H2 (19044.1706) with RunJS 2.3.1.0.

Runtime values - show runtime values - Experimental is enabled
Transpilation is enabled.

I also experience this issue on macOS Monterey 12.3.1 with RunJS 2.3.1

If it helps I can try other systems/platforms. The two above are licensed; I have not tried on the free edition.

[2022-05-20 08:25] lukehaas commented on #380
Do the requests also fail if you disabled runtime values?

[2022-05-21 10:59] lukehaas commented on #380
@oculus42 I've now managed to observe this issue and I will work to get it fixed. Thanks for all the info you provided.

[2022-05-21 18:50] gavzla opened #431 "UI Theme related problem (Windows)"
Doesn't this arrow pointed parts of the app has to be in the same color scheme as the selected theme? For example like vscode does. I will love more the app is they are... thank you!

<img width="1033" alt="Not_like_current_theme" src="https://user-images.githubusercontent.com/11657368/169665393-4db21282-928c-464b-9d7a-4a61ded2dcdc.png">

[2022-05-23 10:06] lukehaas commented on #431
The theme just relates to the colours used in the editor and output panes. All other UI colours depend on the system theme, this will be either dark or light.

[2022-05-23 10:06] #431 closed

[2022-05-23 11:04] lukehaas commented on #429
Hope this is all clear now. Happy to answer further questions if needed.

[2022-05-23 11:04] #429 closed

[2022-05-25 18:32] visaru opened #432 "If an expression returns undefined show it on the right panel, don't display blank"
[code]

[2022-05-25 20:37] lukehaas commented on #432
You can enable the 'Show Undefined' option in the preferences.

![Screenshot 2022-05-25 at 21 35 07](https://user-images.githubusercontent.com/741344/170362495-644fadb6-2478-486c-890e-6d98270241dd.png)

This is optional as the majority of statements will return undefined and so can create a lot of noise in the output panel.

[2022-05-29 14:15] lukehaas commented on #432
@visaru hope that's all clear. Closing this now.

[2022-05-29 14:15] #432 closed

[2022-05-29 14:18] lukehaas commented on #424
@ashutoshbhadoria this is now fixed in version 2.4.1

[2022-05-30 10:25] shahul01 opened #433 "[bug] Menu is not opening on click"
In v2.4.1, clicking on menu does nothing...

[2022-05-30 10:31] lukehaas commented on #433
@shahul01 please provide details of what OS you're using and its version.

[2022-05-30 10:32] shahul01 commented on #433
windows 10 ver 1909

[2022-05-30 11:42] lukehaas commented on #433
I have validated that this is working fine on Windows 10.
Please describe how you are clicking on the menu - which mouse buttons are you using, what part of the app are you clicking on, and also describe what you are expecting to see when clicking on this. If you could also provide screenshots that may be helpful.

[2022-05-31 09:23] EranosyanEduard opened #434 "Function declaration error"
RunJS version 2.3.1

I declare baz function then get "SyntaxError: Unexpected token ':'". I have this error because i use type annotation at idx parameter. If i delete this type annotation there no error.

[code]

[2022-05-31 09:25] lukehaas commented on #433
@shahul01 any update?

[2022-05-31 09:36] #403 closed

[2022-05-31 09:52] lukehaas commented on #434
TypeScript can be toggled regardless of an active license.
However, I've now taken a look and it seems this issue is caused by the 'Runtime values' feature. Please disable runtime values for now and I will aim to get this issue resolved in the next release.

[2022-05-31 10:08] EranosyanEduard commented on #434
Ok. Thank you.

[2022-06-03 12:34] shahul01 commented on #433
I am hibernating my PC so that may be it, if that's the case it will take a long time for me to properly restart windows to confirm so...

As for the screenshot, this is the best I could do.
I am using left mouse button to click on top left corner of app, and I expect to see a dropdown menu.
But when clicking, the button doesn't respond at all.
I tried to click using right mouse button and any set

[2022-06-03 16:37] ashutoshbhadoria commented on #424
Thanks @lukehaas , tested on version 2.4.1.

[2022-06-03 16:37] #424 closed

[2022-06-04 09:10] lukehaas commented on #420
@getify this should now be resolved in the latest version of RunJS - 2.4.1

[2022-06-04 09:14] lukehaas commented on #380
@oculus42 this should now be resolved in the latest version of RunJS - 2.4.1

[2022-06-04 09:15] lukehaas commented on #372
@Lovelaces the latest version of RunJS - 2.4.1 uses `forced-color-adjust` to preserve syntax highlighting within the editor.

[2022-06-04 09:21] lukehaas commented on #321
In the latest version of RunJS (2.4.1) `Stop` has been renamed `Kill` and a new `Stop` has been introduced which can be used to stop async tasks. Both of these are now always available from the `Action` menu.

[2022-06-04 11:33] joseph4tw commented on #321
@lukehaas this is a great addition, thank you for getting this feature done!

[2022-06-04 11:33] #321 closed

[2022-06-04 12:46] shahul01 commented on #433
So I restarted Windows, Uninstalled app, removed the RunJS folder in `appdata/Roaming`. ReInstalled it and still has same issue..

![image](https://user-images.githubusercontent.com/53307156/171999554-caa3738f-fed6-4d2a-87a8-bb34583b5167.png)

[2022-06-04 13:19] lukehaas commented on #433
Ok, sorry to hear that.
There might be some info in the log file that could be helpful, you can find this in `appdata/Roaming`, please paste the contents here.

[2022-06-04 13:26] shahul01 commented on #433
Its all the same error I think and shows whenever I click the menu

`[2022-06-04 18:14:24.545] [error] Unhandled Exception TypeError: Error processing argument at index 2, conversion failure from
    at EventEmitter.a.popup (node:electron/js2c/browser_init:81:3188)
    at IpcMainImpl.<anonymous> (C:\Users\shahul\AppData\Local\Programs\runjs\resources\app.asar\entry-bundle.js:8:71229)
    at IpcMai

[2022-06-04 14:05] lukehaas commented on #433
Thanks,
I've also noticed that in your screenshots the button itself has an odd appearance, it should look like this:
![Screenshot 2022-06-04 at 14 53 53](https://user-images.githubusercontent.com/741344/172003840-3fbd72f8-6cfe-4c40-b629-624a9b3cade2.png)
With three evenly sized and spaced lines. It looks like the button is somehow being squashed or stretched for you.

I think the errors in your l

[2022-06-04 14:13] lukehaas commented on #433
I've just managed to replicate the issue by adjusting the system text size. It seems if the text size is set to anything larger than 100% then it causes the menu to be un-openable.
I'll get this fixed in the next release. For now, you should be able to solve this by setting your system text-size to 100%.

[2022-06-04 14:17] #420 closed

[2022-06-04 14:23] lukehaas commented on #350
The latest version of RunJS - 2.4.1 includes an option to ask before closing a tab:
![Screenshot 2022-06-04 at 15 21 28](https://user-images.githubusercontent.com/741344/172006279-a253f520-818d-4dc2-935b-5dd24894f2c2.png)

[2022-06-04 14:23] #350 closed

[2022-06-04 14:34] shahul01 commented on #433
Thank you for solving this, appreciate it 😄

[2022-06-05 10:46] CarstenNeubert opened #435 "console.log displayed out-of-order?"
Hello. While trying to print some debug output using console.log, I noticed that I don't get the output in the expected order.

[code]

Output I'm getting:
[code]

Output I expected (and get in node.js directly):
[code]

I'd understand a delay, but I'm having trouble figuring out why the order is wrong, especially since just printing the value of `i` directly inside the loop yields the correct ord

[2022-06-05 11:05] lukehaas commented on #435
This is because you have Match Lines enabled:

![Screenshot 2022-06-05 at 12 04 34](https://user-images.githubusercontent.com/741344/172047551-6d2d655c-416d-4317-b0b7-9fd19d2ac9e9.png)

[2022-06-06 11:21] lukehaas commented on #435
@CarstenNeubert hope that's all clear. Closing this now.

[2022-06-06 11:21] #435 closed

[2022-06-06 12:15] CarstenNeubert commented on #435
@lukehaas yep! All good now. Thanks

[2022-06-07 23:22] difilippoagustin opened #436 "Can't buy RunJS license"
Hi! How are you? I'm trying to get the license from Argentina, but after select my country, I don't see the ZIP Code input and I can't continue.

![image](https://user-images.githubusercontent.com/52054509/172498978-8051d582-adda-4679-abda-4cd098b1fe88.png)

I love your app and I'd appreciate any help. Thanks!

[2022-06-08 08:40] lukehaas commented on #436
@difilippoagustin this error means there is an issue with your internet connection. Try connecting to a different network.
If the issue persists try contacting Paddle at assist@paddle.com

[2022-06-08 08:40] #436 closed

[2022-06-08 21:53] #372 closed

[2022-06-08 21:53] lukehaas commented on #261
This is now available in the latest release - version 2.4.1

[2022-06-11 18:08] Hamza-Sajid opened #437 "Error report for runjs 2.1.1"
Error:
[code]
OS: Windows NT 10.0.19044

[2022-06-12 04:25] mark1bean opened #438 "No obvious way to hide search bar (find/change)"
After doing a find/change, I can't seem to be able to hide the search bar. See screen shot.

RunJS version: `2.4.1`
MacOS version: `12.4`
Processor: `Apple M1`

<img width="756" alt="Screen Shot 2022-06-12 at 2 20 04 pm" src="https://user-images.githubusercontent.com/29587184/173214319-10011c22-3422-42fe-b094-73444c4f3d89.png">

[2022-06-12 10:44] shahul01 opened #439 "[feat req] minor - alt + click should add duplicate cursor"
Just like ctrl + alt + arrow (on windows) adds multiple cursor, sometimes you would like to specify other locations for cursor.
It would be useful if I could alt + click on other areas to add cursor there.

[2022-06-12 18:16] lukehaas commented on #438
Please press the escape key.

[2022-06-12 18:16] lukehaas commented on #437
@Hamza-Sajid please update to the latest version of RunJS

[2022-06-12 18:16] #437 closed

[2022-06-12 18:20] lukehaas commented on #439
@shahul01 this is already supported via cmd+click on mac and ctrl+click on windows and Linux.

[2022-06-12 22:37] mark1bean commented on #438
Um. Yes that worked. Thank you. Nothing to see here people.

[2022-06-12 22:37] #438 closed

[2022-06-13 13:03] shahul01 commented on #439
Got that, was using alt since vscode works like that.
Thank you.

[2022-06-13 13:03] #439 closed

[2022-06-13 14:34] lukehaas commented on #386
@shahul01 handlers for the home and end keys are a hardcoded part of the Codemirror hint addon: https://codemirror.net/5/addon/hint/show-hint.js
So this is not optional.

[2022-06-13 18:21] ruslanguns opened #440 "Can use it only with FullScreen"
From one day to another, I realized that the RunJS was executing but somewhat invisible, the app is open and it's actually functioning but doesn't work like a normal window. After a while using F11 with a combination of clicking, hovering, and switching with ALT+TAB it opened on full-screen, but it still not works on normal window.

On full-screen:
![image](https://user-images.githubusercontent.co

[2022-06-13 21:11] lukehaas commented on #440
Thanks @ruslanguns. It's not clear to me from your description what the issue is, could you explain a little more about how the window is not functioning like a normal window?

[2022-06-15 14:04] alankleindev opened #441 "Using Different Node.js versions with Run.js"
Is the ability to make use of different node.js versions something that runjs is capable of supporting? It seems today the latest version is using: v16.13.2.

[2022-06-15 15:01] lukehaas commented on #440
@ruslanguns to investigate and resolve this issue further information is needed. What exactly is the issue you are experiencing when the app is not full screen?

[2022-06-15 15:10] #380 closed

[2022-06-15 15:10] #261 closed

[2022-06-15 17:17] lfrkovic-spaceiq opened #442 "Feature request - action buttons"
Could we get the Run/Stop/Kill actions as buttons within the working tab please?

[2022-06-17 13:03] lukehaas commented on #442
I'm reluctant to add the stop/kill buttons here as there isn't much space, also these are likely to be used in more edge case scenarios and shouldn't typically be needed. Additionally, there are shortcuts for these that I would have thought would be more natural to use than clicking a button.

[2022-06-20 15:57] #441 closed

[2022-06-20 15:57] lukehaas commented on #440
Closing as the issue is not clear.

[2022-06-20 15:57] #440 closed

[2022-06-21 12:39] shahul01 opened #443 "Bug[minor] - pasting on newly opened tab gets deleted"
When I open a new tab and paste something, it gets deleted and I have to paste again(I don't mind, just a bug I wanted to let you know).

[2022-06-21 12:51] lukehaas commented on #443
Thanks @shahul01.
I'm not able to replicate the issue.
Are you seeing the pasted content disappear instantly or after a duration?
Are you pasting via a shortcut or via context menu or via the edit menu?

[2022-06-21 12:56] shahul01 commented on #443
Instantly after pasting, it disappears
I am pasting with ctrl + v shortcut

Oh
btw, I tried to replicate it, but it is not happening even after I restart the program.
but it has happened for a long time since I brought it..

[2022-06-21 13:04] lukehaas commented on #443
Ok, if the issue can't be replicated then there is no possibility of fixing it.
No one else has reported this issue before so it's likely to be an isolated issue.

[2022-06-21 13:04] #443 closed

[2022-06-22 05:41] moonkorea00 opened #444 "runJS frozen on mac"
hey the runJS app froze after i ran a function(assuming it continuously returned an error inside a loop).

i tried removing the app and reinstalled it but when opened, i started with the same code which again led to the app freezing.

wondering if theres a way i can reset the local data(?) since reinstalling it didnt work.

any solutions?

Thanks

[2022-06-22 05:44] moonkorea00 commented on #444
the actions do not work as well

[2022-06-22 05:47] moonkorea00 commented on #444
not sure why but changing the theme did the work!

[2022-06-22 08:49] lukehaas commented on #444
Thanks @moonkorea00, I'm not sure why changing the theme would affect this either. Could you provide an example of the code that you ran?

[2022-06-22 09:41] hand-dot opened #445 "Feature request - Open by Drag and Drop"
Cloud we open JS/TS files by drag and drop?

[2022-06-22 10:28] lukehaas commented on #445
Yep, good suggestion. Will aim to add support for this.

[2022-06-22 12:48] bloodred17 opened #446 "Feature Request: Custom Key bindings"
I don't want to learn new keyboard shortcuts again. Please support custom key bindings. I'm using the same keyboard shortcuts in VS Code and Webstorm. I'd like to use the same in RunJs.

[2022-06-26 05:44] moonkorea00 commented on #444
@lukehaas I ran code to test the Collatz conjecture i'm _assuming_ something went wrong along the way.

[2022-06-26 17:32] Aramantos opened #447 "Binary Tree Issue"
I am just making a binary tree and it seems to get stuck like its an infinite loop regularly, I just need to save the file and reopen it and it runs fine but will eventually break again.

`class Node {
  constructor(value) {
    this.left = null;
    this.right = null;
    this.value = value;
  }
}

class BinarySearchTree {
  constructor() {
    this.root = null;
  }
  insert(value) {
    const ne

[2022-06-26 20:43] lukehaas commented on #447
The issue will be due to the code containing an infinite loop:
[code]
Infinite loops are best avoided as they will crash whichever environment they are running in.
To resolve this in RunJS, you shouldn't need to restart the app, you can use the `Kill` action - found in the `Action` menu:
![Screenshot 2022-06-26 at 21 42 08](https://user-images.githubusercontent.com/741344/175833097-175fe711-c4c2-4

[2022-06-26 20:43] #447 closed

[2022-06-27 01:50] CharlyTalavera opened #448 "Chai library asserts not working properly"
Hi! First of all, congratz for the playground, i really love it.

It looks like `expect` from `chai` library is not working as expecting when you have 2 consecutives.

For example, the following code:
[code]

doesn't show any error in the console. (The second assert should be false, and since it fails, should show an AssertionError in the console).

But, if you comment the first expect, this way:

[2022-06-27 08:35] lukehaas commented on #448
@CharlyTalavera thanks for raising this. I'll look into it.

[2022-06-27 14:35] #444 closed

[2022-06-27 14:37] lukehaas commented on #444
Ok, without the steps to reproduce there's no real way to know what happened here. Closing.

[2022-07-04 19:23] morjuax opened #449 "Properties class are not supported."
[code]

Result:
[code]

[2022-07-04 20:34] lukehaas commented on #449
@morjuax please provide a screenshot of your transpilation settings:

![Screenshot 2022-07-04 at 21 34 07](https://user-images.githubusercontent.com/741344/177214026-f52e5983-95ba-4143-bb04-60aaa2e60224.png)

[2022-07-04 20:43] morjuax commented on #449
![image](https://user-images.githubusercontent.com/4973641/177214694-d7e0fb81-87e5-42fa-9aaf-15d0d338dc3f.png)

[2022-07-04 20:58] lukehaas commented on #449
The issue is due to `plugin-proposal-decorators` This causes issues for private class properties. Try unticking it.

[2022-07-04 21:04] morjuax commented on #449
Yes, it's that's, then I can't use decorator inside of a class?

[2022-07-05 08:55] lukehaas commented on #449
Not if the class has private properties.
https://babeljs.io/docs/en/babel-plugin-proposal-decorators#note-compatibility-with-babelplugin-proposal-class-properties
This seems to be a Babel issue as their docs describe changing the plugin order to avoid the incompatibility issue but as `plugin-proposal-class-properties` is part of `preset-env` now there is no way to do this.

[2022-07-05 13:28] morjuax commented on #449
Got it, thanks for the information.!

[2022-07-05 13:56] lukehaas commented on #433
@shahul01 the latest release resolves this issue.

[2022-07-05 13:58] lukehaas commented on #378
@shahul01 snippets are now supported in the latest release.

[2022-07-05 14:01] shahul01 commented on #378
This is a cool feature, will give it a try, thank you for making it 😁

[2022-07-05 14:03] #378 closed

[2022-07-05 14:03] #433 closed

[2022-07-05 23:03] egerardoqd commented on #378
@lukehaas I love this update. Would be possible to specify the cursor position when the snippet is called? something like Gedit have.

[2022-07-06 09:23] #273 closed

[2022-07-06 09:44] jimmyn opened #450 "Top level await"
Is it possible to allow for top level await the same way it works in Chrome console?

[2022-07-06 11:20] jimmyn commented on #42
I would love to see this feature!

[2022-07-07 17:33] egerardoqd opened #451 "Feature Request - Placeholders for Snippets"
The snippets really are a great feature. But I wish I could have more control over how they act. Placeholders would be solution ($0, $1, etc).

**Example:**
`console.log($0)` should position the cursor  inside the parenthesis after the snippet is called.

Here more examples:
[https://help.gnome.org/users/gedit/stable/gedit-plugins-snippets.html.en](https://help.gnome.org/users/gedit/stable/gedit-p

[2022-07-08 09:40] kazax-inc opened #452 "Benchmark like jsbench directly in app"
Add the ability to run comparative benchmark directly inside runjs like jsbench or other

just a basic drawing to illustrate:

![feature](https://user-images.githubusercontent.com/7147908/177963845-c0fad7df-dc4d-4f46-ba2a-4c186f515e32.png)

[2022-07-08 10:09] lukehaas commented on #452
@kazax-inc thanks for raising this. However, this change would require a significant amount of development time to implement and the value it adds is relatively small given that roughly the same insight can be achieved just by adding `console.time` to your code. Closing for this reason.

[2022-07-08 10:09] #452 closed

[2022-07-08 13:56] CharlyTalavera commented on #448
Great! Working like a charm on latest version. Thanks!

[2022-07-08 13:56] #448 closed

[2022-07-08 19:56] decpk opened #453 "Trying to add a new packge results in an error"
I'm trying to install any package but always end up in an error. Is there something that I have to add or change after having a license?

I'm using **Version 2.5.1 (2.5.1)**

<img width="554" alt="image" src="https://user-images.githubusercontent.com/37063026/178061747-6cff5b8e-06bb-4f3c-b477-47b611905541.png">

[2022-07-08 20:46] shahul01 commented on #451
Can you also add [tabstops ](https://code.visualstudio.com/docs/editor/userdefinedsnippets#_tabstops) and [placeholders](https://code.visualstudio.com/docs/editor/userdefinedsnippets#_placeholders)

![image](https://user-images.githubusercontent.com/53307156/178067971-118a9f52-6a36-433e-ac15-2f327ae2a407.png)
`

[2022-07-09 05:03] tomatobybike opened #454 "can not install"
“RunJS”已损坏，无法打开。 您应该将它移到废纸篓。

====================
RunJS-2.5.1-universal.dmg

MacBook Pro (Retina, 13-inch, Early 2015)
Mac os 12.3.1

[2022-07-09 10:33] lukehaas commented on #454
Try re-downloading and installing again.

[2022-07-09 10:35] lukehaas commented on #453
Please provide your debug log. You can access this from the `Help` menu:
![Screenshot 2022-07-09 at 11 33 39](https://user-images.githubusercontent.com/741344/178102114-0fe9c5bc-dd3b-4f02-ab46-52b449d7a555.png)

Also, what version of macOS are you using and is the CPU Intel or Apple?

[2022-07-09 18:20] decpk commented on #453
Hi @lukehaas I was using Macos Big sur on Intel chip till today. But today I updated it and it is working as expected.

[2022-07-09 18:20] #453 closed

[2022-07-10 01:35] jojojojojoj5564656465465 commented on #434
Hello @lukehaas I am using RUNJS on Fedora linux and TYPESCRIPT IS not working what shall i do please ?

[2022-07-10 01:41] jojojojojoj5564656465465 commented on #434
![Screenshot_20220710_034114](https://user-images.githubusercontent.com/45184918/178128040-492a1175-c4da-4808-b474-0a295077a713.png)

[2022-07-10 01:46] jojojojojoj5564656465465 opened #455 "FEDORA"
The file your provide to snap is not the latest. I didn't know why i had bugs

[2022-07-10 01:53] #455 closed

[2022-07-10 15:26] lukehaas commented on #434
@jojojojojoj5564656465465 this appears to be unrelated to the issue that this ticket describes. Please open a new ticket.

[2022-07-10 15:26] #434 closed

[2022-07-18 12:38] johnny4young opened #456 "Choose(or update) Node.js version used by Runjs"
I want an option to choose(or install) a specific(18) node.js version in Runjs.

<img width="481" alt="CleanShot 2022-07-18 at 07 36 53@2x" src="https://user-images.githubusercontent.com/112983/179512655-7cd37059-d4d9-405d-be66-6843aa86d08f.png">

[2022-07-18 13:04] lukehaas commented on #456
The Node version is inherited from Electron. Unfortunately, this means there is no way to specify a custom Node version.

[2022-07-18 13:04] #456 closed

[2022-07-22 00:28] 34fame opened #457 "Feature Request - Allow version specification for npm modules"
I would like to specify the version of the npm package I want to install.

My specific use case was attempting to add the `chalk` package to test something; however, the latest version of `chalk` only supports ES Module imports.  Older versions would work fine.

[2022-07-22 11:49] lukehaas commented on #457
@34fame you can install specific versions of packages by including the version number like this:

![Screenshot 2022-07-22 at 12 45 50](https://user-images.githubusercontent.com/741344/180432913-27b78ef4-56a0-442a-91f2-e5528df77726.png)

I'm not sure how useful the chalk package will be in RunJS as it's typically used for styling terminal output.

[2022-07-22 21:38] hunterwilhelm commented on #6
There is no guarding against infinite recursion!

[2022-07-24 01:06] Outcan opened #458 "I accidentally pasted a large SVG symbol into a tab, which then froze all tabs and then made JSRun unusable"
I accidentally pasted a large SVG symbol into a tab, which then froze all tabs and then made JSRun unusable.

I managed to gain access by quitting and then re-opening and quickly selecting a new tab but only after quite a few tries.

In the the comment panel : "<" unrecognised character

Suggest preventing the pasting of large clipboard content of the wrong type or more elegant  recovery method.

[2022-07-25 09:43] lukehaas commented on #458
Thanks, @Outcan. I will add some guarding against pasting large files in the next release 👍

[2022-07-25 09:45] #454 closed

[2022-07-27 12:38] will-stone opened #459 "Use .npmrc"
Hi 👋

Would it possible to read from `~/.npmrc` such that an alternative (company/internal) registry is used?

Thank you,

Will
— long time happy RunJS user/subscriber 😄

[2022-07-27 13:37] lukehaas commented on #459
Thanks, @will-stone. Yes, this is something I'd like to add support for at some point.
It would likely be something you specify in the preferences rather than the `~/.npmrc` as RunJS doesn't read from the home directory.

[2022-07-27 13:55] will-stone commented on #459
Okay cool, thanks @lukehaas 🙂

[2022-08-03 12:40] raliqala opened #460 "How to use yarn instead of npm"
Good day

I'm using runJS on windows 11 it's the latest version

Is there a way to use yarn instead of npm to install packages?

[2022-08-03 12:53] lukehaas commented on #460
NPM is packaged with RunJS, there isn't a way to use an alternative.
What's your reason for wanting to use Yarn?

[2022-08-03 13:04] #460 closed

[2022-08-03 22:07] jcandrade opened #461 "Annoying Time To Renew pop-up"
My license has expired, though every time that I open the application it shows a modal asking me to renew it.
The only 2 options are `Renew` or `Remind me later`.
It would be cool to have another option for not showing that pop-up anymore.

[2022-08-04 11:09] lukehaas commented on #461
I think it would be unwise to have an option to permanently dismiss this message for the following reasons:

When you see this, it means that you are no longer receiving updates which means that your versions of Node, V8, Chromium, Babel, TypeScript etc will not get updated. If this message were dismissed permanently, it would be very easy to forget that you're missing these updates and as a resul

[2022-08-04 23:14] jcandrade commented on #461
I can see that it's important, though I suggest to add something else, like a bar on the bottom that shows that the license is no longer active. Or at least do not display the message more than once per day. I'm only suggesting that because there are days that I reopen RunJS multiple times just for testing something real quick, though when I start typing, I'm automatically interrupted by the messa

[2022-08-05 09:11] decpk opened #462 "Error occured while installing packages"
Hi @lukehaas

I'm trying to install new packages but everytime it says **An error occured while installing _package_name_**

OS: macos Monteray 12.5
Runjs version: 2.5.1 (2.5.1)

<img width="637" alt="image" src="https://user-images.githubusercontent.com/37063026/183044265-3cee03d5-128d-4635-9901-021a437044d5.png">

[2022-08-05 09:12] decpk commented on #462
This is the second time I'm facing this issue. First time there was an update for runjs and I installed it and it remove the error and was able to install. But today again same issue.

[2022-08-05 09:39] lukehaas commented on #462
Please provide your debug log. You can access this from the Help menu:
![image](https://user-images.githubusercontent.com/741344/183050129-6dfedfca-511a-42bc-ac07-94ed66c0f43f.png)

Also, what version of macOS are you using and is the CPU Intel or Apple?

[2022-08-05 16:14] decpk commented on #462
It is intel based

**DEBUG LOGS**

[
  {
    "path": "/Users/praveenkumar/Library/Logs/runjs/main.log",
    "lines": [
      "[2022-04-11 16:19:51.896] [warn]  sysctl shell command to check for macOS Rosetta environment failed: Error: Command failed: sysctl sysctl.proc_translated",
      "sysctl: unknown oid 'sysctl.proc_translated'",
      "",
      "[2022-05-01 10:20:50.611] [error] Error: Error

[2022-08-06 10:05] lukehaas commented on #462
Thanks. From the logs, it looks like there have been some internet connection issues. Is it possible that you were disconnected from the internet at the time that you were attempting to install a package?

[2022-08-06 16:22] decpk commented on #462
No @lukehaas That's not a chance. I've tried multiple times with multiple connections

[2022-08-08 08:57] lukehaas commented on #462
Ok, you mentioned that installing packages worked and then stopped working; this likely means that the issue is external to RunJS. Are you aware of any changes on your system that coincide with this issue, such as changes to system settings or removing/updating Node?

One thing for you to test is if installing packages through the terminal works for you.
Try opening your terminal app and executing

[2022-08-08 09:01] lukehaas commented on #457
@34fame hope that's all clear. Closing now.

[2022-08-08 09:01] #457 closed

[2022-08-08 10:15] decpk commented on #462
Yes, Installing via npm worked. But still not working from runjs

[2022-08-08 10:28] lukehaas commented on #462
If you remove packages via RunJS, does that work?

[2022-08-08 10:57] decpk commented on #462
Yes, I'm able to remove packages with **remove** button

[2022-08-08 20:24] benjaminmodayil opened #463 "Question about logged result"
I was trying to run a code exercise from [this week's Bytes newsletter](https://bytes.dev/) and saw a weird result.

[code]

<img width="778" alt="CleanShot 2022-08-08 at 16 19 57@2x" src="https://user-images.githubusercontent.com/12306850/183507315-a52f8985-3ef9-4828-a5f2-3e14d0b46349.png">

I assume the 5 is related to the amount of items in the array, **but why is that logging?** If I comment o

[2022-08-09 07:54] lukehaas commented on #463
The 5 you're seeing is the ID that gets returned from `setTimeout`.

[2022-08-09 09:59] benjaminmodayil commented on #463
Whoops. Forgot setTimout returns that… 🤦‍♂️

On Tue, Aug 9, 2022 at 3:54 AM Luke Haas ***@***.***> wrote:

[2022-08-09 10:34] MazahirHaroon opened #464 "No output shown for a `for...loop`, keeps on loading instead."
Hi @lukehaas ,the RunJS sometimes does not show an output for even the basic for loop and all we see is a loading icon.
It is quite frequent and it doesn't even get fixed on restarting the same.
- Video walk-through of the same: https://www.loom.com/share/65633811913a402c8000b22567106898

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/19510062/183627613-799b4ca8-e4d8-

[2022-08-09 10:40] MazahirHaroon commented on #464
@lukehaas
- As per your response on the email, sharing the system details here:
  - System Details:
    - OS: macOS Monterey (Version 12.5)
    - Chip: Apple M1
- And I did the check the debug log as you had asked,  but when I pasted the same all I got was an empty array.
- More on it and also about a probable cause for this issue is discussed in this video: https://www.loom.com/share/6f03076c12b7

[2022-08-09 12:29] btecu commented on #463
Is it?
[code]

Returns an extra 10. Why would it change?

[code]
Doesn't return a 5.

[2022-08-09 12:31] btecu commented on #464
In the video example you had an infinite loop, `i = 0; i < -1; i++`.

[2022-08-09 12:35] lukehaas commented on #463
@btecu the ID that gets returned by `setTimeout` won't always be the same.

[2022-08-10 11:53] lukehaas commented on #464
@MazahirHaroon the video shows you're running an infinite loop.

[2022-08-10 12:57] MazahirHaroon commented on #464
@lukehaas You are right, the infinite loop that occurs because of the auto run (before I add the increment code in for...loop) was the cause here.

The kill command helped stop the loading.

In situations where I need work with such examples I will try switching off the auto-run. Thank you!

[2022-08-10 12:59] MazahirHaroon commented on #464
I would suggest though that it would be really good, if there was a better way handle the infinite loop conditions that arise as the auto-run feature was the major selling point for me in RunJS.

[2022-08-11 21:07] arsari opened #465 "Feature Request: Bracket Pair colors and vertical guidelines"
It will be nice to have bracket pair color and vertical guidelines to make the script under development more readable. Currently, the tool is fantastic, and adding these features as setting options or default will make the tool extraordinary.

[2022-08-12 11:01] #463 closed

[2022-08-12 11:02] #408 closed

[2022-08-12 11:03] lukehaas commented on #465
Thanks for raising this @arsari. However, this has already been requested here: https://github.com/lukehaas/RunJS/issues/383

[2022-08-12 11:04] #465 closed

[2022-08-13 14:03] melMass commented on #42
That would be great indeed, are there any news?

[2022-08-15 05:09] kosmaa opened #466 "Print snippets after Tab keystroke - Emmet style."
Snippets are great, but method to call them/print them is not convinient.

I would love to see to call them like in [Emmet](https://docs.emmet.io/).

So for example, if I have snippet for console.log that is abbrevieted to "cl",
https://capture.dropbox.com/MisyqFl2FsuEmVhX
I would love to write:
`cl` + tab keystroke to expand it to:
`console.log($0);`
(where `$0` points cursor position like in [pr

[2022-08-17 10:34] lukehaas commented on #466
Thanks, @kosmaa, this is a good suggestion. Will aim to implement this in a future release.

[2022-08-17 10:41] lukehaas commented on #464
Thanks, @MazahirHaroon you're right, it would be good if there were better ways of handling this. The difficulty is that there isn't much difference between a script that is running infinitely and one that is just long-running.
If I think of a good solution, I'll be sure to implement it 👍

[2022-08-17 10:41] #464 closed

[2022-08-18 09:44] jurajkapsz opened #467 "Only the last evaluated value is shown in the Output panel"
RunJS v2.5.1

**Issue:**
When I run a script eg:

[code]

only the last output or evaluation is shown in the `Output` panel, eg:

[code]

**Expected:**
To see all the outputs in the `Output` panel. This worked before. eg

[code]

[2022-08-18 09:50] jurajkapsz commented on #467
Sorry, I had deselected the `Show runtime values` option.

![runtime](https://user-images.githubusercontent.com/2209893/185365654-ae24775f-3713-4d8e-be99-16d094b3b204.png)

I deselected it in my last settings rundown, I thought it was something new as it was marked `experimental`.

[2022-08-18 09:50] #467 closed

[2022-08-22 12:28] hakansoylu1 opened #468 "RunJS freezes when trying to find unique values from array of objects with 20k+ lines"
Whenever I input data which is more than 20,000 lines, RunJS will crash and not respond. I must reboot it, quickly close the tab and reboot once more. This does not happen if I restrict the data to 15,000 lines.

Example code block:

`import _ from 'lodash'

const duplicates = [
  {
    colorGroupId: "333",
    styleGroupId: "131555"
  },
  {
    colorGroupId: "333",
    styleGroupId: "131555"
  }

[2022-08-22 12:44] lukehaas commented on #468
Thanks, @hakansoylu1. RunJS isn't well suited to dealing with very large amounts of code.
You could try putting your large array in a separate js file and importing it.

[2022-08-22 12:52] hakansoylu1 commented on #468
Hey Luke, Ah yes that works great. No lag and no crashing with the full data

[2022-08-22 17:00] lukehaas commented on #468
Great! Performance is an area of ongoing improvement. Hopefully, with future updates, 20k+ lines will run without issue.

[2022-08-22 17:00] #468 closed

[2022-08-23 15:11] CarstenNeubert opened #469 "Hang and no output"
Hello. When I enter the following code, RunJS shows a spinning circle in the top right corner of the input window and no result is shown in the output window.

[code]

It doesn't matter what I put on the second and third line. If the third line isn't there at all, the code still runs. Changing the `var` to either `let` or `const` will make the code work as well. I tried this with version 2.6.0 on

[2022-08-23 15:35] lukehaas commented on #469
Thanks for finding this issue and raising it!
It appears to be a bug related to the 'runtime values' feature. For now, I'd recommend disabling runtime values, which you can do from the advanced preferences.

I'll get this fixed in the next release. 👍

[2022-08-23 15:46] CarstenNeubert commented on #469
Glad to hear that! I can confirm that the same code works with runtime values disabled. And now that it's off, I realized that I quite like the feature :)

[2022-08-23 21:42] Ralexs0096 opened #470 "Unable to buy it!"

[2022-08-23 21:45] AlvisonHunterArnuero opened #471 "Buying Options on Website are not responding"
**Hi there!**
Dunno how many clients have attempted to buy your products, but when one tries to click on any of the save 5%, save 10%, etc buttons, one is not able to get any response from this event.  if one goes to the Buy option on the main menu, this redirects to https://runjs.app/buy, however, when you click on Buy RunJS, this thing does not work either, are you guys aware of this already?

[2022-08-23 21:47] Jean-Cairoli commented on #471
Hello Team
I am facing the same issue.

[2022-08-24 08:11] markthbkk opened #472 "ffmpeg.dll was not found"
When trying to install RunJS.exe v2.6.0 the install succeeds but after closing the program the next load produces the message "The code execution cannot proceed because ffmpeg.dll was not found". It is then possible to re-install the same version again but with the same subsequent result. I also experienced this with an auto-upgrade from v.2.3.0. The operating system is Windows 11 (22000.856)

[2022-08-24 08:32] lukehaas commented on #471
@AlvisonHunterArnuero @Jean-Cairoli thanks for bringing this to my attention.
I've not been able to replicate the issue. Could you tell me what browser you are using?

[2022-08-24 08:39] lukehaas commented on #472
@markthbkk this error can occur if your system files are corrupt or missing. Try using the Windows built-in SFC tool to scan and repair your system files.
Here are some instructions on how to perform this scan https://appuals.com/how-to-run-sfc-scan-in-windows-10/

[2022-08-24 09:33] markthbkk commented on #472
Issue resolved after running sfc /scannow

[2022-08-24 09:33] #472 closed

[2022-08-24 12:24] adjohnston opened #473 "Duotone Dark Sky theme no longer available"
This is not a major thing but I noticed after the recent update that Duotone Dark Sky is no longer available as a theme in 2.6.0 (17th August update). It's removal is not mentioned in the change notes. I'm a big fan of this theme (and Duotones in general). Any chance of it making a return?

[2022-08-24 14:15] lukehaas commented on #473
Yes, Duotone Dark Sky was removed in the last release. I've been working on improving the selection of themes by adding requested themes. In order to avoid bloat I've also been removing some themes that I considered to be of a lower standard.

I'm fine with reconsidering Duotone if you and possibly others feel strongly about it.

[2022-08-24 14:43] Jean-Cairoli commented on #471
Hello @lukehaas

Thanks for your prompt response, in my case I am using Google Chrome & Brave

If I click on Save 5% button to buy 5 licenses, this error appear in the console

[code]

[2022-08-24 15:18] AlvisonHunterArnuero commented on #471
It happens in Chrome, Brave and Safari, Sir!

[2022-08-24 15:19] lukehaas commented on #471
@Jean-Cairoli thanks for providing that.
It could be that a script required for the checkout is being blocked. If you take a look in the network tab, do you see any scripts that are failing to load?

[2022-08-24 15:55] Jean-Cairoli commented on #471
Yes, the one failing is ` paddle.js`

![image](https://user-images.githubusercontent.com/93626102/186465226-fe711499-cacf-4445-ac31-9a851f7bad30.png)

[2022-08-24 16:16] lukehaas commented on #471
Thanks, I've contacted Paddle support and provided them with those details. Hopefully, they should be able to get this resolved soon.

[2022-08-24 16:20] Jean-Cairoli commented on #471
Great, thank you

[2022-08-24 16:23] lukehaas commented on #470
Thanks, @Ralexs0096. Please take a look at https://github.com/lukehaas/RunJS/issues/471

[2022-08-24 16:27] lukehaas commented on #462
@decpk in version 2.6.0 I've made some improvements to the error logging that may provide some better insights into the issues you're facing.
Could you try updating and then attempting again to install an NPM package? After that, copy your debug log again from the help menu and paste it here, please.

[2022-08-24 16:28] lukehaas commented on #356
@michaeljaggers the Ayu theme is now included in RunJS version 2.6.0.
Thanks again for raising this.

[2022-08-24 16:28] #356 closed

[2022-08-24 16:45] AlvisonHunterArnuero commented on #471
This is good man, this issue is not good for the business. Thanks for your prompt response!

[2022-08-25 12:32] decpk commented on #462
After updation, I'm able to install packages.

[2022-08-25 12:32] #462 closed

[2022-08-25 19:47] lukehaas commented on #471
@AlvisonHunterArnuero @Jean-Cairoli Paddle are investigating the issue and have asked if you could provide your IP addresses. You can find your IP address on this site: https://whatismyipaddress.com/
If you'd prefer not to post this publicly here, please email mail@runjs.app

[2022-08-25 20:59] AlvisonHunterArnuero commented on #471
**Yikes!** It is not a great idea to share my IP address, even if I am behind a router or modem using a DHCP server and this one changes it dynamically. Sorry, can't really help you with this one, pal,  not even to your email.

[2022-08-25 21:11] lukehaas commented on #471
@AlvisonHunterArnuero sure, I understand.

[2022-08-26 10:44] #470 closed

[2022-08-26 10:53] lukehaas commented on #471
@AlvisonHunterArnuero @Jean-Cairoli I have now heard back from Paddle. It looks like the issue is due to your location being in one of Paddle's sanctioned countries. You can see this list here: https://www.paddle.com/help/start/intro-to-paddle/which-countries-are-supported-by-paddle

I'm Very sorry to say this means you won't be able to Purchase RunJS while you're connected to a Network in your cu

[2022-08-26 13:18] AlvisonHunterArnuero commented on #471
Oh, ok, we understand. Thanks for checking this out, you're awesome. It would be ideal, mostly for **UX/UI purposes**, to display a toast or change the color or the button or simply show a helper error stating this when a customer from any of these restricted countries tries to buy, so that we are all aware of what is going on. Thanks again for your responses, have a great day!

[2022-08-26 13:48] lukehaas commented on #471
@AlvisonHunterArnuero thanks. You're right about the UX, I'll improve the error handling.

[2022-08-26 18:56] adjohnston commented on #473
I'm probably in the minority but custom theming might be nice in a similar manner to how iTerm2 handles it. Anyways. Thanks for the good work with this project. I find it very valuable.

[2022-08-27 15:22] #471 closed

[2022-09-04 12:13] asmirbelkic commented on #466
would also be cool to implement the use of github copilot i have a license and it's so cool to use it in vscode

[2022-09-05 16:11] Braian85 commented on #446
It would be also interesting adding shortcuts to move lines up and down with alt+up/down and duplicate lines with shift+alt+up/down.

[2022-09-06 10:28] lukehaas commented on #458
The latest release has a guard against pasting large files.

[2022-09-06 10:28] #458 closed

[2022-09-06 10:31] lukehaas commented on #446
@Braian85 the shortcut for moving lines up/down are Cmd+Ctrl+Up and Cmd+Ctrl+Down. Duplicating a line is Cmd+Shift+D.

Shortcuts are documented here: https://runjs.app/docs#shortcuts

[2022-09-06 10:34] Braian85 commented on #446
Thanks!

[2022-09-06 10:38] lukehaas commented on #461
In the latest release, this message appears as soon as you open the app. Hopefully, this should be more convenient.

[2022-09-07 05:04] moracabanas opened #474 "Unable to fix "cannot use import statement outside a module" error with Babel transpilation"
When I import a module I get `cannot use import statement outside a module` error.

I tested the [purposed ](https://runjs.app/blog/how-to-solve-cannot-use-import-statement-outside-a-module)Babel configuration and still getting this error

![image](https://user-images.githubusercontent.com/4382333/188792668-d4ee92a5-80a7-4743-9f36-2adedc5593ae.png)

![image](https://user-images.githubusercontent.c

[2022-09-07 09:29] lukehaas commented on #474
It looks like the pizzly-js library has import statements in its distributed output js.
To use this library, you will either need to enable bundling from the advanced preferences or switch to the Node version of the library `pizzly-node`.

[2022-09-08 14:37] davidallanturner opened #475 "Unable to open fresh new tab or Save As behind paywall"
As of update, I am unable to open a new file. Because Save As is behind the paywall, and closing the only open tab will close the program, there is no way to now access a blank file for saving.

Is this intentional, or unintentional?

Thanks,

[2022-09-08 14:55] lukehaas commented on #474
@moracabanas hope that's all good. Closing now.

[2022-09-08 14:55] #474 closed

[2022-09-14 13:18] #475 closed

[2022-09-14 17:47] jonniedarko commented on #292
I feel this should still work without the console logging

[2022-09-16 10:47] danirons opened #476 "Unable to close 'find' dialogue"
Hey firstly amazing app, use it constantly while I'm working.

One issue I keep noticing, is I accidentality open 'find' when I go for a shortcut to format code (my mistake), but when I do, there are a couple of issues:

1 - Unable to close the 'find' search field that opens up.
2 - the search dialogue covers the first line in the editor, which coupled with not being able to discard the search fie

[2022-09-16 11:38] dembee111 opened #477 "it's simple loop, but it can't"
let isArr = [1,2,3,5,4,6,7,8]

isArr.forEach((arr, index) => {
  if(arr === index + 1){
    console.log('true', arr, index + 1)
  }else{
    console.log('false')
  }
})

[2022-09-16 13:05] btecu commented on #477
What is the issue?
<img width="629" alt="image" src="https://user-images.githubusercontent.com/7517745/190645561-71b62888-be29-4b9b-962c-ffece4545211.png">

[2022-09-17 12:02] lukehaas commented on #476
@danirons you can close find by pressing the Escape key.

[2022-09-17 12:17] lukehaas commented on #477
@dembee111 without any detail I can't be sure what the issue is here, but my guess would be it relates to the order of the output.

If you want to display the output in its natural order of execution, disable the match lines option.
![Screenshot 2022-09-17 at 13 13 21](https://user-images.githubusercontent.com/741344/190856263-d138be65-8d30-4e9e-b390-e6620a072c35.png)

![Screenshot 2022-09-17 at 1

[2022-09-18 03:19] mmikeyy opened #478 "importing from another file is cumbersome"
In file A, I want to import a function from another file B.

In that other file B, I have

import * as R from 'ramda'

When that file is open, I can test the functions defined within it without problems.

Let's say function "fn" is defined in file B and I want to import if into  file A.

In that file A, I have "import {fn} from 'B'. It's super annoying that 'B' has to be defined with a full path.

[2022-09-18 15:27] michaeljaggers commented on #356
Hey thanks!  I see the light theme is included.  I personally use ayu-dark and there is also ayu-mirage.  Just and fyi.  Appreciate the work!

[2022-09-19 02:58] dembee111 commented on #477
thank you

[2022-09-19 02:58] #477 closed

[2022-09-19 08:51] lukehaas commented on #478
Thanks, @mmikeyy.
In RunJS you can think of each tab as its own sandboxed playground. If you reach a point where you need multiple files, it's best to switch to a more appropriate tool like VS Code.
However, for the situation you've described there are a couple of things you can do to avoid the issues you're having. Firstly, to avoid long import paths, you can set a working directory and import fi

[2022-09-20 21:03] izuchukwu opened #479 "Feature Request: Add Windows"
Hello. Great product. Paying customer. Please add windows. I frequently really want to see playgrounds side by side and group tabs by related work.

Thank you.

[2022-09-21 01:56] mmikeyy commented on #478
Thanks for the reply. And sorry for the delay. Overwhelmed with tight deadline...

I've been using the tool finally and find it useful to quickly test simple stuff. It just takes some time to get used to some quirks like the ones mentioned.

Thanks again!

[2022-09-21 07:51] lukehaas commented on #478
@mmikeyy thanks. Hopefully, those suggestions were helpful. Closing this ticket now.

[2022-09-21 07:51] #478 closed

[2022-09-21 14:28] #476 closed

[2022-09-21 14:31] lukehaas commented on #209
ES modules are now supported. Just enable bundling via the preferences.

[2022-09-21 14:31] #209 closed

[2022-09-23 01:38] grok314 opened #480 "prompting to save only when necessary"
Proposing a feature:
When closing a tab, only prompting to save if the document has changed since the last save or hasn't been saved.

I am aware of the "confirm close" option, but that prompts every time regardless of editing state.

Thanks!

[2022-09-23 08:56] lukehaas commented on #480
Thanks, @grok314. My concern with this is that I think promoting to save when the tab contents haven't been saved will essentially cause this prompt to almost always appear when closing a tab as working with files isn't a core part of RunJS.

[2022-09-23 13:28] grok314 commented on #480
Could you make it an option? Maybe replacing the  current confirm close option?

[2022-09-23 14:10] lukehaas commented on #480
The confirm close option is there to help prevent the accidental closing of tabs, regardless of the save status of the tab. Changing it to relate to the save status would reduce its usefulness.

One scenario where it may be good to add a prompt is when closing a tab that has been saved and then updated. So when there are unsaved changes.

[2022-09-29 08:37] vimalkodoth opened #481 "es6 class properties support - babel support"
Problem:
SyntaxError: Class fields are not enabled. Please add `@babel/plugin-proposal-class-properties` to your configuration.

I'm not able to use class fields in RUNJS. Is there someway I can use the same ?. Good if we have a hook to change babel script.

[2022-09-29 09:18] lukehaas commented on #481
`@babel/plugin-proposal-class-properties` is included in `@babel/preset-env` now, so there is no need to add it.

There is a compatibility issue with class properties and decorators: https://babeljs.io/docs/en/babel-plugin-proposal-decorators#note-compatibility-with-babelplugin-proposal-class-properties
Disable the decorators plugin to enable class properties.

[2022-09-29 09:18] #481 closed

[2022-09-29 16:23] jonniedarko commented on #292
@lukehaas sorry for delay responding, but I get this when I try to do the same, I did seem to spot it doesn't error if I add semi-colons but I don't feel I should since js doesn't require it
![Screen Shot 2022-09-29 at 12 21 17 PM](https://user-images.githubusercontent.com/3673943/193085616-c67d01d5-90cb-47be-800b-c492c3f024ff.png)

[2022-09-29 16:31] lukehaas commented on #292
thanks, @jonniedarko. I see what the issue is. This is one of the rare edge cases where semi-colons are essential.
You're right, JS doesn't require them but leaving them out does create errors in a small number of cases.

[2022-10-03 09:45] lukehaas commented on #479
@izuchukwu, thanks for raising this. However, this would be a significant change and require a lot of dev time to implement.
Also, as this is the only time this has been requested I don't think there is enough demand to justify taking this on. Closing for that reason.

[2022-10-03 09:45] #479 closed

[2022-10-03 15:38] ear1grey opened #482 "Education License"
There's nothing in the FAQ about education licenses.  Have you considered offering these for students/educators?  It can be a good way of building a loyal/indoctrinated customer base who are at the start of their careers and take their knowledge of RunJS to many companies.

[2022-10-03 15:48] #482 closed

[2022-10-04 14:48] byronthe123 opened #483 "Changing tab width has no effect (Windows)"
As stated in the title - changing the tab width does not change the tab spacing, it's stuck on 2 spaces. I am on Windows with version 2.6.0 installed.

[2022-10-04 17:14] byronthe123 commented on #483
Preferences -> Formatting -> Tab Width
![image](https://user-images.githubusercontent.com/22138809/193883565-9eda57ec-2b41-471b-bde6-cb65073eb60c.png)

[2022-10-05 09:19] lukehaas commented on #483
I see. This is because you've toggled "Use Tabs" on. Tab width defines the number of spaces to use when you're not using tabs. Further documentation about this behaviour can be found here: https://prettier.io/docs/en/options.html#tab-width

[2022-10-05 16:17] byronthe123 commented on #483
I turned off the "Use tabs" option but the default indendation is still 2 spaces. If I run use the Format Code action (from Actions), it correctly formats all the code to the specified tab width, but the default indentation on a new line remains 2 spaces.

Also, I don't see any option to edit the Prettier settings directly via JSON (like in VSCode) - is this option not available in the Windows ver

[2022-10-05 16:49] lukehaas commented on #483
The formatting options are purely for Prettier. They don't influence the editor options. A new option would need to be added in the appearance tab to set the indent units.

There isn't an alternative option to edit the Prettier settings via JSON, the options you see in the formatting tab map 1:1 to the Prettier options

[2022-10-05 17:14] byronthe123 commented on #483
Understood - thank you for clarifying. I'll close the issue out, but do you have a plan to implement the option to set the indent units in the appearance tab?

[2022-10-05 17:14] #483 closed

[2022-10-05 17:18] lukehaas commented on #483
Thanks. Happy to consider implementing the option if you and others want it. 👍

[2022-10-06 21:30] byronthe123 commented on #483
Thanks and just wanted to say that this is an excellent piece of software - I plan to use it more instead of other web options such as replit because of the faster code execution speed and the fact that there's no initial load time.

[2022-10-07 11:02] lukehaas commented on #483
Thanks, really glad to hear that.

[2022-10-07 19:17] kevinlens opened #484 "Feature Request: Option to hide space dots"
when I'm writing code it's very distracting to see the dots to fill in the spaces I've used and would love and option to disable those annoying looking dots. Thanks.
<img width="100" alt="CleanShot 2022-10-07 at 12 16 57@2x" src="https://user-images.githubusercontent.com/48570648/194637712-9137b918-b10d-4d1f-8eb3-b8dd59df62a1.png">

[2022-10-08 11:39] lukehaas commented on #484
@kevinlens you're seeing the dots because you've turned on the option to show invisible characters:

![Screenshot 2022-10-08 at 12 37 28](https://user-images.githubusercontent.com/741344/194705566-f8d3d48a-7f07-4e0c-943c-6d81d7d9ecfb.png)

[2022-10-09 12:40] jurajkapsz opened #485 "Wrong __proto__ output?"
RunJS `v2.7.1`

The **Output pane** shows by the looks a wrong `__proto__`.

[code]

![image](https://user-images.githubusercontent.com/2209893/194757184-43e22f34-bc06-42c1-be8f-2f3aa2befa92.png)

[2022-10-09 15:10] lukehaas commented on #485
@jurajkapsz thanks for raising this. I'll look into it.

[2022-10-09 15:17] lukehaas commented on #461
@jcandrade I've made a further update to this in the latest release. 2.7.1.
The message is now displayed inline instead of a popup dialog box.

[2022-10-09 15:17] #461 closed

[2022-10-09 15:18] lukehaas commented on #445
@hand-dot this is now supported in the latest release - 2.7.1

[2022-10-10 14:36] lukehaas commented on #469
@CarstenNeubert this is fixed in the latest release - version 2.7.1

[2022-10-11 14:14] jurajkapsz opened #486 "Can't mouse-click on save changes dialog"
RunJS: `v2.7.1`
OS: `GNU/Linux, XFCE, Xubuntu 20.04`

When I want to close a file/tab with unsaved changes, I can't mouse-click on the dialog, only use keyboard.

![image](https://user-images.githubusercontent.com/2209893/195113221-d23737de-281f-4edc-a673-53d90574d826.png)

**Steps to reproduce:**

1. Open a file
2. Make some changes
3. Close the file / tab without prior saving the changes
4. A `S

[2022-10-11 14:49] lukehaas commented on #390
@bdJohnson72 are you still seeing this issue in the latest release - version 2.7.1?

[2022-10-11 17:05] liucaihe opened #487 "[enhancement] npm package update"
The npm package cannot detect the new version, I hope to increase the detection of the new version and prompt the update

It is hoped that the left and right panes of multiple files can be set uniformly, rather than individually.

When multiple files are opened, drag-and-drop applications appear unfriendly

[2022-10-11 17:12] lukehaas commented on #487
"It is hoped that the left and right panes of multiple files can be set uniformly, rather than individually."
I'm not sure what this means and how it relates to NPM packages. @liucaihe please provide more detail.

[2022-10-11 17:25] liucaihe commented on #487
@lukehaas Thank you for your reply

you can only install and remove here, you can't detect new versions and updates

<img width="569" alt="image" src="https://user-images.githubusercontent.com/1629293/195157899-1ae15e02-435d-45ed-b74f-79751d76dc5a.png">

[2022-10-12 10:02] lukehaas commented on #487
@liucaihe ok, and what does this mean:

[2022-10-12 22:27] gielfull opened #488 "Snippets don't works writting the full alias [v2.7.1][BUG]"
Actually on version v2.7.1, when we create a snippet and then try to use it. It only works when you write the alias minus 1 letter.

example:

<img width="155" alt="image" src="https://user-images.githubusercontent.com/1095936/195456783-f92baa2d-7f46-4b40-ac88-731213e0237e.png">

<img width="296" alt="image" src="https://user-images.githubusercontent.com/1095936/195456830-659545ff-513a-4379-873f-8

[2022-10-13 08:15] liucaihe commented on #487
@lukehaas

The area that can be dragged is very small, limited to a small area in the upper left corner, which is very unfriendly, Other areas cannot be dragged.

![Kapture 2022-10-13 at 16 12 31](https://user-images.githubusercontent.com/1629293/195540972-d8856c84-e9e8-4ea8-82ec-7bc66f980e7c.gif)

![Kapture 2022-10-13 at 15 08 28](https://user-images.githubusercontent.com/1629293/195541179-067137

[2022-10-13 08:46] lukehaas commented on #487
I see. The gap that is provided here is intended for dragging the window when the tab bar is full.
![Screenshot 2022-10-13 at 09 45 08](https://user-images.githubusercontent.com/741344/195548661-08973a85-30ba-45c9-8aa5-076af7375d57.png)
Are you saying the width of this space should be increased?

[2022-10-13 09:45] lukehaas commented on #488
Thanks, @gielfull. I'll look into it 👍

[2022-10-13 09:46] lukehaas commented on #484
@kevinlens is this all clear and ok to be closed?

[2022-10-13 10:32] jurajkapsz opened #489 "Feature Request: Case insensitive autocomplete suggestions"
RunJS `v2.7.1`

When I type JS expressions, I'd welcome to have autocomplete suggestions to be case insensitive, as they are in other text editors like vscode, sublime etc.

As of now, in RunJS, I have to match the capital letters to get certain suggestions. Eg. `document.getele` breaks off from eg a `.getElementById` suggestion etc.

[2022-10-13 11:56] jurajkapsz commented on #489
Sounds great! Thanks very much @lukehaas !

[2022-10-13 12:52] jurajkapsz opened #490 "Non-existing file history"
## Version
RunJS: `v2.7.1`
OS: Linux

## Issue
When I open an existing file and hit `Undo` or `Ctrl+Z`, the file's whole content gets removed or deleted.
`Redo` brings it back, but it's scary :)

This also happens for reopened remembered file tabs, when I launch RunJS.

## Expected
The `Undo` would work only up to the changes I made on the file myself.
Reading the file into the app wouldn't be par

[2022-10-13 12:57] lukehaas commented on #490
Thanks again @jurajkapsz. I'll resolve this in the next release 👍

[2022-10-13 13:50] jurajkapsz commented on #490
Thank you @lukehaas !

[2022-10-13 18:23] liucaihe commented on #487
Yes, currently only this area can be dragged.
It is recommended to expand the space in the "+" area in the upper right corner.

<img width="142" alt="image" src="https://user-images.githubusercontent.com/1629293/195676307-e157c77c-5215-4ea1-846d-6cba304b9f30.png">

[2022-10-14 13:19] Ravetracer opened #491 "Intl.DateTimeFormat does not return correct time"
Hi,
I wanted to try out some date/time related stuff before implementing it in my project and stumbled over some strange behaviour in RunJS.

The result of my code (screenshot attached) should show 15:40:30 and not 14:40:30. There's one hour difference between UTC and the real German time zone here. I also tested it in jsFiddle and codepen where the result was correct.

![intl_datetimeformat](http

[2022-10-14 13:40] lukehaas commented on #491
Thanks, @Ravetracer. Just so I can get a clear idea of the issue here:
The UTC time you're setting is 13:40:30.
GMT is the same as UTC so the time in London is the same, 13:40.
Berlin is an hour ahead of London, so the 13:40:30 UTC time should be 14:40:30 in Berlin.
What am I missing here?

![Screenshot 2022-10-14 at 14 35 28](https://user-images.githubusercontent.com/741344/195861267-ad143443-769

[2022-10-14 15:35] Ravetracer commented on #491
Oh dear, I made a mistake. Currently it's "summer time" in Germany so it's UTC+2 but from Oct. 30th it's UTC+1 again.
I hate this summer/winter time switch. It's useless.
But still thank you for your time and investigation!

[2022-10-14 19:34] sergal-developer opened #492 "the autocomplete function does not work"
It may be a configuration of my environment but I have 2 computers with the license activated and it does not autocomplete the functions

![image](https://user-images.githubusercontent.com/13501275/195927734-e67dedcb-25e9-4e3e-8e60-d15f74d2ab3b.png)

![image](https://user-images.githubusercontent.com/13501275/195927251-3ee6553d-18b0-4522-bfa0-3d31e1883da8.png)

[2022-10-15 13:36] lukehaas commented on #492
@sergal-developer please provide your debug log.
![Screenshot 2022-10-15 at 14 36 25](https://user-images.githubusercontent.com/741344/195989349-a00b7227-11aa-40fd-8ac5-76ea91ba2839.png)

[2022-10-15 13:38] #491 closed

[2022-10-16 06:11] sergal-developer commented on #492
the function only return the next code:

{
  "version": "2.7.1",
  "platform": "win32",
  "arch": "x64",
  "logs": []
}

[2022-10-16 11:02] lukehaas commented on #492
@sergal-developer thanks.
Are you seeing hover info when you hover over your code?
Could you check what version of Node is installer by running `node -v` in your terminal?

[2022-10-19 06:28] OussamaRomdhane opened #493 "Some newer methods cause a warning, but still work"
This happened to me with `flatMap` and `flat`, I think it's a tsconfig thing most probably

<img width="1280" alt="Screenshot 2022-10-19 at 08 26 42" src="https://user-images.githubusercontent.com/4337769/196613218-09db92ef-22e2-4efb-b907-d294de92c4c5.png">

[2022-10-19 08:23] lukehaas commented on #493
Try deleting the tsconfig file located in `~/Library/Application\ Support/runjs` and restart RunJS.

[2022-10-19 14:04] #480 closed

[2022-10-19 14:05] lukehaas commented on #451
@egerardoqd the `$0` placeholder is now supported in version 2.7.1

[2022-10-19 14:05] #451 closed

[2022-10-19 14:06] #484 closed

[2022-10-20 07:05] #493 closed

[2022-10-20 12:09] jelitter commented on #178
Seems odd to me that this issue is closed. The application should handle this kind of issue, without the user needing to google his way to the solution.
I've had this problem a couple of times since I purchased the license. Everytime I need to google for the way to resolve it.
Thanks!

[2022-10-20 13:02] lukehaas commented on #178
@jelitter this is closed because RunJS now guards against pasting large objects. The paste limit is 5MB.
Please ensure you are using a recent version of RunJS.

[2022-10-20 18:13] sergal-developer commented on #492
Uninstall and reinstall RunJs and activate it again and that is the log that appears

{
  "version": "2.7.1",
  "platform": "win32",
  "arch": "x64",
  "logs": [
    {
      "path": "C:\\Users\\sergio.gallegos\\AppData\\Roaming\\runjs\\logs\\main.log",
      "lines": [
        "[2022-10-19 22:10:28.502] [error] [renderer] Error: ERR_ABORTED (-3) loading 'data:text/html;base64,CiAgICA8aHRtbD4KICAgI

[2022-10-21 07:17] jelitter commented on #178
Hello. I am indeed using the latest version. The application still freezes
when having a large enough object in the file (way under 5MB).

It would be nice to have the ability to kill dead tabs from within the
application.

On Thu, Oct 20, 2022, 14:03 Luke Haas ***@***.***> wrote:

[2022-10-21 09:18] lukehaas commented on #178
@jelitter what's the size of the object you're pasting in?

You should try turning off transpilation and runtime values. With these turned off, you will see a performance improvement.

[2022-10-21 09:26] lukehaas commented on #492
Thanks, @sergal-developer. Your Node version is a few years old, would it be ok for you to update this to at least version 14?

[2022-10-22 03:25] sergal-developer commented on #492
Ok, I updated and it works correctly, thanks for the answer

[2022-10-22 03:25] #492 closed

[2022-10-24 12:39] lukehaas commented on #486
@jurajkapsz thanks, I'll look into it.

[2022-10-25 16:30] #390 closed

[2022-10-25 17:28] jurajkapsz commented on #486
Thanks @lukehaas !

[2022-10-25 23:11] diegoMrSM opened #494 "'this' has the implicit type 'any' because it does not have a type annotation. any"
Version 2.7.1
I have a class :
function Queue(){
  this.array = [];
}
Issue:
But there a compilation error in the 'this' , :
'this' has the implicit type 'any' because it does not have a type annotation. any //
'this' tiene el tipo implícito 'any' porque no tiene una anotación de tipo.
any

[2022-10-26 08:16] lukehaas commented on #494
@diegoMrSM could you explain further how this is an issue and what your expectation is?

[2022-10-26 20:51] diegoMrSM commented on #494
Hello Lukas.
If I declare a Class correctly, my expect is that doesn`t there compilation error any.  I did pay the license for the aplication runJs.
This is the Class :
  function Queue(){
this.array = [];
}    and the error is in the this, Not there so much that explain about it issue. The  error compilation says:
"'this' has the implicit type 'any' because it does not have a type annotation. any

[2022-10-26 21:14] diegoMrSM commented on #494
![image](https://user-images.githubusercontent.com/102711304/198139460-b055d252-ca83-4b6e-af79-372d47c93393.png)

[2022-10-27 08:09] lukehaas commented on #494
@diegoMrSM You're seeing the error because you haven't added a type annotation for `this`.
You can avoid the error by adding a type annotation, for example:

![Screenshot 2022-10-27 at 09 09 22](https://user-images.githubusercontent.com/741344/198228277-8b58e7f8-fd0d-404a-a357-05d5a043be35.png)

[2022-10-27 14:25] diegoMrSM commented on #494
Good!! , thanks Lukehaas !! I didn't know  and  my teacher also not which was the problem.
Thank you very much.

[2022-10-27 14:56] #494 closed

[2022-10-27 19:42] L1ghtingBolt commented on #417
I also think that. I'm using a Linux desktop customized with Catppuccin on everything, and would be pretty nice to also have RunJS with Catppuccin

[2022-10-29 17:26] bresson opened #495 "App freezes with with the following code"
There is also no potential for recovery. Closing and starting the app triggers the function with no options to bail.

[code]

[2022-10-30 11:39] lukehaas commented on #495
@bresson click on `Kill` in the `Action` menu: `Action -> Kill`:
![Screenshot 2022-10-30 at 11 38 58](https://user-images.githubusercontent.com/741344/198876500-c640aecc-37ed-4ccc-9fe8-aafdb823afdf.png)

[2022-11-02 09:37] csr opened #496 "Code run in different order"
I have this snipped of code. Any idea why the console.log output order in RunJS differs from the one in the web broswer console?

[code]
![screenshot_runjs](https://user-images.githubusercontent.com/10504710/199455543-a0f07672-b6d8-4b87-a852-f4796aa7b32a.png)

I am expecting the logging order to match the one in the browser, but it looks like things appear in a different order in RunJS. Thanks.

[2022-11-02 09:55] lukehaas commented on #496
@csr This is because you have line matching turned on:

![Screenshot 2022-11-02 at 09 54 20](https://user-images.githubusercontent.com/741344/199459682-5f97ce57-21a7-42ca-99ab-ff54e37cff0e.png)

[2022-11-02 10:03] csr commented on #496
Sweet, thank you!

[2022-11-02 11:59] lukehaas opened #497 "Output in wrong order?"
Why does the output appear out of order?

[2022-11-02 12:01] lukehaas commented on #497
By default, RunJS will display the output of your code on the same line as the corresponding source. For example, here are two statements, on lines two and four respectively and their output results are displayed on the same lines:

![match-lines](https://user-images.githubusercontent.com/741344/199484558-d0c8f00b-5566-46ed-bab5-894bf42a3633.png)

In some scenarios, this behaviour might not be wha

[2022-11-02 14:04] #495 closed

[2022-11-02 18:51] kalon-robson commented on #414
+1

[2022-11-03 02:12] xfrancool commented on #489
Hola! Si, a mi en lo personal no me esta funcionando el autocompletado a pesar de que en la preferencia tenga marcada esa casilla.  Si reinstalo la aplicación se me solucionaría el error?

[2022-11-03 09:59] lukehaas commented on #489
@xfrancool autocompletar no funciona es un problema no relacionado con esto. Eche un vistazo a este ticket: https://github.com/lukehaas/RunJS/issues/492

[2022-11-06 12:17] paultumabini opened #498 "every time I open the app the cursor is on "block" style, not the typical "line""
Hi Luke,

I'm not sure if this is only happening on my end, but after I transferred to a new laptop, installed the app and got activated. Every time, I opened the app the cursor style is on "block" style, and it's not responding to whatever I type on the keyboard.  I found out the way to get the typing to work is to press the "insert" on the keyboard and the cursor style switches back to the norma

[2022-11-06 15:58] lukehaas commented on #498
Hi @paultumabini, you're seeing this as a result of turning on the Vim keys option:

![Screenshot 2022-11-06 at 15 57 01](https://user-images.githubusercontent.com/741344/200181032-17ba3af2-06dc-42ab-8186-ca91e681c346.png)

[2022-11-06 22:48] K3ARN3Y opened #499 "[Bug] Mishandling a narrowing type"
TypeScript has the ability to narrow types. RunJS is not handling this correctly. Below is an example.

Example:

[code]

RunJS :
`amirEmail.admin`  returns `true`.

TypeScript Playground
`amirEmail.admin`  returns `Property 'admin' does not exist on type 'HasEmail'.`.

[2022-11-07 03:26] paultumabini commented on #498
Thanks @lukehaas !

Got it. Never thought that's the reason behind.  Though, I was playing all those check boxes on the preferences menu to figure out why. Perhaps, I overlooked the changes when I toggled the "Vim Keys."

Cheers!

[2022-11-07 03:26] #498 closed

[2022-11-07 09:26] lukehaas commented on #499
I am seeing the expected error message:
![Screenshot 2022-11-07 at 09 25 49](https://user-images.githubusercontent.com/741344/200274753-6a9eb9dd-b6f5-40bb-9702-a32ecd1daa9a.png)

[2022-11-07 13:37] K3ARN3Y commented on #499
Maybe I am missing a feature turned on?

![image](https://user-images.githubusercontent.com/5862727/200323560-9992130b-895b-4ee3-ae5c-4773be11cafc.png)

I have Type Checking enabled and preset-typescript enabled.

[2022-11-07 16:52] lukehaas commented on #499
That's odd. Are the other language services such as autocomplete and hover info working for you?

[2022-11-07 17:04] #499 closed

[2022-11-08 09:27] aht7525 opened #500 "BUG: RunJS Remote Code Execution via DeepLink"
[code]

### Summary

---

It has been possible to trigger remote code execution!

### Description

---

RunJS can run nodejs.

But it can run vulnerable nodejs module. Like this:

[Windows]

[code]

![runjs-rce-windows](https://user-images.githubusercontent.com/33015799/200526155-2d2f4a36-446f-4196-afed-e616105df548.png)

[MacOS]

[code]

![runjs-rce-macos](https://user-images.githubusercontent.co

[2022-11-08 10:56] lukehaas commented on #500
@aht7525 thanks for raising this.
User consent is required for deep links to open RunJS, which should make deep linking safe and no different to downloading a JS file and executing it.
However, to err on the side of caution, I will remove the deep linking functionality from the next version of RunJS.

[2022-11-10 17:43] lukehaas commented on #473
After giving Duotone another look, I've reinstated Duotone Dark in the latest release.

[2022-11-10 17:43] #473 closed

[2022-11-14 11:34] suschizu opened #501 "is RunJS 2.7.3 a pre-release or the official latest version?"
hello - I'm a bit confused - the website offers 2.7.3 as official download but the GitHub site says it's a pre-release …
could you please clarify it? thanks!

[2022-11-14 12:11] lukehaas commented on #501
2.7.3 is the latest release. It's currently tagged as pre-release due to a staggered release process.

[2022-11-19 02:16] Slapbox commented on #367
@lukehaas easier access to debugging tools would take this from a cool tool to an instant-buy for me.

RunJS has some cool features CodeSandbox and the like don't have - but the real differentiator from online sandboxes would be accessible debugging tools imo.

Keep up the awesome work!

[2022-11-19 04:46] benwoodward commented on #115
seconded. would be great to be able to save a script, although I suppose I could just convert `~/Library/Application Support/runjs` into a git repo?

[2022-11-23 10:25] KennanChan opened #502 "Bug: too many tsserver.js processes left in the system"
I noticed that a bunch of tsserver.js processes were left in my system after I quit RunJS.

The number of tsserver.js process seems to be equal to the number of tabs I open during last usage.

I don't know if it was intended or by mistake.

It seems those processes are slowing down my system, because of which I have to kill those processes manually.

[2022-11-23 10:36] lukehaas commented on #502
@KennanChan thanks; yes, I've recently become aware of this issue. The cause is upstream and has been resolved with this fix: https://github.com/typescript-language-server/typescript-language-server/pull/600
The next release of RunJS will include this fix.

[2022-11-23 11:42] KennanChan commented on #502
Perfect

[2022-11-23 14:19] JorgeM18 opened #503 "RunJs Frozen after Pasting long JSON"
Hi 👋

My RunJs App got frozen when i copy/pasted a Long JSON Object. It does not even open now, it just shows a blank screen. I'm on an intel mac OS Monterey version 12.5.1

Any help would be very appreciated. Thanks 🙏

[2022-11-23 14:32] #503 closed

[2022-11-23 14:33] lukehaas commented on #503
Recent versions of RunJS have guards in place to prevent pasting large objects etc.
What version of RunJS are you using?

[2022-11-23 14:33] JorgeM18 commented on #503
I'm running version 2.7.1

[2022-11-23 15:41] Tazintosh opened #504 "Feature Request: editing action (and more) in menus"
I know many provided shortcuts are macOS standard, but some not, specially under Editing section of the documentation.
Some are Sublime Text equivalent, but it might help user to find the actions back in the menu, so we don't have to jump back to the documentation.

[2022-11-24 23:44] jamesofficer commented on #274
For anyone else with this issue, run this command in your terminal:

`defaults write me.lukehaas.runjs ApplePressAndHoldEnabled -bool false`

This will apply it just to RunJS instead of globally like twrkco's post above.

[2022-11-25 00:53] diegoulloao commented on #274
This works!!! Thank youuuu

[2022-11-25 14:39] will-stone opened #505 "Support for TypeScript 4.9"
TypeScript 4.9 includes support for a new keyword: `satisfies`. Any plans to update the version of TS that RunJS uses? Is there a way to find out which version is currently being used?

<img width="740" alt="image" src="https://user-images.githubusercontent.com/654103/204007358-c8ad7b88-9244-4dfc-a603-90a99e758ca9.png">

Thanks Luke, keep up the great work.

[2022-11-27 20:09] GustavoHenrique18n opened #506 "Maximum call stack size exceeded and old code load"
i think the runJS store the old code in  cache  or something like that like a text file  ... So that when i reopen the runJS i can see the old code .  But when i do a recursive function and the compile throw the error i cant exit . Runjs freeze , stopping the process and reopen the old code appear again and i stay  in same situation

[2022-11-28 15:25] lukehaas commented on #506
To resolve this, click on `Kill` in the `Action` menu:
<img width="230" alt="Screenshot 2022-11-28 at 15 24 49" src="https://user-images.githubusercontent.com/741344/204315819-6f96bb0e-6ea9-4ec5-809c-696ae5ac5545.png">

[2022-11-29 12:22] liuxingbaoyu commented on #505
We already support `satisfies`, but you may need to manually update the plugin if you are using `*.lock`.
https://babeljs.io/blog/2022/10/27/7.20.0

[2022-11-29 12:54] lukehaas commented on #505
Thanks, @liuxingbaoyu. Will take a look.

[2022-11-29 13:44] ByJuan opened #507 "Update problem"
When I run the program, it opens normally, but tells me to update it when I have the latest version installed. I'm on Linux.

[2022-11-30 16:29] lukehaas commented on #507
@ByJuan what version of RunJS are you using?