[2018-12-17 19:56] andreasonny83 opened #1 "Promise pending"
I really love this project, however, I believe it needs to be improved.

I was expecting the following snippet to returns me back the resolved string `test`, but instead all I can see on the right side is a `Promise { <pending> }`.

[code]

Is there a better way of dealing with promises?

Thanks!

[2018-12-17 20:00] andreasonny83 opened #2 "Better error handling"
The error handling is quite awkward because it doesn't provide much help in debugging the problems.

Take the following code, for example

[code]

All I can see on the right side is a `SyntaxError: Unexpected identifier`

The error is located on the first line of my code:

[code]

The arrow function is missing the `=` sign after `const a`.

It would be really useful if the error message could ment

[2018-12-17 20:14] Brydom opened #3 "Simple for loop key undefined"
Running this code:

[code]

Returns `ReferenceError: bar is not defined` - this should return:

[code]

Let me know if I'm losing it or if this is an issue :)
Version 1.0.2 (1.0.2)

[2018-12-18 00:44] piousdeer commented on #3
You should use `const` to define `bar`. `let` and `var` are acceptable too, but not recommended.

[code]

[2018-12-18 08:52] lukehaas commented on #3
This is because the code is run in "strict mode" by default - which will require you to define all variables , as in `var bar in foo`.

The "strict mode" is a result of Babel transpilation, which you can turn off in the preferences. When disabled, you see that your example code runs fine.

[2018-12-18 08:53] lukehaas commented on #2
Yes, certainly something that could be improved in future versions 👍

[2018-12-18 09:19] lukehaas commented on #1
Aware of this and will investigate further. Thanks.

One work around for now is to put a console log inside the async function:
[code]

[2018-12-19 03:48] Brydom commented on #3
Thank you both - I would apologize for the confusion but it seems that I am the only one confused.

[2018-12-19 03:48] #3 closed

[2018-12-19 09:37] eladcandroid opened #4 "Can be converted to VSCode extension?"

[2018-12-19 09:47] eladcandroid opened #5 "Getting a blank window when executing some code"
Here's my code:

[code]

After I close the blank window, the code isn't running anymore so I have to restart the app..

![screen shot 2018-12-19 at 11 43 10](https://user-images.githubusercontent.com/13297000/50212426-bdb70c80-0383-11e9-838a-b981b9f96ab2.png)

[2018-12-19 09:52] lukehaas commented on #4
It's certainly a possibility 👌

[2018-12-19 09:54] lukehaas commented on #5
Oh, this is very interesting. Definitely a bug. Thanks for raising this.

[2018-12-27 16:54] lukehaas commented on #5
This is now resolved in version 1.1.0

[2018-12-27 16:54] #5 closed

[2019-01-04 19:07] pallymore opened #6 "I broke it :("
Hi,

First of all, great app! I've been having fun with it.
However, I accidentally pasted `document.location.reload()` into the window and now it just reloads indefinitely every time when I open the app - even after I unchecked the auto evaluate option.

The issue persists even after I have re-installed the app so I had to manually edit the `config.json` file under `~/Library/Application\ Support

[2019-01-04 19:11] JiiB opened #7 "Feature Request: hide output on the right"
Hi there.

I really like your little tool, great work 🎉
It would be very nice if there was an option to toggle the preview/output view on the right side of the window. I would like to make sceenshots like this:

![grafik](https://user-images.githubusercontent.com/25438442/50706026-e8c87e00-105c-11e9-8530-7151ab6c8aa7.png)

[2019-01-04 19:14] pallymore opened #8 "VIM - Command Mode `:` command is hidden"
after enabling `VIM Keys` option, when I try to enter a vim `:`... command, it is not displayed on the screen. (only a small blue line appears at the bottom of the window)

![image](https://user-images.githubusercontent.com/2566530/50706041-aa19d000-102a-11e9-8d02-8bcd2b036d97.png)
(tried under different resolutions)

[2019-01-04 19:46] malammar commented on #6
Try leaving a `while (true)` loop in there. The app will max CPU and the only way to fix it is by clearing out the input in the config.json file.

Why not have the application run only on Ctrl+Enter?

[2019-01-04 19:47] skuligowski commented on #6
Me too! I've accidentally created an infinite loop.
How to break the loop and run RunJS again with blank page?

[2019-01-04 20:11] pallymore commented on #6
Close the app (force quit) and go to `~/Library/Application\ Support/runjs/config.js` to change the `input`.

@malammar I was wondering about the shortcut as well, good to know it is Cmd + R. 👍
I tried to turn off auto evaluation but it didn't help in my case even after re-opening the app

[2019-01-04 20:19] erikshestopal commented on #7
@JiiB I would suggest taking a look at [Carbon](https://carbon.now.sh/?bg=rgba(171%2C%20184%2C%20195%2C%201)&t=seti&wt=none&l=auto&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false)

[2019-01-04 20:22] astoilkov opened #9 "Dynamically download modules"
First I should note that the design and minimalism of this app are awesome. If I can use this app instead of RunKit this would be awesome.

[2019-01-04 20:48] samholmes opened #10 "Set Working Directory should allow for imports of local files"
Set Working Directory currently only allows me to import modules from the directory's node_module directory. It doesn't allow me to import modules that are local such as `require('./lib/api.js')` for example. Support for this would be useful for quick testing for your project's codebase.

[2019-01-04 20:58] thommorais opened #11 "Feature Request: option to use 'Fira Code' with ligatures."
It will be very nice.

Great tool, thanks!

[2019-01-05 08:46] LeeHyungGeun opened #12 "console method is not support."
**Description**
I add `console.time()` and `console.timeEnd()` to check performance, but it does not support.

Is it going to support in the future?
[code]
![console_runjs](https://user-images.githubusercontent.com/2471651/50722396-6cd83f80-1109-11e9-8122-308ae1b26cfb.png)

[2019-01-05 10:08] ozum commented on #11
Would be awesome!

[2019-01-05 10:09] ozum commented on #4
Also allows to reach broader audiences.

[2019-01-05 11:55] JiiB commented on #7
@erikshestopal oh great. thank you 👍

I'll close this issue

[2019-01-05 11:55] #7 closed

[2019-01-05 12:48] robertherber opened #13 "Install packages on the fly"
Love this idea and simplicity of it, thanks @lukehaas for building it!

I have a suggestion to build on top of this simplicity, and that is to automatically install packages that are required/imported. When a package isn't found ask the user "Install now?". At least for me I see the biggest use-case is to play around (I won't usually run it in the context of a specific project, so I don't want to

[2019-01-05 15:47] lukehaas commented on #13
Thanks. I'm currently developing a feature that will allow user to install packages.
It will be in the next release.

[2019-01-05 15:49] lukehaas commented on #12
Thanks for raising this. Will look into it.

[2019-01-05 15:51] lukehaas commented on #10
Good point. I'll aim to implement this in the next release.

[2019-01-05 16:06] lukehaas commented on #9
Thanks! Currently working on this feature. Will be in the next release.

[2019-01-05 16:07] lukehaas commented on #8
Thanks for raising this. Will look into it.

[2019-01-05 21:47] astoilkov commented on #9
Awesome! Just want to add that caching will be very much appreciated so I don't have to wait for modules to download every time I launch the app.

[2019-01-05 23:44] lukehaas commented on #9
Lol

[2019-01-06 15:20] getify opened #14 "What is the extra line of evaluated output?"
This may sound silly, but that extra line of output as shown here was actually causing me to think I had a bug in a loop where it was printing an extra iteration. Is there a reason for it? Is there a way to remove it?

<img width="448" alt="screen shot 2019-01-06 at 9 13 19 am" src="https://user-images.githubusercontent.com/150330/50737957-33004b00-1194-11e9-8883-5932ea76081b.png">

[2019-01-06 15:38] getify opened #15 "Zoom keyboard shortcut, zoom vs font-size"
The keyboard shortcut for zooming is `⌘ +`, which makes sense. However, that actually requires (on most US keyboards anyway) a `⌘ ⇧ +` keypress, because `+` is on the upper portion of the `=` key. Most editors I've worked with actually allow just `⌘ =` as well. This would be *very helpful*.

----

Also, the "zoom" behavior of this operation feels a bit weird:

![runjs-zooming](https://user-images.

[2019-01-06 15:49] lukehaas commented on #14
Thanks for raising this.
You're right, i can see how this could be confusing. Currently there's a line break added to every line of output. I'll update it so that this doesn't happen to the final line.

[2019-01-06 17:13] robertherber commented on #13
Great news, thanks @lukehaas!

[2019-01-07 02:31] pallymore commented on #6
![flashing_error](https://user-images.githubusercontent.com/2566530/50745795-1c8cda80-11fa-11e9-88d0-63a680761638.gif)

also ran into this today.

I forgot I put a huge loop in the code for testing before I opened the app - then I tried to quit the app via the right-click menu in the dock and then this happened.
Had to Force Quit the app with Activity Manager.

Maybe can we disable auto-execution

[2019-01-07 02:37] jancassio opened #16 "Feature Request: output viewport"
First of all, thanks by making this project, it's really cool.

It is a question but you can consider it a feature.

There is a way to open a window or something else to output some UI on that?

For example, I would like to add an `<canvas/>` element, then, add some graphics on that.

Thanks,

[2019-01-07 07:31] hontas opened #17 "Feature request: explore object properties"
First of all - thanks for a great tool, something I've wanted a long time.

I use the dev console in Chrome to do small explorations in JS-land and the best feature in my mind is the "explore object methods and properties"-functionality that for example shows me what methods a date object has when I type "." after. So `myDate.` would yield
[code]

And then autocompletes when I start typing somethi

[2019-01-07 09:38] gianpesto commented on #2
I was about to write the same, one solution could be to have the Error-message and the Error-source being highlighted in the same color.

[2019-01-07 11:17] multics opened #18 "Feature Request: show api doc along side"
That would be nice.

[2019-01-07 11:37] pdewouters opened #19 "Feature Request: visualiser"
Something like this https://github.com/tylermcginnis/javascriptvisualizer or http://pythontutor.com/javascript.html#mode=edit

The first only has ES5 support and the second doesn't really work properly to visualise currying, partial application, etc...

[2019-01-07 12:19] lukehaas commented on #19
Interesting idea. Thanks.

[2019-01-07 13:55] CallumDenby commented on #12
Above example should only log once and throw 999 warnings, because it's ending a timer 1000 times, but only starts it once.

[code]

[2019-01-07 13:57] CallumDenby commented on #18
Good option for this is using OSX splitscreen and using [Dash](https://kapeli.com/dash) or [Zeal](https://zealdocs.org/)

[2019-01-07 14:48] multics commented on #18
good idea!

[2019-01-07 16:43] tonydewan opened #20 "Feature Request: increase text size"
`⌘ -` works to decrease the text size, but I'd like to make it bigger. :)

[2019-01-08 03:33] godhh opened #21 "Is it possible to be a plugin for webstorm?"

[2019-01-08 08:26] will-stone opened #22 "Feature request: auto-format using Prettier"
Hi! Thanks for making this. It looks like a fun project. Loving that you can now install npm packages. I usually go to jsbin to run small JS tests but I can foresee RunJS being my go-to tool from now on.

Would it be possible to add Prettier formatting? I'm crap at formatting code now and rely on it heavily. I'm thinking: `alt-shift-f` to format and have format on run (optional?). Also, is there a

[2019-01-08 10:32] rokity opened #23 "Feature Request : Open RunJS from bash with file"
Hi

The project's very amazing and I love it. I'm not using Visual Code because it's better RunJS.
I want to propose di feature :
- Open RunJS from bash with or without the file

If it's possible I wish to contribute to this feature
Thank You
Riccardo Amadio

[2019-01-08 16:31] getify commented on #20
`⌘ SHIFT +` works, just not `⌘ +` (since that's actually `⌘ =`). See #15. Also, the text size is not really being increased or decreased as much as the view is being zoomed. My request is that the text size be changed and not actually zoom the view.

[2019-01-08 16:39] tonydewan commented on #20
Duplicate of #15.

[2019-01-08 16:39] #20 closed

[2019-01-08 16:41] getify opened #24 "Feature Request: option for only-last-statement evaluation"
I would like an option to switch on a mode like how browser devtools consoles only evaluate the last statement in a snippet, because sometimes you have a bunch of statements in a snippet of code that you don't want to evaluate, but only want to evaluate the last statement.

Consider the differences between these two:

<img width="497" alt="screen shot 2019-01-08 at 10 38 15 am" src="https://user-i

[2019-01-08 16:48] lukehaas commented on #15
Thanks for raising this.
Firstly, I will add the `CMD =` shortcut for zooming.

Regarding your second point, only increasing the font-size on zoom seems to make sense, especially as the UI is very minimal.
My only concern would be if some users, possibly ones with sight issues, would expect a full UI zoom.

[2019-01-08 17:14] getify commented on #15
That concern is understandable, but I think there are generally other OSX A11Y tools they can use in those cases.

[2019-01-08 19:58] lukehaas commented on #24
Makes sense.
I'll create an option for line-by-line evaluation, defaulting to true.

[2019-01-08 20:00] lukehaas commented on #23
👍This is coming soon

[2019-01-08 20:02] lukehaas commented on #22
Good idea.
I'll likely also to expose the Prettier config in the preferences.

[2019-01-08 20:04] lukehaas commented on #21
This is something I might do in the future but it's not coming soon.
In the meantime I'd suggest taking a look at Quokka.js

[2019-01-08 20:08] rokity commented on #23
Thank you
This feature's very useful. Can I give help to this feature or project?

[2019-01-08 20:10] lukehaas commented on #18
Agree with @CallumDenby here. Dash and Zeal are both great solutions for viewing documentation.

[2019-01-08 20:12] lukehaas commented on #17
Agree, this would be good.

[2019-01-08 20:15] lukehaas commented on #16
Thanks, this is certainly a future possibility.

[2019-01-08 20:37] lukehaas commented on #11
Yes, I'll likely add options for choosing fonts and size. Will aim to include Fira Code and ligature support.

[2019-01-08 21:43] ohepworthbell opened #25 "Allow shift-return when auto-evaluate is disabled"
Hi,

Love the app - simple and beautiful!

One little feature request I think could be useful is allowing keyboard shortcuts for 'run' (especially when auto-evaluate is disabled). Perhaps have `shift`+`return` as a shortcut, so you don't manually have to click the button repeatedly, breaking up the flow of typing?

[2019-01-09 06:16] #21 closed

[2019-01-09 06:53] devism opened #26 "setInterval keeps running"
The following code keeps executing even after removal. Only way to stop it is to quit the app.

[code]

[2019-01-09 09:31] lukehaas commented on #25
There's already a keyboard shortcut for this, it's ⌘R

[2019-01-09 15:14] multics commented on #26
I believe it is because `node` is running under the hood. Even the code is removed, the timer you started won't stop, unless you do `clearInterval`.

Same reason, if you do `process.argv`, you will see all the arguments of the app.
And if you do `process.exit(-1)`, the app won't work properly any more.

All these cases need to be handled unless it is intended behavior.

[2019-01-09 15:37] #18 closed

[2019-01-09 15:37] multics commented on #18
alright

[2019-01-09 15:56] multics opened #27 "Feature Request: display the evaluation results at the same line of the source code"
The evaluation result is a bit confusing sometimes.
<img width="697" alt="image" src="https://user-images.githubusercontent.com/1222707/50911037-fbcabc00-1469-11e9-9531-ca85f703ad3d.png">

I think the following one makes the results more clear (I copied it from swift playground of Xcode):
<img width="566" alt="image" src="https://user-images.githubusercontent.com/1222707/50910785-77783900-1469-11e

[2019-01-09 15:59] multics opened #28 "Feature Request: code completion/prompts"
I captured the screen from my Xcode playground.

<img width="537" alt="image" src="https://user-images.githubusercontent.com/1222707/50911274-7a275e00-146a-11e9-8be3-e702e336fa81.png">

Again, I like the app very much! Thank you very much for making it.

[2019-01-09 17:39] lukehaas commented on #27
Thanks, yes, I'm aiming to implement this in a future version

[2019-01-09 17:44] lukehaas commented on #28
Yes, would be a good feature.

[2019-01-09 19:07] ohepworthbell commented on #25
Excellent, thanks for the info!

[2019-01-09 19:07] #25 closed

[2019-01-10 14:34] joppe opened #29 "Feature Request: Linux support"
I hope that you will support Linux soon, I hear great things about this tool. Would be awesome if it was also available for Linux.

[2019-01-10 16:49] lukehaas commented on #29
Thanks, it's coming 👍

[2019-01-11 12:17] dsmr commented on #4
And other IDE's too, like Atom.

[2019-01-11 14:24] WeslleyNasRocha opened #30 "Why not open the source code?"
I'm just curious, with the open source someone would might help you with some features

[2019-01-11 18:57] dotproto opened #31 "Document the engine used"
I can't seem to find any information about what JavaScript engine is used, what version, or how the engine is updated. This is important when attempting to target new language features like class fields. At the time this issue was created public fields were available in Chrome Canary, but not Chrome, Firefox, or Safari.

[2019-01-11 19:56] gstark opened #32 "Output to show the line number the evaluation is related to"
Since the output values do not align with the line that created them, annotating with the line number would be great.

If you *could* align the output with the line number that generated it, that would be amazing. If a second evaluation generated another value it could be placed in columns to the right.

Similar to the editor in [Bret Victor's Inventing on Principle talk](https://vimeo.com/3657936

[2019-01-12 15:20] EricEisaman opened #33 "Doesn't honor TypeScript protected class properties and methods"
TypeScript protected class properties and methods are not honored.  Here is an example taken directly from the [TypeScript handbook](https://www.typescriptlang.org/docs/handbook/classes.html).  The example should throw an error on the attempted protected constructor call of Person, but does not.
![typescript_protected](https://user-images.githubusercontent.com/6116865/51075069-8cfd8680-1654-11e9-9

[2019-01-12 21:29] jondwillis opened #34 "VS Code/ Atom extensions"
This would be awesome as an extension for IDEs!

[2019-01-12 22:41] demircancelebi commented on #30
I'd also like to offer help if you open source the code

[2019-01-13 01:34] dnalborczyk commented on #13
@lukehaas before inventing the wheel from scratch, you could check out **tink** https://github.com/npm/tink as well as https://blog.npmjs.org/post/178027064160/next-generation-package-management

[2019-01-13 05:54] schester44 commented on #30
+1

[2019-01-13 09:51] laander commented on #34
Check out Quokka, it's exactly that ☝️

[2019-01-13 13:24] nakhodkin opened #35 "One-line comments with the HTML comment-opening sequence"
Please, consider on adding one-line comments syntax with the HTML comment-opening sequence.

<img width="897" alt="screen shot 2019-01-13 at 3 18 00 pm" src="https://user-images.githubusercontent.com/14351638/51085786-c2829c80-1746-11e9-85d3-63fc4f37680b.png">

The following example shows that it works perfectly in node **v11.6.0**
<img width="822" alt="screen shot 2019-01-13 at 3 18 05 pm" src="h

[2019-01-14 08:05] ltfschoen opened #36 "Set a default working directory initially for the user"
I downloaded the .dmg file installed RunJS Version 1.2.0 (1.2.0) on macOS Mojave 10.14.0.

I tried importing the BigNumber.js library, so added this code:
[code]

Then went to Action > Install NPM Modules, and entered 'bignumber.js' as a search criteria and added it.

Then I added the following:
[code]

But on the right it displayed:
[code]

I didn't realise what I had to do initially. Eventually

[2019-01-14 08:09] ltfschoen commented on #30
I'd retweet this product again if it was open source

[2019-01-14 13:35] getify opened #37 "Bug in handling async..await"
I'm not sure what's going on here... dunno if this is a babel transpilation issue or something about how your code instruments and captures each line of output.

This code is fine:

<img width="709" alt="screen shot 2019-01-14 at 7 27 20 am" src="https://user-images.githubusercontent.com/150330/51115482-0c629580-17ce-11e9-8a0e-5ce762e10b3a.png">

But when I add a single `console.log(..)` statement

[2019-01-14 13:41] getify opened #38 "Feature: see transpilation code, turn off transpilation"
I would, at times, like to see whatever the transpiled version of my code is actually being run by RunJS. This is useful for realizing why a bug may be happening.

I am thinking maybe there could just be an extra popup window or something that I could click a button to see the most recent transpiled code that ran.

Also, it would be **really** helpful if I could, perhaps with a preference option,

[2019-01-14 14:33] getify commented on #37
Here's another expression of (possibly) the same bug:

<img width="689" alt="screen shot 2019-01-14 at 8 32 06 am" src="https://user-images.githubusercontent.com/150330/51118849-f1e0ea00-17d6-11e9-8321-fc78afd4b059.png">

`await;` is not allowed, and should throw an exception, but RunJS just silently does nothing.

[2019-01-14 17:32] lukehaas commented on #31
Good point. I'll get this documented.

[2019-01-14 18:03] lukehaas commented on #33
Thanks for raising this. I will look into it.

[2019-01-14 18:08] lukehaas commented on #36
Installing node modules is not dependent on setting a working directory.
Not sure what happened here.
I'll investigate and see if I can recreate the issue.

[2019-01-14 18:22] lukehaas commented on #38
Transpilation is already an option in the preferences.
Showing the transpiled code seems reasonable. I'll add it to my to-do list.

[2019-01-14 19:09] getify commented on #38
Oh, sorry... missed that, thanks!

[2019-01-14 19:09] getify commented on #37
Just FYI... I have babel transpilation turned off and this bug is still happening.

[2019-01-14 19:16] lukehaas commented on #37
I'm able to replicate the extra console output. Looks like a bug, I will investigate further.

Regarding the `await;` It does complain if I have transpilation turned on but not if it is off. The only difference in the code is that the transpiled version has `"use strict";` prepended to it.

[2019-01-14 21:47] getify commented on #37
It's a syntax error regardless of strict mode or not. try it in a chrome console.

[2019-01-15 18:41] WeslleyNasRocha commented on #30
@lukehaas do you have any plan to sell this app?

[2019-01-15 20:32] brentluna opened #39 "vimrc file?"
Stoked that this includes vim bindings. Is there anyway to define some vim settings that persist in the app?

[2019-01-15 21:59] stanleyswu commented on #6
Me too! I have accidentally created an infinite loop!

@pallymore, unfortunately the "runjs" folder and "config.js" file are not at this location:
 ~/Library/Application\ Support/runjs/config.js

How else can we resolve this issue?

[2019-01-15 22:07] pallymore commented on #6
It should be `config.json` instead of .js. 😅

This should be the default location when using macOS.

[2019-01-15 23:48] stanleyswu commented on #6
Are you sure that is the default location? There is no "runjs" folder in "application Support". I am running OSX High Sierra 10.13.6.

[2019-01-16 06:04] Jinkwon opened #40 "Its amazing product"
Thanks for your effort.
This app is so nice. Thanks.!!!

[2019-01-16 19:13] lukehaas commented on #37
Indeed. I need to investigate further.

[2019-01-16 21:30] pallymore commented on #6
It should be. Maybe you could perform a search in the terminal:
`find ~/Library -type d -name runjs`

One thing to note that there is also another Application Support folder under the root `/Library`(notice the absence of `~` at the beginning). It might be there if you installed the app as `root`

[2019-01-16 22:14] stanleyswu commented on #6
Thank you!

[2019-01-17 18:33] wileybaba opened #41 "Nested loop causing app to crash"
I was curious how the RunJS app would respond to a nested infinite loop and caused the application to stop responding with the following code
[code]

I had to rm rf RunJS and remove its Application Support file, then reinstall in order to get the app running properly again.  I was able to reproduce the bug easily.  Would someone mind trying to reproduce this on their machine?

[2019-01-18 10:04] comatory commented on #2
Yes please this would be very useful, perhaps highlight the line or at least print out line & column number

[2019-01-20 22:15] lukehaas commented on #40
Thanks!

[2019-01-20 22:16] lukehaas commented on #39
Not currently but I'll keep it in mind for future updates. Thanks.

[2019-01-20 22:35] getify commented on #37
Looks great, thanks!

[2019-01-20 22:35] #37 closed

[2019-01-21 13:35] TheNoim opened #42 "Feature Request: Top level await"
To try out things, top level await would be awesome.
It is very annoying to write:

[code]

With top level await:
[code]

[2019-01-22 07:44] jetuuuu opened #43 "Windows version"
Hi! Can you build runjs for windows ? I can help you with this issue.

[2019-01-22 09:27] timirila1 opened #44 "⌘+W closes the application (like ⌘+Q)"
Not something critical. It should open faster when you close the window but not quit app.

[2019-01-22 12:11] jamescodesthings opened #45 "This feature requires Node.js to be installed on the host machine"
When trying to run `Action` > `Install NPM Packages` I get the error `This feature requires Node.js to be installed on the host machine`.

Node is installed via [nodenv](https://github.com/nodenv/nodenv) which I'm guessing is the problem.

To give you an example of where things end up using nodenv:
![image](https://user-images.githubusercontent.com/32203362/51534769-9a79f400-1e3e-11e9-9e04-c95be2c

[2019-01-22 12:23] lukehaas commented on #45
Thanks for raising this.
This means RunJS isn't finding Node in your PATH.
Are you certain that nodenv is correctly adding the shims to the front of your PATH?

I'm using nvm myself, without issue.

[2019-01-22 14:22] jamescodesthings commented on #45
Cheers!

So, `nodenv` was configured fine, but in `zsh` via `Hyper`.

Adding the nodenv path and `nodenv init` to a blank `~/.bash_profile` fixed things.

The main issue there is my shell wasn't set to `zsh`. My bad.

Setting it to `zsh` has lead me to trash my user account on my mac (woo). But, basically happy days, works as expected when node is on the path that `RunJs` is looking at.

[2019-01-23 11:21] jamescodesthings commented on #45
So, I'm back up; reinstalling OSX over the original user profile fixed things (woo).

My Mac is connected to an AD domain without privileges to change the default shell. So for me the long term solution is to add the nodenv initialization to the default shell's .bash_profile.

Thanks again for the help, cracking job with Runjs.

[2019-01-23 11:52] lukehaas commented on #45
Thanks, glad it worked in the end.

[2019-01-24 16:58] guicar opened #46 "Margin homepage"
A very quick feedback to tell you that I was expecting more margin on the top and bottom of the homepage https://projects.lukehaas.me/runjs/

[2019-01-25 01:25] getify opened #47 "Bug: function declarations are remembered between executions"
If you have a function declaration and run the code, then delete the function declaration and re-run the code, the function still executes, because apparently the whole env wasn't actually reset between runs they way I'd expect.

See this:

![bug-1](https://user-images.githubusercontent.com/150330/51719072-af58b200-200d-11e9-89ee-88ee5263cab4.gif)

[2019-01-25 09:31] lukehaas commented on #47
I'm not able to recreate this issue myself. Are you certain there were no preliminary steps?
Could you restart the app and see if it still happens?

[2019-01-25 12:47] getify commented on #47
That was from a clean start. Each time I restart RunJS it resets back to fresh, but then always remembers any function declarations between subsequent runs.

[2019-01-25 13:34] lukehaas commented on #47
Ok, after playing around a bit more I see that this happens if transpilation is turned off.
I'll get this fixed soon.

[2019-01-25 13:36] lukehaas commented on #44
Good point.

[2019-01-25 13:39] #35 closed, assigned to nobody

[2019-01-27 16:39] lukehaas commented on #2
This is now resolved in version 1.2.1

The above code will now result in the following error:

![screenshot 2019-01-27 at 16 37 55](https://user-images.githubusercontent.com/741344/51803891-f0d99f00-2251-11e9-8fa3-8637fd0f0f87.png)

[2019-01-27 17:50] andreasonny83 commented on #2
That's great news. Closing this issue then.

[2019-01-27 17:50] #2 closed

[2019-01-29 20:16] lukehaas commented on #47
This is now resolved in version 1.2.2
Thanks for raising it.

[2019-01-29 20:16] lukehaas commented on #44
This is now resolved in version 1.2.2

[2019-01-29 20:17] lukehaas commented on #36
This issue is now resolved in version 1.2.2

[2019-01-29 20:19] lukehaas commented on #15
In version 1.2.2 zooming will now increase the font size.
I've also implemented the ⌘ = shortcut.

[2019-01-30 01:01] #47 closed

[2019-01-30 01:01] #15 closed

[2019-01-30 18:20] yonifra commented on #6
Happened to me as well, bummer to see this hasn't been resolved. I'll turn off auto evaluation for now. Thanks

[2019-01-30 21:05] townofdon commented on #41
Reproduced on mine, accidentally typed the following code that got evaluated instantly before I could prevent infinite loop (note the lack of curly braces):

[code]

So it's not truly infinite but I had to wait several minutes for it to finish evaluating. It would be really useful if there was a way that a script could be halted or prevented from running when the app loads.

Would be even better i

[2019-01-30 21:07] townofdon commented on #41
This is an awesome little app by the way!

[2019-01-30 22:04] lukehaas commented on #41
Thanks. This is a high priority issue. I'm aiming to have a solution soon.

[2019-02-02 03:04] jkodu commented on #41
Ran into the same problem @lukehaas. Nice little tool btw.

[2019-02-02 17:02] #44 closed

[2019-02-02 17:03] #36 closed

[2019-02-02 17:46] lukehaas commented on #31
This is now documented in the readme: https://github.com/lukehaas/runjs/blob/master/README.md

[2019-02-02 17:49] lukehaas commented on #6
The original issue of calling `document.location.reload()` is now resolved in version 1.2.3.

Additionally, in 1.2.3 there is now guarding against long running loops.

![screenshot 2019-02-02 at 17 39 27](https://user-images.githubusercontent.com/741344/52167437-d7819880-2712-11e9-80ea-29024976df3e.png)

[2019-02-02 17:50] lukehaas commented on #41
This issue is now resolved in version 1.2.3

![screenshot 2019-02-02 at 17 39 27](https://user-images.githubusercontent.com/741344/52167446-f8e28480-2712-11e9-95a7-633f1ad6b079.png)

[2019-02-03 15:45] dotproto commented on #31
Thanks!

[2019-02-03 15:45] #31 closed

[2019-02-05 19:45] #6 closed

[2019-02-05 22:34] #41 closed

[2019-02-05 22:35] lukehaas commented on #43
Aiming to release a Windows version soon.

[2019-02-05 22:36] #40 closed

[2019-02-07 18:13] getify opened #48 "Feature Request: cleaner stack traces"
(Note: I have transpilation turned off. I know that feature would mess with this request significantly, and would require sourcemaps support to get right. So I'm only asking for the fix in non-transpiled mode at the moment.)

See this stack trace:

<img width="679" alt="screen shot 2019-02-07 at 12 00 15 pm" src="https://user-images.githubusercontent.com/150330/52432470-14ada800-2ad0-11e9-8597-6f1

[2019-02-09 16:23] lukehaas commented on #48
Could you tell me which version of RunJS you're using?
I thought this had been resolved in 1.2.4

[2019-02-09 16:27] lukehaas commented on #26
@devism This is now resolved in version 1.2.4

@multics The cases you described regarding `process` are also now resolved 1.2.4

[2019-02-09 16:28] lukehaas commented on #8
This is now resolved in version 1.2.4

[2019-02-09 16:38] lukehaas commented on #13
@robertherber You can now install Node packages.
![install-npm-packages](https://user-images.githubusercontent.com/741344/52523400-f048fb80-2c88-11e9-98be-e2ee1584f660.png)

You can access this window via the Action menu.

@dnalborczyk no wheel reinvention needed here.

[2019-02-09 16:40] lukehaas commented on #9
You can now install Node packages:
![install-npm-packages](https://user-images.githubusercontent.com/741344/52523427-546bbf80-2c89-11e9-9c11-fe7bc5cbbf00.png)

This window can be accessed via the Action menu.

[2019-02-09 16:55] lukehaas commented on #42
There's currently no official Babel plugin for top-level await. When they release one I will certainly look into adding it.

[2019-02-09 16:57] lukehaas commented on #32
Aligning the output to the code is definitely something I'm aiming to do at some point.

[2019-02-09 20:25] lukehaas commented on #30
RunJS is a young app with a long road ahead of it. I chosen not to open source it at this point so as not to place any limitations on what it can become.

[2019-02-09 20:32] getify commented on #48
I just made sure I was on 1.2.4, and now I'm seeing something different, which is that if I have a syntax error with only one line of code, no error shows...

<img width="463" alt="screen shot 2019-02-09 at 2 27 38 pm" src="https://user-images.githubusercontent.com/150330/52525946-16fe3680-2c77-11e9-969e-58fae9d6e7fc.png">

<img width="443" alt="screen shot 2019-02-09 at 2 28 18 pm" src="https://u

[2019-02-10 12:34] TheNoim commented on #42
However, you could wrap the input code automatically with an async function, or?

[2019-02-10 16:22] #30 closed

[2019-02-10 16:25] lukehaas commented on #42
Unfortunately that would result in the line-byline output for top-level-code no longer being possible.

[2019-02-10 16:37] TheNoim commented on #42
Can you not calculate the offset?

[2019-02-10 17:41] lukehaas commented on #42
I'm not sure what you mean by that, but I'm certain there's no simple solution here.

[2019-02-10 18:16] lukehaas commented on #48
The missing error for one line of code is a simple, dumb bug in my code. I will have a fix in my next release.
Regarding the error messages, this has been more interesting. These error messages are from Babel and they come out of a caught exception. The original error message in both these cases starts with "SyntaxError:  unknown: " but I was outputting the `message` property of the error which dr

[2019-02-10 18:26] getify commented on #48
Hmmm... ok, that seems like a Babylon bug. I will confirm and file that.

[2019-02-11 13:39] jkohlin opened #49 "I'm unable to quit the application on MacOS"
This is hard to reproduce, but it's often hard to quit the app on MacOS. After having it open for a while it has to be force quitted.

[2019-02-11 13:51] lukehaas commented on #49
Apologies for this. This issue was introduced in version 1.2.3 in a bug fix that prevented user code from triggering a reload.
It was resolved in version 1.2.4.

[2019-02-11 20:43] jkohlin commented on #49
Oh, i didnt know there was a new update.
Perhaps  The app does not suggest the user to update whenever there is a new version available?

[2019-02-11 22:08] lukehaas commented on #49
If there's a new version it will give you a notification when you open the app.

[2019-02-12 08:03] Magistern commented on #49
Ok, good. Well I do have  v1.2.4 Is it silently installed?
Anyway, If it happens again, I'll return to this thread (unless you close it of course )

[2019-02-13 08:09] MinimumViablePerson opened #50 "RunJS is stateful, it remembers everything previously typed during the session"
This can lead to confusion, because once you've deleted something you expect it to no longer exist, but it does, which has lead to wrong assumption confirmation when writing code.

![stateful-runjs](https://user-images.githubusercontent.com/16916098/52696255-79e91980-2f66-11e9-949d-8487d7bfd85d.gif)

[2019-02-13 08:15] MinimumViablePerson opened #51 "syntax highlighting parsing incorrect"
As you can see below, since strings are not being output with quotes, the syntax highlighter tool changes colour every time it encounters quotes.

<img width="618" alt="syntax-highlighting" src="https://user-images.githubusercontent.com/16916098/52696634-60949d00-2f67-11e9-8363-4fefa487ba2a.png">

[2019-02-13 16:06] getify opened #52 "Bug: handling of `undefined`"
This is a two part issue (but both parts are related).

1. When the string `"undefined"` (not the actual `undefined` value) is sent as the output, it's actually treated (color highlighted, etc) as if it was the actual `undefined` value. This is confusing, but it also relates to the second part of the bug below.

   <img width="718" alt="screen shot 2019-02-13 at 9 50 53 am" src="https://user-image

[2019-02-13 17:04] getify commented on #52
Addendum to part 1:

It's not just the string `"undefined"` which gets incorrectly colored in the output. Apparently it's all literals. These are all colored the same, even though the second in each pairing should be treated/colored as a string:

* `undefined` and `"undefined"`
* `true` and `"true"`
* `null` and `"null"`
* `42` and `"42"`
* `[1,2,3]` and `"[1,2,3]"`
* `{a:1}` and `"{a:1}"`

[2019-02-14 22:58] lukehaas commented on #51
I'm aiming to get this resolved soon 👍

[2019-02-14 23:00] lukehaas commented on #50
Thanks for raising this. Will aim to resolve this in a future release.

[2019-02-15 16:03] lukehaas commented on #52
The issue with syntax highlighting in the output is on my todo list. Now that you've raised it I'll prioritise it for the next release.

Regarding undefined in the output. The string 'undefined' not appearing is a bug, I'll fix that.
I'm currently suppressing actual undefined in the output as otherwise it will appear very frequently, as you can imagine. Any function without a return, including thi

[2019-02-15 17:12] #8 closed

[2019-02-15 17:12] #9 closed

[2019-02-15 17:13] #13 closed

[2019-02-15 17:13] #26 closed

[2019-02-15 20:02] getify commented on #52
Could you make an option for showing `undefined` in the output?

[2019-02-15 20:05] lukehaas commented on #52
Sure, happy to make it an option.

[2019-02-15 20:33] getify commented on #52
I think this option together with the option (discussed in another thread) to only show the results of the last actual statement/expression (+ any explicit console messages) -- like browser devtools do -- would give solid control over whether we were being spammed by `undefined`s or not. :)

[2019-02-16 13:35] robertherber commented on #13
Super, thanks @lukehaas! Tried it out and it works well :)

[2019-02-17 15:29] robertherber commented on #13
Would be great if there's also a hotkey or something to make it easier to reach the installation @lukehaas :)

[2019-02-17 15:50] lukehaas commented on #13
Already got this in the next release. It will be Cmd-I

[2019-02-17 16:04] robertherber commented on #13
Awesome @lukehaas, thanks!

[2019-02-17 16:10] lukehaas commented on #10
This is now implemented in version 1.3.0

[2019-02-17 16:15] lukehaas commented on #24
This is now available in version 1.3.0, under a preference option called 'Holistic Evaluation'

![screenshot 2019-02-17 at 16 14 01](https://user-images.githubusercontent.com/741344/52915700-1f85eb00-32cf-11e9-8a18-97a5399ae432.png)

[2019-02-17 16:17] lukehaas commented on #38
In version 1.3.0 you can now view transpiled code, via the View menu.

![screenshot 2019-02-17 at 16 16 28](https://user-images.githubusercontent.com/741344/52915746-915e3480-32cf-11e9-8f9f-8ecd38d5a858.png)

[2019-02-17 16:19] lukehaas commented on #48
1.3.0 resolves the above issues apart from the Babylon bug.

[2019-02-17 16:20] lukehaas commented on #51
This is now resolved in version 1.3.0

[2019-02-17 16:21] lukehaas commented on #52
1.3.0 resolves the syntax highlighting issues and also introduces a preference option for showing undefined values.

![screenshot 2019-02-17 at 16 21 01](https://user-images.githubusercontent.com/741344/52915805-19dcd500-32d0-11e9-9f4b-b7406c00b574.png)

[2019-02-20 16:45] #52 closed

[2019-02-20 16:46] #48 closed

[2019-02-20 16:49] getify opened #53 "Bug: strange case of missing exception output"
This one is weird, I haven't been able to narrow down a hypothesis on why it's happening, but I at least have a fairly narrow use-case that demonstrates it.

Notice the missing exception output here?

<img width="671" alt="screen shot 2019-02-20 at 10 43 26 am" src="https://user-images.githubusercontent.com/150330/53108684-12e6da00-34fd-11e9-8a33-05bffed4d0d9.png">

But then in these 3 variations,

[2019-02-20 17:01] getify commented on #53
I should also mention, the first snippet "works" (shows the exception) if I turn on the "Holistic Evaluation" option (which I typically have turned off but turn on for specific actions).

[2019-02-20 17:03] getify opened #54 "Bug: strange order of exceptions vs console output"
(NOTE: this may be related to #53, not sure)

I would expect any "regular" outputs to come first, in order, before an exception message is shown, but it seems like the exception is "hoisted" to the top of the output. Led me to incorrectly trying to fix a bug in my code that wasn't actually a bug.

<img width="662" alt="screen shot 2019-02-20 at 10 51 35 am" src="https://user-images.githubuserconte

[2019-02-21 16:42] #10 closed

[2019-02-21 16:42] #24 closed

[2019-02-21 16:42] #38 closed

[2019-02-21 16:43] #51 closed

[2019-02-21 16:45] lukehaas commented on #49
Closing this now as most people have updated from 1.2.3

[2019-02-21 16:45] #49 closed

[2019-02-22 20:57] lukehaas commented on #53
Thanks, this will be fixed in the next release.

[2019-02-23 19:57] lukehaas commented on #54
Good spot. Will have a fix for this in the next release.

[2019-02-27 21:24] getify opened #55 "Bug: quirky handling of string outputs"
<img width="846" alt="screen shot 2019-02-27 at 10 21 37 pm" src="https://user-images.githubusercontent.com/150330/53523812-15899680-3ade-11e9-923e-1467ca36c93d.png">

Output lines 3 and 4 seem buggy here, no? Line 4 is especially surprising given how it differs from line 2.

I would have expected those output lines to say:

[code]

[2019-02-28 21:31] lukehaas commented on #55
I've made an update that resolves the inconsistency with the 4th output.
I've also to switched to using single quotes as it seems more consistent with other outputs.
As a result your example will now look like this in the next release:

<img width="610" alt="screenshot 2019-02-28 at 21 23 53" src="https://user-images.githubusercontent.com/741344/53599719-bee49100-3b9f-11e9-84f9-9b618fc0632a.png">

[2019-02-28 21:48] getify commented on #55
OK I can live with that. :) Thanks!

[2019-03-03 17:07] lukehaas commented on #46
Thanks. I've added more margin now. I've also moved it to a new domain: https://runjs.dev

[2019-03-03 17:07] #46 closed

[2019-03-03 17:52] lukehaas commented on #14
This is now resolved in version 1.3.1

[2019-03-03 17:52] lukehaas commented on #50
This is now resolved in version 1.3.1

[2019-03-03 17:52] lukehaas commented on #53
This is now resolved in version 1.3.1

[2019-03-03 17:52] lukehaas commented on #54
This is now resolved in version 1.3.1

[2019-03-03 17:53] lukehaas commented on #55
This is now resolved in version 1.3.1

[2019-03-04 08:59] yonifra opened #56 "Bug: Cannot update app after notification about new version"
I get the notification that a new version has been downloaded, but I cannot actually update when clicking on it (doesn't do anything, and there's no way to update from within the application)

[2019-03-04 09:35] lukehaas commented on #56
The update notification is just there to notify you that a new version has been downloaded and will be installed next time you open the app. It requires no other action from you.
Apologies for the confusion.

[2019-03-04 10:19] yonifra opened #57 "Bug: Cannot find any NPM package due to error"
In the NPM package search window, I always get an internal error:
![image](https://user-images.githubusercontent.com/726718/53726947-be861780-3e77-11e9-9809-3f823b11b521.png)

[2019-03-04 10:32] lukehaas commented on #57
This could mean there's an issue with NPM on your system. Are you able to install NPM packages from the terminal without issues?

[2019-03-04 10:40] #56 closed

[2019-03-05 11:23] rsoares opened #58 "Bug: Less helpful outputs"
I'm on macOS Mojave and I've just updated runJS to `v1.3.1` and the outputs seem less helpful now:

![screenshot 2019-03-05 at 11 17 00](https://user-images.githubusercontent.com/81978/53802015-a0ccb700-3f38-11e9-9937-bb2554494bc9.png)

Not sure if this is intended or a legit bug?

[2019-03-05 12:15] lukehaas commented on #58
Definitely a bug. Thanks for raising this.

[2019-03-06 09:03] rsoares commented on #58
Thank you! 🙇

[2019-03-07 13:22] yonifra commented on #57
Yes, I'm always using NPM on my machine without any issues from the terminal

[2019-03-07 13:23] yonifra commented on #56
Gotcha, thanks for clarifying!
Love RunJS! great learning tool and fast prototyping asset

[2019-03-09 07:14] enzime4u opened #59 "Feature Request: changing the font"
It would be possible in the future to change the Font used ?
Thank you

[2019-03-09 16:20] #14 closed

[2019-03-09 16:20] #50 closed

[2019-03-09 16:21] #53 closed

[2019-03-09 16:21] #54 closed

[2019-03-09 16:21] #55 closed

[2019-03-09 19:51] lukehaas commented on #59
This is actually coming in the next version! 👍

[2019-03-09 21:38] enzime4u commented on #59
Thank you BIG TIME, when do you think that will come out ?

[2019-03-10 19:27] lukehaas commented on #58
This is now resolved in version 1.4.0

[2019-03-10 20:16] lukehaas commented on #59
This is now available in version 1.4.0

![Screenshot 2019-03-10 at 20 15 41](https://user-images.githubusercontent.com/741344/54090910-5f416f00-4371-11e9-98dd-f273a5c68b0f.png)

[2019-03-10 20:31] enzime4u commented on #59
Great ! super thank you

[2019-03-17 18:24] #59 closed

[2019-03-17 18:24] #58 closed

[2019-03-17 18:24] lukehaas commented on #43
A Windows version is now available: https://runjs.dev/

[2019-03-17 18:25] lukehaas commented on #29
A Linux version is now available: https://runjs.dev/

[2019-03-17 18:26] lukehaas commented on #11
@thommorais @ozum version 1.4.0 now supports custom fonts, including Fira Code and ligatures.

[2019-03-17 19:31] joppe commented on #29
Thank you for creating a Linux version!
I installed it, everything seems to work, except for the settings dialog. It doesn't appear. Once it appeared for me, after closing it never came back.

[2019-03-17 19:35] thommorais commented on #11
@lukehaas Nice, thank you!

[2019-03-17 19:35] #11 closed

[2019-03-18 04:51] alexdevero commented on #43
@lukehaas Thank you. Any chance of adding portable version (Windows)?

[2019-03-18 13:33] AceroM commented on #28
Bump, would love this feature

[2019-03-18 15:31] lukehaas commented on #43
@alexdevero Unfortunately not, purely because portable windows apps can't receive auto-updates.

[2019-03-18 17:29] imri29 opened #60 "Feature Request: Adding keyboard shortcuts for commenting code"
Hello,
First of all thank you for this tool, I've been looking for something like this for a surprisingly long time.
Is it possible to add a keyboard shortcut to commenting/uncommenting code? It's usually `Ctrl`/`⌘` + `/` from what I'm familiar with.

Thank you again.

[2019-03-18 19:53] lukehaas commented on #60
Glad you raised this. Guess this means you're either on the Linux or Windows version. Currently this shortcut is mapped to `Cmd+/` I will update it so that `Ctr+/` also works.

[2019-03-19 08:54] alexdevero commented on #43
@lukehaas Got it. Unrelated question. Will you make the source code available?

[2019-03-19 13:48] lukehaas opened #61 "Settings window won't open on Linux"

[2019-03-19 13:49] lukehaas commented on #29
@joppe thanks, this is a bug, I've opened a separate ticket for this: https://github.com/lukehaas/RunJS/issues/61
It will be fixed in the next release.

[2019-03-19 13:50] #29 closed

[2019-03-19 15:07] imri29 commented on #60
Running the Windows version, yes.|

That'll be awesome, thanks!

[2019-03-19 15:07] #60 closed

[2019-03-20 11:53] alexdevero opened #62 "Feature Request: Cutomizable themes"
Add option to customize default themes. For example, change the color of variables, keywords, operators, comments, etc.

[2019-03-21 07:32] seyade opened #63 "Add current most used frameworks/libraries, i.e. react, angular, vue"
Hi Luke

I like this toy, really helpful!
This is just a suggestion, maybe you could also add libraries and frameworks for quick component testing.
For example if I want to try some array iteration with `someArray.map()` or others, with complex algorithm, etc., to see how it will work before putting the solution in my project.

[2019-03-21 09:31] lukehaas commented on #63
Every NPM package is already available to you 😉
Go to the `Action` menu, then `Install NPM Packages`

[2019-03-22 05:57] einsub opened #64 "'Select All' does not work when CMD+A is pressed."
Perhaps it's because I've turned on the 'Always use Vim keys' setting. When copying and pasting codes from elsewhere, I need to manually select all of them to erase existing code.

[2019-03-22 06:26] seyade commented on #63
Ah cool! Sorry I didn't look deeper in the app! But thanks for showing me.

[2019-03-22 09:57] lukehaas commented on #64
If you're using vim keys then you will need to be in insert mode to do this

[2019-03-22 09:59] lukehaas commented on #63
👍

[2019-03-22 09:59] #63 closed

[2019-03-22 14:16] einsub commented on #64
Thank you for your answer and confirmed that it works perfectly in insert mode. I'm not sure what is a proper action of cmd+a in visual mode, but I've never experienced this on any other editors like vscode, macvim. I even could not think that I can try it in insert mode as well because I always do this on visual mode.

[2019-03-22 14:46] lukehaas commented on #64
That's a valid point. I will investigate further and see if I can support the same behaviour as VScode

[2019-03-25 10:45] alexdevero opened #65 "Bug: incorrect behavior - var variables are not hoisted"
Example:
[code]
The output is `ReferenceError: x is not defined`. This is not correct. It should be `undefined` since `var` variables are hoisted.

[2019-03-28 12:57] p12y commented on #4
There is already the Quokka Vscode extension, which does this.

[2019-03-28 13:03] p12y opened #66 "Quitting from macOS doc causes error"
If you quit the application by right clicking the icon in the doc and select 'Quit', you get the following error:

A JavaScript error occurred in the main process
Uncaught Exception:
TypeError: Cannot read property 'removeAllListeners' of null
    at App.h.on (/Applications/RunJS.app/Contents/Resources/app.asar/entry-bundle.js:18:224552)
    at App.emit (events.js:187:15)

[2019-03-28 13:08] lukehaas commented on #66
Thanks, I'll have this fixed in the next release.

[2019-03-31 13:29] alexdevero commented on #65
Similar issue happens also with back-ticks.

Example:
`console.log('This text\n' + ' should be printed\n' + ' on multiple lines.')`

Result:
[code]

Correct behavior:
[code]

_Note: The "Always transpile" option is turned off._

[2019-03-31 17:15] lukehaas commented on #65
These are very different issues.
[code]
Is the expected behaviour. RunJS will convert multiline string to template strings to avoid breaking the syntax highlighting.

[2019-04-01 09:55] einsub opened #67 "Output is scrambled in lines."
I guess that this is caused by the code folding function. anyway, the shorter key has no problem.

![스크린샷 2019-04-01 오후 4 52 17](https://user-images.githubusercontent.com/2919667/55319339-da90cf00-549e-11e9-9cdf-fe38a3b25efe.png)

[2019-04-01 10:07] lukehaas commented on #67
That's a strange one. Thanks for raising it.

[2019-04-01 10:58] alexdevero commented on #65
Understand @lukehaas 👍 .

[2019-04-04 02:15] einsub opened #68 "Caching problem?"
I'm not sure what makes this situation, but I'm not able to run the code anymore. It keeps throwing an error whenever I run the code below:

[code]

[code]

I know this error is from mongoose, and it's caused by multiple instantiations of a model. but as you can see, I didn't initilaize twice. I've tried to restart Run.js but it doesn't make change.

[2019-04-04 14:14] lukehaas commented on #68
I'll take a look into this.
For now, you might find that turning on the 'Holistic evaluation' option in the advanced settings may improve the handling of this.

[2019-04-06 04:52] getify opened #69 "Bug: multiple declarations cause syntaxerror"
Bit of a strange one here, but... if I have multiple declarations in the same `var` statement, **AND** that comes after a `function` declaration, it reports a syntax error:

<img width="918" alt="Screen Shot 2019-04-06 at 7 46 34 AM" src="https://user-images.githubusercontent.com/150330/55665003-74aa9b80-5840-11e9-8d0e-7cbea83e74d8.png">

If there's no `function` declaration before it, no error re

[2019-04-06 04:54] getify opened #70 "Bug: functions not hoisted"
(Possibly related to #65)

Function declarations are not hoisted as they should be:

<img width="893" alt="Screen Shot 2019-04-06 at 7 53 52 AM" src="https://user-images.githubusercontent.com/150330/55665045-306bcb00-5841-11e9-82c0-2da004d13930.png">

[2019-04-08 03:05] Sevody commented on #57
I got this error too because I used taobao npm registry. And I fixed this problem after changing my npm registry to https://registry.npmjs.org

[2019-04-11 11:51] lukehaas commented on #70
The way RunJS works makes this a challenging problem to solve. I've experimented with ideas previously and will continue to do so. This issue will unfortunately need to be a longer term goal rather than something that can get resolved in the short term.

[2019-04-11 12:39] getify commented on #70
Understood. That's quite a bummer. :(

[2019-04-14 18:05] mdtanrikulu commented on #70
After enabling `Holistic Evaluation` from preferences > advanced, hoisting issue resolved for me.

<img width="975" alt="Screenshot 2019-04-14 at 20 02 57" src="https://user-images.githubusercontent.com/2774845/56097105-7d5e3a00-5ef0-11e9-9c63-edda67ebde5a.png">

<img width="910" alt="Screenshot 2019-04-14 at 20 03 06" src="https://user-images.githubusercontent.com/2774845/56097103-7afbe000-5ef0-1

[2019-04-14 18:09] mdtanrikulu opened #71 "Install specific package version"
Is there any way to install specific version of npm package? I tried `web3@1.0.0-beta.31` on search bar, didn't worked.

[2019-04-15 17:11] lukehaas commented on #69
Thanks for raising this. It will be fixed in the next release.

[2019-04-15 20:15] getify commented on #70
@mdtanrikulu Thanks, I can confirm that in fact does cause it to work. Hopefully that helps identify a solution to the bug.

[2019-04-17 09:44] lukehaas commented on #71
This isn't currently supported. I'll consider how this could be supported in the future.

[2019-04-20 16:46] lukehaas commented on #67
I've looked into this but I'm not actually able to recreate the issue.
Which version of RunJS are you using?

[2019-04-23 09:53] lukehaas commented on #69
This is now resolved in version 1.5.0

[2019-04-23 09:56] lukehaas commented on #66
This is now resolved in 1.5.0

[2019-04-23 12:22] #69 closed

[2019-04-23 13:04] einsub commented on #67
I'm using 1.4.0

[2019-04-23 13:11] lukehaas commented on #67
I just took another look and this time I was able to see it.
Will try and get a solution in the next release.

[2019-04-23 13:17] lukehaas commented on #68
This is now resolved in version 1.5.0

[2019-04-25 17:15] arawwad commented on #70
I think this may be related to this bug
![image](https://user-images.githubusercontent.com/25812184/56754911-7526ba00-678e-11e9-8e91-0845309ff433.png)

[2019-04-26 09:17] lukehaas commented on #70
@arawwad that issue won't be related to hoisting as the function is declared first. It's likely to be some kind of syntax bug.

[2019-04-26 11:19] getify commented on #70
the function is declared in a block.

[2019-04-26 11:52] arawwad opened #72 "function declarations shouldn't be scoped by a block"
![image](https://user-images.githubusercontent.com/25812184/56754911-7526ba00-678e-11e9-8e91-0845309ff433.png)

_Originally posted by @arawwad in https://github.com/lukehaas/RunJS/issues/70#issuecomment-486760550_

[2019-04-28 14:41] lukehaas commented on #61
This is now resolved in version 1.5.0

[2019-04-28 14:41] #61 closed

[2019-04-28 14:41] #66 closed

[2019-04-28 14:42] #68 closed

[2019-05-08 07:11] justrhysism opened #73 "Searching with `-` returns no results"
Searching using a dash `-` returns no results.

e.g. `is-date-object` not returned

Searching `date` returns `is-date-object` in the list.

Expectation: be able to search using all characters allowed in package names.

[2019-05-08 08:50] lukehaas commented on #73
This is, unfortunately, an upstream issue with NPM itself.
If you type into your terminal `npm search is-date-object` you'll see that no results are returned, even though `npm search date` does return that package in the list.

[2019-05-08 08:54] lukehaas commented on #73
This seems to relate to the reserved words in the package name rather than the hyphens. For example, if you search for `simple-datetime-utils` matching results are returned.

[2019-05-08 14:53] justrhysism commented on #73
Damn. The package I actually wanted was `date-fns`, but I couldn't get that result back at all :(

[2019-05-11 18:42] #43 closed

[2019-05-14 15:39] emrejen opened #74 "Cannot run Mocha"
I have installed Mocha, jest, and chai, but getting ReferenceError: describe is not defined

[2019-05-14 16:00] lukehaas commented on #74
Please provide the code you're running.

[2019-05-16 07:40] emrejen commented on #74
Sure - not much code actually - just a start
<img width="1335" alt="Screen Shot 2019-05-16 at 10 39 15" src="https://user-images.githubusercontent.com/54910/57835334-ef16f580-77c6-11e9-8a38-2659b579cc63.png">

[2019-05-28 09:22] Jpunt opened #75 "Let `fs` work in working directory"
It seems that I can't use `fs` methods like `readFile` when setting a working directory. Am I doing something wrong?

<img width="1104" alt="Screenshot 2019-05-28 at 11 22 06" src="https://user-images.githubusercontent.com/190501/58466872-d7caf700-813a-11e9-81f2-f475fd1e2984.png">

[2019-05-28 17:18] mandaputtra opened #76 "for loop print twice, instead of once"
I actually don't know how to call this issue.  But here is the images, in this snippet `console.log()` should fire up once right?

![onlyprintone](https://user-images.githubusercontent.com/23342943/58497959-9d4f7180-81af-11e9-836b-98b80c5c9516.PNG)

[2019-05-29 08:36] lukehaas commented on #76
This isn't a duplicate console.log output, RunJS is outputting the result of the line `result += parseInt(strNumber.charAt(i))` and also the output of `console.log(result)`.
So there isn't really any need to have the `console.log(result)`

[2019-05-29 13:44] mandaputtra commented on #76
Oh I okay then thanks for the explanation 😃

[2019-05-29 13:44] #76 closed

[2019-05-29 13:55] lukehaas commented on #76
👍 @mandaputtra if you would prefer RunJS to just show the output of your whole source instead of each line, then there is an option in the advanced preferences called 'Holistic Evaluation' that will do this.

![Screenshot 2019-05-29 at 14 54 44](https://user-images.githubusercontent.com/741344/58562734-bc86e700-8221-11e9-891e-c1d8ee6347e8.png)

[2019-05-29 15:09] OwenMelbz opened #77 "[Question] Where is the node_modules stored?"
Hi - Where is the internal `node_modules` stored? Trying to debug a package but can't find the  files to dig.

Thanks!!

P.S. Love the tool, thanks for building it!

[2019-05-29 15:15] lukehaas commented on #77
Hi, if you're on a mac then they will be in `~/Library/Application\ Support/runjs`

[2019-05-29 15:16] OwenMelbz commented on #77
Ah lovely thanks, I only looked in `/Library/Application Support` :D Forgot to check the local version!

Thanks!

[2019-05-29 15:16] #77 closed

[2019-05-29 16:54] lukehaas commented on #75
This is a bug. Thanks for raising!
I'll aim to get this sorted in the next release.

[2019-05-31 20:32] jguffey commented on #10
I think this issue is back in 1.5.0. I can't import local files, nor can I import `node_modules`.

I tried setting the working directory to my site root, and also to node_modules itself and both seem to fail right now.

Also tried:
[code]

![Screen Shot 2019-05-31 at 1 28 15 PM](https://user-images.githubusercontent.com/238058/58733016-2204e000-83a8-11e9-8a6f-bb7b32d1ef68.png)

[2019-06-04 16:47] lukehaas opened #78 "Set working directory no longer working"

[2019-06-04 16:48] lukehaas commented on #10
@jguffey This is a new issue, unrelated to this original enhancement ticket.
I've created a new issue to track it: https://github.com/lukehaas/RunJS/issues/78
I'm aiming to release a solution very soon.

[2019-06-04 17:01] lukehaas commented on #72
As I understand it, this is the correct behaviour. As described here: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/block

@arawwad, Can you tell me why you expect the function to not be scoped to the block?

[2019-06-07 13:18] arawwad commented on #72
in the article you provided; the third snippet in the with function section is the correct behaviour... when foo is called outside should work correctly

[2019-06-07 13:20] arawwad commented on #72
let and const are scoped to blocks and function scope .. var and function declarations are scoped to function scope only

[2019-06-07 13:44] lukehaas commented on #72
I see now. The block should only prevent the function declaration from being hoisted to the top of the scope. Calling foo() below the block should work.
You're right, thanks for raising this.

[2019-06-11 13:23] lukehaas commented on #67
@einsub This is now resolved in the latest release: 1.5.1

[2019-06-11 18:51] lukehaas commented on #75
@Jpunt This is now resolved in the latest release: 1.5.1

[2019-06-11 18:54] lukehaas commented on #78
Now fixed in 1.5.1

[2019-06-11 18:54] #78 closed

[2019-06-11 18:55] lukehaas commented on #10
@jguffey This is now fixed in 1.5.1. Thanks for catching it.

[2019-06-12 17:13] jguffey commented on #10
No problem, thanks for addressing it so quickly!

[2019-06-12 18:22] AArnott opened #79 "TypeScript won't run"
The home page suggests that typescript will be transpiled and run transparently. When I tried, it didn't work:

![image](https://user-images.githubusercontent.com/3548/59376030-97f43a00-8d0c-11e9-815f-6106305a5bff.png)

The Run command fails to execute my TypeScript.

The "Show transpiled code" window ironically worked fine for me at one point. It's failing now (it's just a white box).

[2019-06-12 18:56] lukehaas commented on #79
Apologies, this may have been introduced in the latest release. 1.5.1.
I'm currently working on a big TypeScript update that will enable RunJS to display TypeScript diagnostics.

[2019-06-12 19:30] lukehaas commented on #79
@AArnott this is now resolved in the latest release: 1.5.2. Thanks for raising it.

Regarding the transpiled code window, this will be blank when the transpiler has encountered an error.
I would appreciate your input on what you think would be an appropriate thing do display there in that scenario?

[2019-06-12 19:48] AArnott commented on #79
Awesome. I used Help -> Check for Updates in the 1.5.1 release and on top of the 'Found updates' dialog, this one appeared:

[code]

[2019-06-12 19:48] AArnott opened #80 "Check for Updates command resulted in error dialog."
I used Help -> Check for Updates in the 1.5.1 release and on top of the 'Found updates' dialog, this one appeared:

[code]

_Originally posted by @AArnott in https://github.com/lukehaas/RunJS/issues/79#issuecomment-501429053_

[2019-06-12 19:52] AArnott commented on #79
I would appreciate your input on what you think would be an appropriate thing do display there in that scenario?

If the transpiler failed, show an error in the popup window perhaps. I introduced a syntax error to test what would happen. The error showed up on the right, and the transpiled window showed code that either fixed my error, or just showed a stale result.

![image](https://user-images.g

[2019-06-13 09:09] lukehaas commented on #80
Thanks, will look into this.

[2019-06-13 09:11] #75 closed

[2019-06-13 11:57] Aventus opened #81 "The script with arrow functions is not executed"
Example not working:

[code]

[2019-06-13 12:14] lukehaas commented on #81
Thanks for raising this.

[2019-06-14 10:34] stefanjudis opened #82 "Increase font size to more than 30px"
Hey Luke,

thanks for this great tool. I'll plan to use it for several live coding sessions at conferences.
Everything works great except that I'd like to be able to increase the editor font size to more than 30px to be safe for a presentation stage.

<img width="322" alt="Screenshot 2019-06-14 at 12 33 47" src="https://user-images.githubusercontent.com/962099/59503447-b2f7b300-8ea0-11e9-9f4b-1ff9

[2019-06-14 11:44] lukehaas commented on #82
Sure, that makes sense. Will include that in the next release.

Great to hear that you've been using this for live coding at conferences. If there are any other features or enhancements that would make things better or easier for you in that scenario, I'd be keen to hear them.

[2019-06-17 11:16] stefanjudis commented on #82
In-app snippets are definitely something that could be useful. :)

Without any pressure – do you have a rough eta for the next release? Just so that I can plan for using it. :)

[2019-06-17 13:08] lukehaas commented on #82
Next release will probably be on Sunday, but I'd be happy to release this feature sooner if you need it more urgently.

[2019-06-17 15:54] stefanjudis commented on #82
i'll be speaking on thursday at ndc oslo. :D But as said – don't worry about it. Current font-size will do. :)

[2019-06-17 19:54] lukehaas commented on #81
This is now resolved in the latest release - 1.5.3

[2019-06-17 19:59] lukehaas commented on #82
Not a problem. I've just pushed a release. Latest release is 1.5.3, with much larger font-size options.
Good luck at the conference.

[2019-06-19 07:00] #81 closed

[2019-06-24 22:19] #82 closed

[2019-06-26 09:04] souhaiebtar opened #83 "where is the location of installed npm package?"
first thanks for this greate app,

can you please tell us the location where the npm packages are installed, also
if is it possible to use the package from the node_modules folder located in the same root as the file, let say:

.
|_index.js
|_node_modules

thanks again,

[2019-06-26 09:07] souhaiebtar commented on #83
i found it, under linux it's under `~/.config/runjs`

[2019-06-27 10:48] imri29 opened #84 "Themes do not apply except Dracula on 1.53"
Has something happened with the themes?
Currently, all themes are rendered as a white background and grey text except Dracula, which looks as it should. Please see images attached:

![2019-06-27 13_47_52-Settings](https://user-images.githubusercontent.com/30725898/60260408-358d6300-98e2-11e9-8da8-73ac1c7bd25f.png)

![2019-06-27 13_43_45-RunJS](https://user-images.githubusercontent.com/30725898/602

[2019-06-27 13:06] imri29 commented on #84
Just saw now that selecting a theme and restarting the app applies the theme correctly. Is this the expected behavior?

[2019-06-27 14:46] lukehaas commented on #84
@imri29 Definitely not expected behaviour. Will take a look into this next time I'm on a Windows machine. Seems to be fine on Mac.
Thanks for raising this.

[2019-06-28 09:26] philschonholzer opened #85 "Set Work directory not working"
I'm on MacOS and using Version 1.5.3 and setting Working Directory doesn't seem to work for me. I can't import local packages or files from the working directory and `__dirname` shows to the App folder: `/Applications/RunJS.app/Contents/Resources/app.asar`.

[2019-06-28 13:07] lukehaas commented on #85
Thanks for raising this. Will release a fix for this in the next few days.

[2019-06-28 13:09] #67 closed

[2019-06-29 20:12] matias2018 opened #86 "For loops not behaving the way expected"
**E.G.**
[code]
**Output**:
'Hello Francisco'

[2019-07-04 08:54] lukehaas commented on #85
This is now resolved in 1.5.4

[2019-07-10 17:31] lukehaas commented on #86
You will need to wrap the call to `greetStudent` in a console log to see the output from each iteration:
`console.log(greetStudent( students[i] ));`

[2019-07-10 17:33] #85 closed

[2019-07-11 01:34] getify commented on #72
Actually, the spec does currently say that functions are scoped to blocks. However, browsers have not historically treated functions in blocks consistently... so [Appendix B of the spec](https://www.ecma-international.org/ecma-262/10.0/#sec-block-level-function-declarations-web-legacy-compatibility-semantics) clarifies this complex issue.

[2019-07-11 01:39] getify opened #87 "Can RunJS remember the window position/size between usages?"
Every time I close RunJS and re-open it, I get its size/position reset back to the middle of the screen and rather small. It doesn't remember what I had set previously. Is there any way to get it to remember? It's a small annoyance, but would be nice to fix.

I'm on latest OSX, btw.

[2019-07-11 08:46] lukehaas commented on #87
👍 Will aim to get this resolved in the next release.

[2019-07-11 10:21] matias2018 commented on #86
Thank you!

[2019-07-11 10:50] #86 closed

[2019-07-12 10:52] SmallPotatoCZ opened #88 "Set Work directory not working on Windows10"
When I want to set the directory of the working, there will be an error.

I think, 'D:ProgramsRunjs' should be 'D:Programs\Runjs'. So, maybe it is a bug of the software.

[2019-07-12 11:17] lukehaas commented on #88
Thanks, I'll look into this.

[2019-07-12 17:06] alexzerah opened #89 "Console.table is not supported"
# Problem with console table

## Details

👋 Hi everyone,

This is an incredible app ❤️🚀

I play with it with my friend @redhotman and we want to test `console.table`.
But nothing is displayed 😭

## Screenshot

<img width="799" alt="app js" src="https://user-images.githubusercontent.com/19301356/61145530-feb96e80-a4d7-11e9-98e0-44d0dea17e92.png">

[2019-07-12 17:53] lukehaas commented on #89
`console.table` is not currently supported, but I'm aiming to have support for it soon. 👍

[2019-07-13 04:25] JaKXz commented on #22
I am a huge fan of this app, and would love to contribute this, but then I noticed the source code isn't here :(

[2019-07-14 12:23] alexdevero opened #90 "Class private methods are not supported"
Private class methods and fields are not supported.
[code]
Result:
[code]

[2019-07-29 12:58] rayno opened #91 "install NPM packages does not find any package"
OS: Windows 10
RunJS Version: 1.5.4

When try in install package, none is found. Loading indicator is shown, but then nothing is displayed. Tried with several different packages: ramda, lodash, rimraf.

![image](https://user-images.githubusercontent.com/1233467/62050264-9bd70f80-b219-11e9-86b0-37f3223251e9.png)
![image](https://user-images.githubusercontent.com/1233467/62050285-a42f4a80-b219-11e9-

[2019-07-29 13:03] rayno commented on #88
same here, the directory is `D:\Projects\functional-light-v3\transduction` here is a screenshot.
RunJS 1.5.4:
![image](https://user-images.githubusercontent.com/1233467/62050576-2ae42780-b21a-11e9-97b2-6c1814346bc6.png)

[2019-07-29 13:19] lukehaas commented on #91
RunJS uses your system's version of NPM for searching/installing packages. It could be that you just need to update NPM.

[2019-07-30 14:47] Cretezy commented on #84
Can confirm this also applies on Linux for 1.5.4

[2019-07-30 14:51] Cretezy commented on #45
Having issues on Linux for this. Seems like being able to manually put the `node` path would help with this issue.

I'm currently using `nvm` too, and even if I add the `nvm` script in my `~/.bash_profile`, RunJS can't find my `node` (Bash does though)

[2019-07-30 15:09] lukehaas commented on #84
This will be resolved in the next release.

[2019-07-30 15:13] lukehaas commented on #45
@Cretezy thanks, manually setting the node path could be a could solution for these edge cases. I'll reopen this ticket.

[2019-08-08 15:50] lukehaas commented on #88
This is now resolved in version 1.6.0

[2019-08-08 15:51] lukehaas commented on #84
This is now resolved in version 1.6.0

[2019-08-10 08:06] mgkyawzayya opened #92 "cannot set Desktop Icon"
RunJS 1.6.0 cannot set Desktop icon in Manjaro Linux 18.04

[2019-08-13 16:05] lukehaas commented on #92
Thanks, I'll take a look into this.

[2019-08-13 16:07] lukehaas commented on #87
This is now working in the latest release - 1.6.0

[2019-08-13 16:08] #84 closed

[2019-08-14 03:14] #87 closed

[2019-08-19 10:06] KarthikKadambi opened #93 "Reference error: variable is not defined is not thrown"
This should had thrown ReferenceError: name is not defined

<img width="827" alt="Screenshot 2019-08-19 at 3 35 26 PM" src="https://user-images.githubusercontent.com/1627832/63257270-05858f00-c297-11e9-8034-7c4315b3d8d2.png">

[2019-08-19 10:21] lukehaas commented on #93
Thanks for raising this. Will investigate.

[2019-08-20 12:08] rayno commented on #91
Yes, it works with newer version, thanks :)

[2019-08-20 12:08] #91 closed

[2019-08-20 12:33] rayno commented on #88
I can confirm it works in version 1.6.0 on Windows 10 with Nodejs 10.15.0. Thanks!

[2019-08-20 12:34] lukehaas commented on #88
Thanks

[2019-08-20 12:34] #88 closed

[2019-08-21 16:01] bpincus opened #94 "Pasted large item, locked up runjs"
Hi,

I pasted a really large javascript object into the app which has locked it up, and now I can't remove it. I've tried uninstalling, but the object appears when opening from a fresh install.

Not sure what to do.

[2019-08-21 16:05] #94 closed

[2019-08-21 16:05] bpincus commented on #94
deleted file from
/Users/<user>/Library/Application Support/runjs/Cache

[2019-08-28 19:25] jlandrum opened #95 "process.memoryUsage() is unavailable"
For doing quick evaluations with performance analytics, it would be extremely useful to be able to get memory statistics using process.memoryUsage(). It is currently undefined.

[2019-08-29 07:01] mgkyawzayya commented on #92
Not Work in Ubuntu also

[2019-08-29 11:39] lukehaas commented on #95
Thanks, @jlandrum I will resolve this in the next release.

[2019-09-05 11:48] lukehaas commented on #93
@KarthikKadambi having now looked into this, I have found that `name` is an attribute of the window object and so was rightly displaying here as a blank string.

https://developer.mozilla.org/en-US/docs/Web/API/Window/name

[2019-09-05 11:48] #93 closed

[2019-09-06 14:32] lukehaas commented on #74
The `describe` function is not defined here because it's not being imported.

As far as I know, Mocha can't be imported as an ES module anyway so it may be best to just find a testing library that can be used in this way.

[2019-09-17 21:28] JordanAtBridgit opened #96 "Editor occasionally gets stuck in 'typeover' mode"
Description:
Sometimes after working in the RunJS editor panel for a while, I will find myself in a state where each new character replaces the one following the cursor instead of inserting the new value inline and making the overall line longer. This means that any edit to an existing line of code is very difficult, and requires entire lines to be retyped just to add single characters.

Repro:
Un

[2019-09-23 20:46] aleffsouza opened #97 "console.time and console.timeEnd don't work"
Hello @lukehaas

A big Thank you for building RunJS, it's a fantastic tool and It helps me a lot 😄

Now, I was trying to measure some execution time using [`console.time`](https://nodejs.org/api/console.html#console_console_time_label) and [`console.timeEnd`](https://nodejs.org/api/console.html#console_console_timeend_label) and it prints out nothing 🤔

If I run the code below on node.js' REPL (v1

[2019-09-29 16:48] amirmeimari opened #98 "reference error instead of undefined"
Hi there.
I'm using RunJS version `1.6.0`. when I try to `log` a `var` before declaration I get a reference error at first then I get `undefined`, but I'm sure I should only get `undefined`.

for example:
[code]

output:
[code]

see? first error then `undefined`.

[2019-10-01 19:10] cairocoder opened #99 "[Feature Request] Adding Tabs"
It would be better if you allow the user to open multiple tabs within same workspace.

[2019-10-02 06:57] yonifra opened #100 "Endless execution of code when using the CMD + F (Format) shortcut"
I've used the CMD + F a few time in succession to format the code, and my code gets executed non stop since then.
I've had to close and reopen the app to make it stop
See the problem here: https://i.imgur.com/q9yLmKu.gif

[2019-10-02 06:57] yonifra commented on #100
It's on version 1.7.0

[2019-10-02 07:10] yonifra commented on #57
Seems to actually be a local issue with my registry setup. Closing

[2019-10-02 07:10] #57 closed

[2019-10-02 08:26] lukehaas commented on #100
Thanks, will investigate this.

[2019-10-05 17:31] lukehaas commented on #95
This is now available in version 1.7.0

[2019-10-05 17:42] lukehaas commented on #98
Thanks @AmirMeimari. This is a known issue with RunJS - more detail can be found in this ticket: https://github.com/lukehaas/RunJS/issues/70

Solving this is a long term goal.

[2019-10-05 18:06] lukehaas commented on #96
Thanks for raising this.
Could you let me know which OS you're on and which version of RunJS you're using?

[2019-10-05 18:56] lukehaas commented on #100
Found this issue. This will be fixed in the next release.

[2019-10-06 07:17] yonifra commented on #100
Awesome!

[2019-10-08 18:00] gminova opened #101 "Donwload for Linux link broken on main website page"
Hi I get a github 404 page when I tried to install the RunJS for linux
![Screenshot from 2019-10-08 18-59-55](https://user-images.githubusercontent.com/42014388/66420500-e0431080-e9fd-11e9-871f-b8d9acc7b3d2.png)
![Screenshot from 2019-10-08 18-59-58](https://user-images.githubusercontent.com/42014388/66420502-e0dba700-e9fd-11e9-93a9-6485db16fab3.png)

[2019-10-10 21:10] lukehaas commented on #101
@gminova thanks for raising this. The download link should work now.

[2019-10-11 11:37] gminova commented on #101
@lukehaas  Thank you! Closing this issue.

[2019-10-11 11:37] #101 closed

[2019-10-17 20:09] animanoir opened #102 "Text gets overwritten when trying to type new characters."

[2019-10-24 11:51] Bilalm354 opened #103 "Can you open .js files? Can you add this feature?"
Can you open .js files? Can you add this feature?

[2019-10-24 13:15] lukehaas commented on #103
This can be done by choosing the `Load File` option in the file menu.

[2019-10-25 15:20] #95 closed

[2019-10-25 15:23] lukehaas commented on #102
Thanks @animanoir, could you tell me the OS and version of RunJS you're using?

Is this issue something you're able to consistently see or is it only occasionally?

[2019-10-25 15:28] lukehaas commented on #79
The transpiled code window will now just show an error message if your code fails to transpile.
This is available in version 1.7.0

[2019-10-25 15:56] lukehaas commented on #34
Agree, best to install Quokka

[2019-10-25 15:56] #34 closed

[2019-10-25 15:59] lukehaas commented on #4
Best to install Quokka to get this functionality in an IDE.

[2019-10-25 15:59] #4 closed

[2019-10-26 13:42] #79 closed

[2019-10-26 22:13] animanoir commented on #102
W10 and I downloaded it like 2 weeks ago. Useful, but that detail got annoying.

It was consistently. At first I thought it was that keyboard mode that replaces the letter instead of adding it, but I couldn't get it as I wanted.

[2019-11-04 23:22] achung89 opened #104 "[Feature Request] Specify custom babel plugins"
Could you add an ability for users to specify custom babel plugins? This would allow us to use new and upcoming features like optional chaining.

[2019-11-05 09:10] lukehaas commented on #104
Thanks @achung89 this is a good idea.

[2019-11-07 10:20] michael-pont opened #105 "Print command access windows print function"
I'm using runjs on a windows OS. Since I write JavaScript and Python I sometimes switch the syntax. I used the print command by accident and this brought up the print dialog. Just wanted to let you know.

![image](https://user-images.githubusercontent.com/35072335/68380629-7f1f7180-0150-11ea-9a7b-ba32184591fe.png)

[2019-11-07 10:46] lukehaas commented on #105
Noted. Thanks for raising this.

[2019-11-13 01:59] getify opened #106 "Bug: font is missing"
I have a set of fonts installed (windows 10) called "Source Code Pro" (Adobe)... and they show up fine in all the other apps' font selectors on this laptop. But for some reason, they don't show up in the font selector of RunJS:

<img width="399" alt="runjs-font-selection" src="https://user-images.githubusercontent.com/150330/68726307-a037f600-0586-11ea-9a75-481e0baa42d5.png">

In Notepad for examp

[2019-11-13 09:35] lukehaas commented on #106
I'll look into this. It could be that it's just picking up system fonts and not installed fonts.
It does this at runtime, so not related install time

[2019-11-13 14:24] LukaszGrela opened #107 "TypeScript - Could it check type validity?"
Typescript code works in terms of compilation, but types are not checked, e.g. following code should report an error:

[code]

this is compiling correctly but it should report an error:
![image](https://user-images.githubusercontent.com/7643591/68772139-33256e80-0621-11ea-9254-e1aba01b12ad.png)

could this be added?

[2019-11-17 09:56] kingRayhan opened #108 "Can't install npm package"
I can't install any npm package.
**My OS**: Mac High Sierra
N.B: I updated npm to the latest version already.

![image](https://user-images.githubusercontent.com/7611746/69005911-9f221280-0952-11ea-8f3d-83a89450290f.png)

[2019-11-17 14:22] lukehaas commented on #108
@kingRayhan thanks for raising this. Can you tell me which version of MacOS you're on? Also, have you installed Node through any kind of version manager live nvm?

[2019-11-17 23:41] basrihsn opened #109 "Can't loading the local files"
When I attempt to open local device file (Ex: JS file) Run.js don't makes anything, nothing seems on the program screen.

[2019-11-18 07:35] kingRayhan commented on #108
![image](https://user-images.githubusercontent.com/7611746/69033042-3bf2b780-0a08-11ea-895b-8f8f93c04514.png)

[2019-11-18 10:56] lukehaas commented on #109
Thanks @basrihsn, can you tell me which OS you're on?
Also, are you loading the file via the file menu?

[2019-11-18 11:57] basrihsn commented on #109
Dear @lukehaas Hello,
I'm using Windows 10 pro. Also, I tried to load local files via Run.js environment but program couldn't open the .js files
Sincerely,
Monday, 18 November 2019, 01:56PM +03:00 from Luke Haas  notifications@github.com :

[2019-11-18 17:44] basrihsn commented on #109
Thanks Luke,
Problem was cleared up thank you for your attention.

[2019-11-18 17:44] #109 closed

[2019-11-21 14:41] awmottaz commented on #45
I'm also having issues with `nvm` on Linux. Is there a confirmed workaround? My setup is zsh with antibody loading the `lukechilds/zsh-nvm` plugin in my `.zshrc`.

[2019-11-25 10:42] zcei commented on #30
Just ran into this topic as well, was there any progress in how you imagine the outcome of this app?
In my opinion sharing these roadmaps with the outside helps a lot. And as others have expressed interest it might even speed up development.

In case it's a fear of missing out on monetarization, there are some ways to do it in OOS (which tbh can be quite frustrating).
And as you offer a free versi

[2019-11-27 16:39] kingRayhan commented on #108
Any update?

[2019-12-08 15:01] jmlivingston commented on #104
Yes, especially when new features are coming out like optional chaining, we could just add @babel/plugin-proposal-optional-chaining. Great app by the way.

[2019-12-17 00:40] OmgImAlexis opened #110 "Feature request: Import nested files"
This works.
[code]

This doesn't.
[code]

[2019-12-17 00:42] #110 closed

[2019-12-26 03:10] andrwj opened #111 "[Feature Request] Disabling auto-pair?"
Could you add an option to toggle auto pairing? It's too hard to modify codes because of the auto-pairing.
Thanks.

[2019-12-26 11:34] lukehaas commented on #111
Thanks @andrwj, I'm not clear on what you mean by 'auto-pair', could you describe the behavior?

[2019-12-26 11:40] andrwj commented on #111
I mean the function that automatically fills the rest by entering one side of brackets, parens, quotes.
It's a pretty annoying feature, so I hope we have an option to turn it off.
Thanks.

[2019-12-26 15:14] lukehaas commented on #111
I see now. Thanks for the suggestion.

[2020-01-01 16:36] lukehaas commented on #108
@kingRayhan I'm not sure what the issue here could be.
I have plans to rework the way that NPM packages are installed so that there is no longer a dependency on the system's NPM. However, it will not be shipped for a while.

[2020-01-01 16:37] #103 closed

[2020-01-03 21:57] tokbuga opened #112 "Feature Request: Coffeescript Support"
Can we have :)

[2020-01-04 12:30] robertherber opened #113 "iPad Support"
Would be supercool to have RunJS on iPad. It's not a laptop replacement for developers yet - but being able to do some rapid prototyping on an iPad would be great!

[2020-01-04 16:06] metaa opened #114 "The process object"
Issue #95 targeted `process.memoryUsage` not being available and it got added, but I see there are more things in `process` that should be available like `process.cwd` or `process.versions`.

Unless there is a reason to strip it down like that (all we have as v1.7.0 of is `env`, `memoryUsage` and `cpuUsage`), why not expose process completely? (you could even sneak the RunJS version into `process.

[2020-01-07 07:08] dYb commented on #108
Same problem here.
A temporary solution is `Set Working Directory` in the `Action` menu, and then install the package manually.

[2020-01-07 14:36] robertherber opened #115 "Github Gist integration"
It would be great to be able to integrate RunJS with Github Gists. It feels like just the right kind of place to save/load RunJS code to.

[2020-01-08 09:34] lukehaas commented on #115
Thanks, @robertherber. This is an interesting idea.

[2020-01-12 11:54] marsicdev opened #116 "Custom code formatting"
It would be great if we could have option to set our code formatting rules. At least option for semi and indentation would be nice.

Also for the future some snippet support would be awesome  🏆

[2020-01-12 13:00] dutzi opened #117 "New logo suggestion"
Hey all,

Cool project, I like it a lot, the only thing that's been bugging me was the bit-outdated logo, IMO.

I made some alternative, would be very happy if you consider, or maybe if anyone else have their suggestions this could be a place to share them!

![1](https://user-images.githubusercontent.com/927310/72219208-361edb80-354c-11ea-809e-2637a724290a.png)
![2](https://user-images.githubuserc

[2020-01-12 13:06] dutzi opened #118 "Getting an error installing some random package"
Trying to install [ds4](https://github.com/seidtgeist/node-ds4) I get the following error:

![image](https://user-images.githubusercontent.com/927310/72219273-f99faf80-354c-11ea-977b-d541bab22afc.png)

Would be useful if it also showed me the package installation logs.

[2020-01-12 17:30] lukehaas commented on #117
Thanks @dutzi, the next version of RunJS actually be featuring a new logo.
I think you'll like it 👍

[2020-01-12 17:32] lukehaas commented on #116
Thanks @marsicdev. Configurable code formatting rules are something I have planned for a future release.
Snippet support also, though that will be further down the line.

[2020-01-18 14:50] dufia opened #119 "[Bug] Async generators"
This snipped should log numbers from 1 to 5:

[code]

You can test it by pasting it into Chrome's console or node.

[2020-01-18 16:27] bburke4 opened #120 "Privacy Policy"
I am hesitant to install this because it is not open-source and I did not see a privacy policy published anywhere. Are you collecting or selling any user data?

[2020-01-18 16:43] lukehaas commented on #119
@dufia thanks for raising this. I will investigate.

[2020-01-19 02:07] gastonmorixe commented on #45
Opened from terminal writting

`$ /Applications/RunJS.app/Contents/MacOS/RunJS`

[2020-01-19 16:55] lukehaas commented on #120
👍I'll get a privacy policy added soon. Currently, just have some basic analytics, definitely no selling of user data.

[2020-01-19 17:05] lukehaas commented on #114
@metaa good point. I think in the next release I implement a less strict approach to handling process.

The only reason for the restriction here is that there are some functions of the process that, if executed, will cause RunJS to break, such as `process.exit()`

[2020-02-04 09:12] CassaranoIFTV commented on #117
Hi! Your new logo is very beautiful and professional. I'm proud to have an app like it and to talk about with my mates. However on mac os, it seem pixelated in the dock on mac book pro 2019 screen and FHD Screen. Is there a solution ?

[2020-02-04 16:01] getify opened #121 ""Check for Updates..." is broken"
I get the following error (on windows) when I try to check for updates, even in the latest updated RunJS.

![Annotation 2020-02-04 095351](https://user-images.githubusercontent.com/150330/73761979-2f434d00-4735-11ea-8691-7a393841d910.png)

The HTTP 404 error is against this URL: https://github.com/lukehaas/RunJS/releases/download/v1.8.0/latest.yml

However, checking the release assets on github he

[2020-02-05 08:16] robertherber opened #122 "TypeScript and autocomplete"
I've just switched to TypeScript. The tooling around it (mainly VSCode) makes it so smooth. Above all - and most interesting for the RunJS case - it allows for autocompleting and inline documenting of third-party library calls. Would be awesome if RunJS could support autocompleting in a similar way!

[2020-02-05 09:48] lukehaas commented on #121
@getify thanks for raising this. I'll aim to get this resolved shortly.

[2020-02-05 16:19] CassaranoIFTV opened #123 "New Logo - Pixelated"
Hi! Your new logo is very beautiful and professional. I'm proud to have an app like it and to talk about with my mates. However on mac os, it seem pixelated in the dock on mac book pro 2019 screen and FHD Screen. Is there a solution ?

_Originally posted by @CassaranoIFTV in https://github.com/lukehaas/RunJS/issues/117#issuecomment-581811668_

[2020-02-08 15:21] lukehaas commented on #123
@CassaranoIFTV thanks for raising this. I'll see what I can do about this in the next release.

[2020-02-08 15:22] lukehaas commented on #122
👍aiming to have all this in RunJS at some point. Hopefully later this year.

[2020-02-08 15:29] lukehaas commented on #121
I've manually added the missing latest.yaml file, though there still seems to be a problem with updating on Windows.
I'll try and get this addressed for the next release.

[2020-02-08 15:31] lukehaas commented on #117
@dutzi The latest version of RunJS has a new icon.
<img width="128" alt="runjs-128@2x" src="https://user-images.githubusercontent.com/741344/74087865-11a11b00-4a88-11ea-92aa-382ffcde01ff.png">

[2020-02-08 15:33] lukehaas commented on #114
@metaa RunJS 1.8.0 has more relaxed rules around the process object.

[2020-02-08 15:33] #114 closed

[2020-02-08 15:34] lukehaas commented on #100
@yonifra This is now resolved in version 1.8.0

[2020-02-08 20:51] dutzi commented on #117
Amazing

On Sat, 8 Feb 2020 at 17:31 Luke Haas <notifications@github.com> wrote:

--
- Eldad

[2020-02-09 15:11] yonifra commented on #119
also, multiple `.next()` invocations only show the first one

for example:
[code]

[2020-02-11 01:37] DouggyC opened #124 "Any future support for using higher order array func directly on array?"
[].HOAF returns TypeError

[2020-02-11 01:46] #124 closed

[2020-02-13 06:17] youngjuning commented on #107
+1

[2020-02-13 15:54] cairocoder commented on #99
Any updates?

[2020-02-13 16:23] lukehaas commented on #99
Thanks @cairocoder, this has been noted for future possible updates.

[2020-02-13 16:24] #117 closed

[2020-02-14 10:37] AzrizHaziq commented on #107
Refer: https://github.com/lukehaas/RunJS/issues/122

[2020-02-21 16:18] coisnepe commented on #104
Hey, any update on this ?

[2020-02-21 16:33] lukehaas commented on #104
@coisnepe it's possible this may be introduced later this year.

[2020-02-21 16:44] coisnepe commented on #104
@lukehaas That was quick! Thanks for replying. I tried using the "working directory" but I guess it's not the intended use case. Thanks for your work :-) I use RunJS almost daily.

[2020-02-23 11:52] finuex opened #125 "Bug: "Save"/"save as" Cancellation Error"
How to reproduce

0. [Preparation] Open *.Js file from RunJS
1. "File" > "Save as"
2. Click "Cancel" button
3. Click "OK" for error notification
4. Click "Save"
5. An error appears

in my opinion, if the "save" menu is clicked [number 4], the file will be saved where the file was previously opened

RunJS 1.8.0

[2020-02-23 12:55] lukehaas commented on #125
@finuex thanks for raising this, I will investigate.

[2020-02-26 22:37] flpwgr commented on #122
Would be possible to use Monaco Editor instead of CodeMirror?

[2020-03-06 15:18] aquacode opened #126 "Odd results printed for custom Array function that doesn't appear in Dev Tools or PlayCode"
Mac OS Catalina
Version 1.8.0

If I have an array like:
`
const a = [1,2,3,4,5];
`

And then I add a function to Array like so:
`
a.multiply = function() {
  let size = a.length;
  for (var i = 0; i < size; i++) {
    a.push(a[i] * a[i]);
  }
};
`

Then execute the following:
`
a.multiply();
console.log(a);
a.length;
`

The results print the function at the end of the array:
`
[ 1, 2, 3, 4, 5, 1,

[2020-03-06 15:46] lukehaas commented on #126
When you add the function `a.multiply = ...` you're not adding it to the array, you're just adding it as a static property on the array variable.
This won't be counted in `a.length` even though it's visible when you console log the `a` variable.
That's how I understand it anyway.

[2020-03-06 15:56] lukehaas commented on #126
Looking at the Chrome dev tools, I see this result for console.log(a):
`[1, 2, 3, 4, 5, 1, 4, 9, 16, 25, multiply: ƒ]`

Which devs tools did you compare this against?

[2020-03-06 16:07] aquacode commented on #126
Forgot to mention, I'm using Firefox dev tools. But also, this doesn't appear in PlayCode.io either.
Just wondering why RunJS and Chrome dev tools show the function at the end of the array ... does RunJS use Chrome's JavaScript engine?

[2020-03-06 18:28] lukehaas commented on #126
Yes, RunJS and Chrome use the same JavaScript engine.

[2020-03-06 18:33] aquacode commented on #126
OK, thanks for clarifying, I guess some engines and implementations of console are not showing that static property/function.
Germaine to this issue is if one was to implement multiply _for all arrays_ using prototype, any idea why RunJS displays the result of arrays of greater than 3 items on multiple rows and when 3 or less it's a single row?
![Screen Shot 2020-03-06 at 12 30 40 PM](https://user

[2020-03-07 16:09] lukehaas commented on #126
It's breaking it into rows of 3 as it's too long to show on a single line.
Just a formatting rule.

[2020-03-07 16:15] lukehaas commented on #112
Sorry, @tokbuga, CoffeeScript is not used much anymore, for this reason, I don't think it would add much value to include support for it.

[2020-03-07 16:15] #112 closed

[2020-03-07 16:16] #74 closed

[2020-03-07 20:08] aquacode commented on #126
Ok, that's what I thought, however, fyi, the screenshot cut off the actual size of the "console" and my screen size -- it could actually handle a _much_ larger single row, but somehow defaults to 3.

[2020-03-16 16:16] juniorclearmetal opened #127 "Arrays and objects are not expanded (or expandable)"
In some cases where an array or object is a property of a parent object(s) it is represented as `Array` or `Object`, with no way I can find to expand them. `console.dir` does not work and there is no setting in preferences to do this. I can use `JSON.stringify` but that output is not formatted and hard to read. This limits the usefulness of RunJS because seeing the full output is not only helpful

[2020-03-16 17:32] lukehaas commented on #127
@juniorclearmetal thanks for raising this. You're right, this isn't good. I will investigate and try and find a solution.

[2020-03-27 16:52] vzazorin opened #128 "CMD+D does not work when I try select multiple word, it's just deletes a line"
it's very helpful feature, i'm sure it's possible to use it, i just can't get how i can activate it

[2020-03-31 11:37] yonifra opened #129 "[Feature Request] Need the ability to find strings within the code"
I couldn't find a way to search for text within the code, super basic thing that I use all the time.
If I missed that - I'm sorry and would love to know how to do this.

[2020-04-03 21:29] malammar commented on #45
Same issue here with FNM on linux.

[2020-04-03 21:32] malammar opened #130 "Feature Request: Ability to toggle focus between editor and results"
Currently there's no way to toggle focus between the editor and the results (for the purposes of copying results). Would be nice to have Ctrl+Tab or Ctrl+Arrow keys move between them.

[2020-04-07 21:59] HugoLiconV commented on #108
I'm getting the same error in Ubuntu and setting the working directory didn't work

[2020-04-09 09:31] alikadir opened #131 "there should be more light theme"
for example [IntellijLightTheme](https://plugins.jetbrains.com/plugin/12697-intellij-light-theme) and [hypest](https://github.com/dizzyup/hyper-hypest)

[2020-04-17 14:32] lukehaas commented on #125
This will be resolved in the next release.

[2020-04-17 14:43] #100 closed

[2020-04-18 15:35] Kachulio1 commented on #131
@lukehaas  I also want my favorite theme [**Andromeda**](https://github.com/EliverLara/Andromeda) or ability to add a theme

[2020-04-19 16:14] dnicolson opened #132 "Strings spanning more than one line have inconsistent syntax highlighting"
The "More text" part of the string is green while the rest of the strings are yellow.

<img width="1042" alt="Screen Shot 2020-04-19 at 18 10 00" src="https://user-images.githubusercontent.com/2276355/79693130-358f9280-8269-11ea-960e-e4ae4cbf4e01.png">

RunJS 1.8.0

[2020-04-20 20:23] Aamir2000 commented on #125
Yeah please fix this issue because I honestly save a lot of times and it even pops up when I press ctrl + s after the error occurs first time and then we just can't use that shortcut unless we use "save as" from the file menu and its really annoying

[2020-04-22 08:04] Anieto86 opened #133 "I can't erase a previous code"

[2020-04-22 09:01] lukehaas commented on #133
Hi @Anieto86, could you provide some more detail, please.

[2020-04-22 14:04] dnicolson opened #134 "SyntaxError: Unexpected token, expected ";" when typing object literal"
The issue only exists when typing the object literal, the issue does not exist when defining a variable.

<img width="1042" alt="Screen Shot 2020-04-22 at 15 57 30" src="https://user-images.githubusercontent.com/2276355/79991212-4f6fe600-84b2-11ea-9af6-eb11f4b5e6d1.png">

RunJS 1.8.0

[2020-04-22 14:04] dnicolson opened #135 "SyntaxError: Label 'key' is already declared in child object"
The issue only exists when typing the object literal, the issue does not exist when defining a variable.

<img width="1042" alt="Screen Shot 2020-04-22 at 15 58 02" src="https://user-images.githubusercontent.com/2276355/79991228-526ad680-84b2-11ea-9446-57a3991ef0ae.png">

RunJS 1.8.0

[2020-04-22 14:24] lukehaas commented on #135
This is certainly odd behavior. Thanks for raising.

[2020-04-24 09:25] lukehaas commented on #90
This will be supported in the next release.

[2020-04-26 07:21] prashantpiyer opened #136 "Line no in the Editor"
Line no in the editor will  help us to differentiate programming codes

[2020-04-26 09:07] dYb commented on #108
Did you use a shell？ Open a bash shell and cd the working directory, then run `npm install`

[2020-04-26 11:54] monojack opened #137 "Any way to contribute?"
Hi. I really enjoy using RunJS and I constantly find myself reaching for it for rapid prototyping. It does lack some nice-to-have features and I would love to help with that. So, is there any way one can contribute?

Thanks!

[2020-04-26 11:56] lukehaas commented on #136
Line numbers are an option in the preferences.

![Screenshot 2020-04-26 at 12 55 35](https://user-images.githubusercontent.com/741344/80306788-4dad6780-87bd-11ea-834c-cabd4d0d6089.png)

[2020-04-28 19:02] HugoLiconV commented on #108
It worked, but it would be great if I could do it using the GUI. This error is weird, I have RunJS installed on an Ubuntu and a macOS machine and I don't have this issue in macOS, only on ubuntu

[2020-04-29 07:38] ajaymathur opened #138 "BigInt operations throw error"
**Example code:**

[code]

**Expected behaviour:**

It shows the result of addition.

**Actual behaviour**

It throws error:

[code]

[2020-04-30 16:32] #136 closed

[2020-04-30 16:58] prashantpiyer commented on #136
Thanks alot :)

[2020-04-30 20:59] guillaumekpomda commented on #137
Same here!

[2020-05-01 00:20] LaksCastro commented on #137
Same here v2.0!

[2020-05-01 00:51] gkucmierz commented on #137
@monojack what are features that is missing here?
What contributions can you make?

[2020-05-01 08:50] gkpo opened #139 "Add an option to disable auto print of lines that return a value"
For instance:
[code]
When I have large chunks of code, my output is becomes messy and I don't have a good view of what is printed or not. (e.g can't just search all "console.log()" statements).

Would be great to have an option to disable this behaviour.

[2020-05-01 08:57] monojack commented on #137
Well, personally I'd like to see code formatting, custom themes, enabling new js features either through custom babel configs or automatic feature detection. And I see there are many more features people are asking about.

[2020-05-01 10:28] lukehaas commented on #139
@gkpo, There is an option for this. Go to the preferences and under advanced, there is an option called 'Holistic evaluation'

![Screenshot 2020-05-01 at 11 24 33](https://user-images.githubusercontent.com/741344/80799326-7c9d5200-8b9e-11ea-938e-56662bc2e215.png)

Enabling this will give you the result you're looking for.

[2020-05-01 10:31] gkpo commented on #139
Awesome, thank you :)

[2020-05-01 10:31] #139 closed

[2020-05-01 11:37] lukehaas commented on #138
Aiming to have support for this soon.

[2020-05-01 11:57] gkucmierz commented on #137
I started similar project but with a little bit different approach.
If you are interested check instacode repo in my profile.
You can add issues there or create PRs.

[2020-05-03 13:04] yonifra opened #140 "Bad performance of editor when pasting a large object"
I've pasted an object of around 200K lines (it's a log output which I want to filter), once I do this, working with RunJS is almost impossible, and I need to use other tools.
Managed to delete the large object (after a long time of waiting) and then performance was back in order.

[2020-05-07 03:28] pablolucero commented on #74
is there any testing library we can use in RunJS?

[2020-05-08 15:53] lukehaas commented on #133
Closing as no further detail was provided.

[2020-05-08 15:53] #133 closed

[2020-05-10 18:36] pauloimon opened #141 "Check for updates error"
Hi!

I'm getting this error since the version 1.8.0:

![image](https://user-images.githubusercontent.com/3463932/81507244-61cf8980-92d2-11ea-9dc7-b39dca9f184f.png)

I checked this directory and the file `app-update.yml` doesn't really exists.

Steps to reproduce:

Go to *Help > Check for Updates*

Information about my system:

OS: Ubuntu 20.04 LTS
RunJS: Version 1.9.0

--

Thanks! I'm really enjoy

[2020-05-10 20:24] lukehaas commented on #141
@pauloimon thanks for raising this. Were you able to update to 1.9.0 even with the error message?

[2020-05-10 20:31] pauloimon commented on #141
@lukehaas No. I needed to download the .deb package from the releases page and install it manually.

[2020-05-11 13:16] vovka93 opened #142 "Gpu acceleration"
Broadcasting software like OBS does not capture applications built with Electron and using acceleration of the GPU. I would like to see an option where you can turn off acceleration

[2020-05-12 11:39] yonifra opened #143 "Failed to update to version 1.9.0 on Mac"
Getting this error:
![image](https://user-images.githubusercontent.com/726718/81683151-62952680-945e-11ea-8f05-cc6876f77028.png)

[2020-05-12 11:45] yonifra commented on #143
It actually updated to 1.9.0 after closing this error message, weird...

[2020-05-20 08:03] TheBdouilleur2 commented on #113
Yes it's a good idea!

[2020-05-22 11:28] webmasterThomas opened #144 "Cannot find module 'moment.js'"
Hi Luke, could not find any info of how to import correctly, so have issue like this:

Error: Cannot find module 'moment.js'

my code like :

import {moment} from "moment.js"

Can you direct?

[2020-05-22 11:29] yurakruhlyk opened #145 "Change Timezone"
Hi, how I can change the timezone? because I notice that RunJs doesn't use the device time.
For example I generated array of date and result in RunJs and in vscode debugger not the same.
By the way thanks, nice tool.
<img width="283" alt="Знімок екрана 2020-05-22 о 14 28 27" src="https://user-images.githubusercontent.com/16261471/82663529-81eb3b00-9c38-11ea-8f0f-5c3a61f46793.png">

![Знімок екрана

[2020-05-22 12:41] lukehaas commented on #144
If you got to the `Action` menu then choose `Install NPM Packages` a window will open where you can search for packages and install them.

[2020-05-22 12:55] webmasterThomas commented on #144
Many thanks for quick answer.

[2020-05-22 12:56] lukehaas commented on #145
@yurakruhlyk thanks for raising this.
It looks like you're comparing a raw date object to a date string. This behaviour is expected in this case as the date object shows the date/time without any timezone and when it's converted to a string your timezone is accounted for.

Here is an example where I set my system time ahead by 8 hours:
![Screenshot 2020-05-22 at 20 53 18](https://user-images.githu

[2020-05-22 13:08] lukehaas commented on #144
👍

[2020-05-22 13:08] #144 closed

[2020-05-22 13:22] yurakruhlyk commented on #145
@lukehaas hmm, really when I add .toString() I get the right timezone. But in chrome everything works without toString, can we do the same behavior?
<img width="679" alt="image" src="https://user-images.githubusercontent.com/16261471/82671878-3a6cab00-9c48-11ea-8e98-5ad1146acb97.png">
<img width="250" alt="image" src="https://user-images.githubusercontent.com/16261471/82671892-40fb2280-9c48-11ea-8

[2020-05-22 13:49] lukehaas commented on #145
This is a case where RunJS is being true to the language while the Chrome console is showing you a modified result.
The Chrome console if showing you a stringified result for `new Date()` which is wrong.

[2020-05-22 13:51] yurakruhlyk commented on #145
@lukehaas ok, thanks👍🏻

[2020-05-22 14:05] lukehaas commented on #145
👍

[2020-05-22 14:05] #145 closed

[2020-05-23 02:56] sujeet-agrahari opened #146 "No type error for typescript codes"
I am not getting any type error for typescript code.
![image](https://user-images.githubusercontent.com/22151975/82720237-10aa9700-9ccf-11ea-9309-13c1a1e93657.png)

[2020-05-23 15:08] lukehaas commented on #146
RunJS currently only supports TypeScript syntax and won't show any warnings/errors.

[2020-05-24 06:13] sujeet-agrahari commented on #146
Instead of wrapping around node.js, now you can  use Deno to get TypeScript support out of the box.
That way you also don't need babel and other stuffs.
I haven't use electron before. I don't know that's possible to use Deno inside an electron app.
However, if that's possible, it would be awesome.

[2020-05-24 10:28] lukehaas commented on #146
Let's see how things go with Deno. Regarding Babel, I don't think Deno supports modern JavaScript beyond what Node currently supports so there would still be a need to use Babel.

[2020-05-26 10:48] chrise86 opened #147 "The application “RunJS.app” can’t be opened."
This has just started happening for me, it's been working fine.

I've tried the following:

- Allowed apps to run from anywhere (`sudo spctl --master-disable`)
- `chmod +x /Applications/RunJS.app/Contents/MacOS/RunJS`
- `sudo xattr -rd com.apple.quarantine /Applications/RunJS.app`
- Remove, reinstall
- Restart the machine
- Checked system preferences incase

Any ideas?

I also get this (I think po

[2020-05-26 11:00] chrise86 commented on #147
Update: just downloaded 1.8.0 (issue was with 1.9.0) and it works fine.

[2020-05-26 12:27] lukehaas commented on #147
@chrise86 thanks for raising this, this is very odd.
What version of macOS are you on?

[2020-05-26 12:28] chrise86 commented on #147
Hey @lukehaas I'm on `10.15.4 (19E287)`.

[2020-05-30 12:24] finuex opened #148 "Enhancement: New File"
Please add "New File" sub menu on "File" Menu.

the algorithm I think of is like this:

1.  click menu "FILE"
2.  click submenu "NEW FILE"
3.  if you are currently opening a file, RunJS will ensure the file is saved first.
4.  then, runJS will clean up the workspace in runJS.

RunJS 1.9.0

[2020-05-30 16:10] rrcamc opened #149 "Windows protected your PC"
Is this a known issue? i.e. this app does not have a certificate or is there really a problem?
![chrome_2020-05-30_11-06-01](https://user-images.githubusercontent.com/50029456/83333462-17ed1a00-a266-11ea-980a-e12381125b3b.png)

Microsoft Defender SmartScreen prevented an unrecognized app from starting. Running this app might put your PC at risk.
App: | RunJS-Setup-1.9.0.exe
Publisher: | Unknown pu

[2020-05-31 13:57] sujeet-agrahari opened #150 "Enable experimental decorator feature"
[code]
[code]

[2020-05-31 14:52] lukehaas commented on #150
Decorators are not currently supported. I intend to include support when the spec matures.

[2020-05-31 14:53] lukehaas commented on #149
Thanks @rrcamc, this is known. RunJS does not have a Windows certificate yet.

[2020-06-01 10:36] sujeet-agrahari commented on #150
If it is using bable. Why don't just give an option to enable it?

[2020-06-01 10:54] sujeet-agrahari commented on #150
Many frameworks are using those features a lot, whether it is angular or nestjs.

[2020-06-01 13:43] rrcamc commented on #149
thank you @lukehaas. Great work on the app!

[2020-06-01 13:43] #149 closed

[2020-06-02 12:14] TomGranot opened #151 "Any plans for a snap?"
Would be nice, if possible:)

[2020-06-03 08:22] Molly2Molly opened #152 "Can console panel scroll to bottom to show the latest info which are added continuesly"

[2020-06-05 08:22] molvqingtai commented on #147
Same issuse

The process has started, but the run.js window is not displayed.

Run.js:1.9.0
MacOS:10.15.5 (19F101)

[2020-06-05 08:38] lukehaas commented on #147
Thanks @molvqingtai, I think this must be a Catalina related issue. Will investigate soon.

[2020-06-11 15:05] lukehaas commented on #152
@Molly2Molly, thanks for the suggestion, will take it into consideration 👍

[2020-06-11 15:41] lukehaas commented on #150
@sujeet-agrahari I've taken another look and will be including decorators as an option in the next release. Thanks for the suggestion 👍

[2020-06-12 17:43] sameerinfodb opened #153 "Issue with handling semi colon in runjs"
semicolon should have been optional, refer the screenshot below,  check why first code block is returning error whereas same code in the second code block works fine if we use a semicolon in the first line. Please explain why this behavior.

![Runjs-issue](https://user-images.githubusercontent.com/1568953/84531221-e2363f80-ad01-11ea-88a0-56a59ff40945.png)

[2020-06-13 16:40] lukehaas commented on #132
@dnicolson thanks for raising this.

[2020-06-18 00:26] jonatanpietroski commented on #89
I would appreciate it as well. Any plan to have it soon?

[2020-06-18 07:41] gabiaker opened #154 "No indication about current 'working file'"
Hello,
i've noticed that there is no way to know on which file I'm currently working on,  I like using RunJS a lot, and in many cases i'm saving my work, but before that it would be nice if in the App Window it would say "untitled" as after the save it would indicate the name of the currently open file.

Thank you !

[2020-06-18 10:22] lukehaas commented on #147
I've now installed RunJS 1.9.0 on macOS 10.15.5 - both as a fresh install and via auto-update and I haven't encountered any issues, it's all working fine.
Not sure what to suggest only to make sure you can install apps from identified developers and make sure the download isn't corrupted somehow.
![Screenshot 2020-06-18 at 11 16 29](https://user-images.githubusercontent.com/741344/85008953-95b1908

[2020-06-18 10:23] #147 closed

[2020-06-18 10:44] lukehaas commented on #153
There will always be edge cases where semi-colons are essential. In a case where you have parentheses at the beginning of a new JS will interpret this as a function call with the previous line as the function name.

[2020-06-23 16:43] sk8Guerra opened #155 ""no suitable image found" when importing an NPM package"
I've just installed `bcrypt` package to try it out. But as soon as I import it: it throws this error:

`Error: dlopen(/Users/**/Library/Application Support/runjs/node_modules/bcrypt/lib/binding/napi-v3/bcrypt_lib.node, 1): no suitable image found.  Did find:`

And I'm not sure what it is. what could it be? any suggestion?

Thanks.

[2020-06-23 19:45] lukehaas commented on #155
@sk8Guerra sorry to see you're having this issue. I'm not sure what the issue here could be, I'd just suggest removing the package and re-installing.

[2020-06-23 20:34] sk8Guerra commented on #155
I've uninstalled and reinstalled the package and didn' work.

I've tried to install and use other packages and worked fine.

Do you think is the package itself?

[2020-06-25 11:42] hroland commented on #12
+1

[2020-06-26 09:41] leocaseiro opened #156 "Select next word + List of Shortcuts"
Hi, I was hoping it would have the feature of Cmd+D to select the same word, similar the SublimeText one.

Also, could you please share the list of shortcuts? I can't find it. Thanks

![select_words](https://user-images.githubusercontent.com/940070/85843847-27b83980-b7e5-11ea-88ed-2aea97aa416f.gif)

[2020-06-26 19:32] ricosandyca opened #157 "Show or hide the toolbar"
Hello,

I just tried this app and it's looking good and very useful for fast running javascript code. But, i'm just confused to get the toggle toolbar button in this app to make the top toolbar be hidden

Does this app have a feature or keyboard shortcut to hide the toolbar?
if there's no feature to handle it, it think it would be great to be added as a new feature in the next update :)

Currently

[2020-06-29 16:41] pbitkowski opened #158 "If you write bad code you can never fix RunJS"
The problem is that when you write some endless loop or some bad recursive function then you can't fix this. The UI freezes and you can't remove bad code.

[2020-06-29 16:43] pbitkowski commented on #158
This code broke RunJS on my mac:
[code]

[2020-06-29 16:57] lukehaas commented on #158
![Screenshot 2020-06-29 at 17 56 15](https://user-images.githubusercontent.com/741344/86034071-dcdf3180-ba31-11ea-9747-43dacc5a7494.png)

The next version of RunJS has some big improvements in this area. For now, just make sure you have loop protection enabled.

[2020-07-01 07:11] pbitkowski commented on #158
Thanks @lukehaas, is there a way to remove code from app before running it? I can't do it on app because it's crashing immediately .

[2020-07-02 02:01] jim-alexander opened #159 "Feature request : change view / layout to stack instead of side by side"
Had a glance though the issues and didn't see this mentioned but it would be great if i could toggle the output to be underneath the console instead of side by side.

[2020-07-05 10:32] Konc opened #160 "Settings window does not fit all content"
On my Windows 10 Pro machine when I go to the RunJS settings, the Babel settings get cropped at the bottom because the window isn't high enough, and there's no way to resize it manually.

![image](https://user-images.githubusercontent.com/2979149/86530697-28269380-bebb-11ea-9cc0-d49bc0da8464.png)

My RunJS is up-to-date.

[2020-07-05 11:29] lukehaas commented on #160
@Konc there will be a fix for this in the next release.

[2020-07-07 06:44] nabn opened #161 "Enable key repeat in vim mode"

[2020-07-08 15:47] ethancane opened #162 "File > Open Bug"
Having just launched the app an empty window will appear.

Enter some code and proceed as normal. Save the file, etc.

Close the active window and then attempt to Use the File > Open command and nothing happens. This means I am unable to open previously saved scratchpads for further development.

Thanks
<img width="499" alt="Screenshot 2020-07-08 at 16 47 06" src="https://user-images.githubusercon

[2020-07-08 15:49] ethancane commented on #158
The only remedy I found it to navigate to your home Library folder and delete all references to Runjs under your Application Support directory and also the Preferences folder.

Then relaunch and all should be well again. I was caught in this situation and it was my only way out of an endless loop sequence.

[2020-07-08 15:54] ethancane commented on #162
Just tested again. If you have an active editor open and attempt to File > Open a file then it does indeed present an open dialog, but the original issue logged still holds true. Close your active editor, it seems you can only have one open at a time and you'll be unable to re-open another file.

[2020-07-08 16:51] pbitkowski commented on #158
Awesome, it worked. Thanks @ethancane ❤️

[2020-07-08 16:51] #158 closed

[2020-07-08 21:34] ethancane commented on #158
Please be advised however, that this is not the ideal or recommended solution to your problem (but it worked for me).

To follow up, you only need to remove the "runjs" directory under the "Application Support" directory in your home "Library". You can leave the preferences *.plist file alone that sits under the "Library/Preferences" directory.

After a relaunch all should be working again. The on

[2020-07-09 16:40] ohepworthbell opened #163 "ElementaryOS Wingpanel bug"
No icon appears for the app in ElementaryOS (as per #92) for either the app within folder view or within the Plank dock (when opened). The app also seems to not have an option to keep in the dock (right-click shows no option to pin to the dock, and when dragged into the dock to force pinning, the app persists but cannot be opened).

A couple of other minor points: the app is a little bit slow on L

[2020-07-09 16:50] lukehaas commented on #163
@ohepworthbell thanks for raising this. I'll investigate the points you've mentioned.

[2020-07-10 13:33] augustnmonteiro commented on #99
👍 any updates on this?

[2020-07-17 04:17] shafkathullah opened #164 "Can't use bcrypt package"
Throws this error while importing `bcrypt` library.

`Error: dlopen(/Users/mac-machine/Library/Application Support/runjs/node_modules/bcrypt/lib/binding/napi-v3/bcrypt_lib.node, 1): no suitable image found.  Did find:`

[2020-07-17 09:53] lukehaas commented on #164
@shafkathullah this is likely an issue with bcrypt being a native module. I will look into this but for now, I would suggest using `bcryptjs`

[2020-07-17 10:23] elvisduru commented on #108
On Windows, it works by running the app as administrator

[2020-07-17 16:18] lukehaas commented on #127
@juniorclearmetal this is now fixed in RunJS version 1.10.0.
You can now explore with infinite depth.

![Screenshot 2020-07-17 at 17 17 30](https://user-images.githubusercontent.com/741344/87808383-848d9980-c851-11ea-809e-ae2b8b18aa48.png)

Thanks again for raising this.

[2020-07-17 16:19] #153 closed

[2020-07-17 16:20] lukehaas commented on #138
@ajaymathurBigInt is now supported in RunJS version 1.10.0

[2020-07-17 16:21] lukehaas commented on #132
@dnicolson this is now resolved in RunJS version 1.10.0

[2020-07-17 16:23] lukehaas commented on #119
@dufia @yonifra this issue is now resolved in RunJS version 1.10.0

[2020-07-17 16:25] lukehaas commented on #104
Options for Babel plugins are now supported in RunJS version 1.10.0

![Screenshot 2020-07-17 at 17 24 46](https://user-images.githubusercontent.com/741344/87808963-7f7d1a00-c852-11ea-9c4d-1f0f879d9efe.png)

[2020-07-17 16:25] #104 closed

[2020-07-17 16:27] lukehaas commented on #22
Prettier formatting is now supported in RunJS version 1.10.0 @will-stone

![Screenshot 2020-07-17 at 17 26 31](https://user-images.githubusercontent.com/741344/87809115-bc491100-c852-11ea-8577-5c628b034023.png)

[2020-07-17 16:27] #22 closed

[2020-07-17 16:29] lukehaas commented on #45
With the release of RunJS 1.10.0 - NPM is now bundled with RunJS so there is no longer a dependence on NPM being available on the host machine. Hope this fixes the issues for you all.

[2020-07-17 16:29] #45 closed

[2020-07-17 16:31] lukehaas commented on #89
console.table is now supported in RunJS version 1.10.0

![Screenshot 2020-07-17 at 17 30 57](https://user-images.githubusercontent.com/741344/87809449-5610be00-c853-11ea-8092-936f07536a7c.png)

[2020-07-17 16:31] #89 closed

[2020-07-17 16:32] #132 closed

[2020-07-17 16:33] lukehaas commented on #71
@mdtanrikulu this is now supported in RunJS version 1.10.0

![Screenshot 2020-07-17 at 17 32 47](https://user-images.githubusercontent.com/741344/87809619-97a16900-c853-11ea-8a50-32f69beacd68.png)

[2020-07-17 16:35] lukehaas commented on #150
Decorators are now an option in RunJS version 1.10.0

![Screenshot 2020-07-17 at 17 35 07](https://user-images.githubusercontent.com/741344/87809818-ea7b2080-c853-11ea-8c5f-c91e8c1efc82.png)

[2020-07-17 16:35] #150 closed

[2020-07-17 16:41] jonatanpietroski commented on #89
Wow!! Cool!! thx man!

[2020-07-17 21:45] will-stone commented on #22
Awesome! Works great. Thank you very much.

[2020-07-17 22:12] mdtanrikulu commented on #71
@lukehaas Amazing!! gonna update. Thanks for keeping up your great work!

[2020-07-18 10:33] lukehaas commented on #156
@leocaseiro this is now supported in RunJS version 1.10.0

[2020-07-18 10:34] lukehaas commented on #143
@yonifra not sure what could have caused this issue, do you see the same error when upgrading to 1.10.0?

[2020-07-18 10:38] lukehaas commented on #128
@vzazorin this is now resolved in RunJS version 1.10.0

[2020-07-18 10:38] #128 closed

[2020-07-18 10:39] #119 closed

[2020-07-18 10:40] lukehaas commented on #116
@marsicdev RunJS version 1.10.0 now supports Prettier formatting with configurable options.

![Screenshot 2020-07-18 at 11 40 40](https://user-images.githubusercontent.com/741344/87850892-873ccd00-c8eb-11ea-9a2a-c6e38c35bc34.png)

[2020-07-18 10:42] lukehaas commented on #90
@alexdevero private methods are now supported in RunJS version 1.10.0

[2020-07-18 10:42] #90 closed

[2020-07-18 10:43] lukehaas commented on #105
@michael-pont this is now resolved in RunJS version 1.10.0

[2020-07-18 10:43] #105 closed

[2020-07-18 10:44] #71 closed

[2020-07-18 22:44] #116 closed

[2020-07-18 22:55] sk8Guerra commented on #155
Thanks @lukehaas,  actually that is the problem. Tried **bcryptjs** and everything worked fine.

[2020-07-18 22:55] #155 closed

[2020-07-19 02:48] orest22 commented on #154
Would love to see something like that as well!

[2020-07-19 08:32] michael-pont commented on #105
Nice work :)

[2020-07-19 10:39] lukehaas commented on #135
Having now taken a look into this, it looks like defining an unassigned object literal will cause JavaScript to interpret it as a label definition: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/label
It then complains because labels must be unique.
The same behaviour is occurring in the Chrome console:

![Screenshot 2020-07-19 at 11 34 15](https://user-images.githubu

[2020-07-19 10:39] #135 closed

[2020-07-19 10:43] lukehaas commented on #140
@yonifra RunJS 1.10.0 has improved handling for long-running scripts.

[2020-07-19 10:43] #140 closed

[2020-07-19 10:45] lukehaas commented on #111
@andrwj now RunJS 1.10.0 has a preference option for auto-closing brackets.

[2020-07-19 10:45] #111 closed

[2020-07-19 10:46] #156 closed

[2020-07-19 10:47] lukehaas commented on #162
@ethancane thanks for raising this. Will aim to have a fix in the next release.

[2020-07-19 10:54] dnicolson commented on #135
Those blocks of code are not meant to be run together. The following code will only work in Chrome:
[code]

The following code will work in Chrome and RunJS:
[code]

[2020-07-19 11:25] lukehaas commented on #135
@dnicolson yeah, that's captured in a separate ticket: https://github.com/lukehaas/RunJS/issues/134

[2020-07-19 11:29] dnicolson commented on #135
That's a separate issue, one of the keys is quoted in #134 and the error message is different.

[2020-07-19 11:36] lukehaas commented on #135
It's fundamentally the same issue, the differing error message just depends on if the key is quoted or not.
Ultimately it's just down to JS seeing this as a label definition.

![Screenshot 2020-07-19 at 12 34 55](https://user-images.githubusercontent.com/741344/87873798-511b4e00-c9bc-11ea-9a23-9c3f14141a87.png)

![Screenshot 2020-07-19 at 12 35 07](https://user-images.githubusercontent.com/741344/

[2020-07-19 11:44] lukehaas commented on #125
@finuex @Aamir2000 this is nor resolved in RunJS version 1.10.0

[2020-07-19 12:56] leocaseiro commented on #156
Thank you for that implementation. It's working very nice.

However, it would be nice be able to see a list of the shortcuts (I'll open a new issue about that)

Thanks again!

[2020-07-19 12:57] leocaseiro opened #165 "List of shortcuts available (Documentation or inside the IDE)"
It would be nice to be able to see all shortcuts available in the IDE.

Could you please display in the DOCS /readme or somewhere?

Thanks

[2020-07-19 13:36] lukehaas commented on #165
@leocaseiro good suggestion will do.

[2020-07-20 19:11] andrwj commented on #111
@lukehaas  Awesome!, Thank you for the implementation!!!, RunJS is vital tool for me to study and work.

[2020-07-22 07:52] sujeet-agrahari opened #166 "Can't install npm packages"
I have latest version of the app. Whenever I try to install  a package getting below error.
I have also tried setting a working directory, but that doesn't solve the issue.
I am running on Windows 10 Home.
![image](https://user-images.githubusercontent.com/22151975/88149920-57106980-cc1e-11ea-8c29-596517c89e36.png)

[2020-07-23 10:11] lukehaas commented on #166
@sujeet-agrahari could there be anything on your system that might be preventing RunJS from creating files?

[2020-07-23 10:49] #138 closed

[2020-07-23 11:07] sujeet-agrahari commented on #166
Tried also running as administrator, still the same error. As a workaround, I have set the working directory to a node-app directory and using npm to install packages.

[2020-07-23 14:06] #127 closed

[2020-07-23 14:07] #125 closed

[2020-07-23 14:09] lukehaas commented on #108
@kingRayhan RunJS version 1.10.0 has a new way of installing NPM packages that should be more robust. This should solve the problem you were seeing.

[2020-07-24 08:42] DigitalLeaves opened #167 "Last update breaks JSON output in runJS"
Hi,

Up until now, if you had a JSON object like these:
[code]

It will print something beautiful like:
[code]

I used it a lot to prettify JSON output for our API documentation.

Now, it outputs this???

[code]

Please, let me know if that's a new feature/setting that was introduced and how to get back to the previous behavior.

Thanks!

[2020-07-24 10:17] lukehaas commented on #167
@DigitalLeaves thanks for raising this. You're right, the latter output does not look good.
The last release had some improvements for formatting and displaying outputs but unfortunately seems to have made this kind of output worse.
I'll look into improving this in the next release.

[2020-07-26 13:12] alexdevero opened #168 "Indenting selection with tab deletes the text."
It would be nice feature or option to allow Tab key to indent selected text. Now, selecting text and pressing Tab deletes the text. Tab key now works in a similar way only combined with Shift key, to decrease the indentation of the text for one level. Tab alone could could do the opposite, indent the text for one level.

[2020-07-26 13:14] cairocoder commented on #99
We really need this, @lukehaas

[2020-07-26 13:46] lukehaas commented on #168
@alexdevero good suggestion, thanks for rasing it.

[2020-07-28 10:24] hroland commented on #99
Bump 👍 Even the native functionality to create a new window, then merge them, would be huge

<img width="493" alt="Screen Shot 2020-07-28 at 12 22 16 PM" src="https://user-images.githubusercontent.com/12371411/88654128-38521d00-d0cd-11ea-9266-b162bc39537d.png">
<img width="274" alt="Screen Shot 2020-07-28 at 12 23 36 PM" src="https://user-images.githubusercontent.com/12371411/88654117-35572c80-d0c

[2020-08-02 17:46] #142 closed

[2020-08-06 00:25] sk8Guerra opened #169 "Error - something went wrong"
I'm installing a [package](https://www.npmjs.com/package/statistiken), and this is the message that appears... what exactly happens?

<img width="547" alt="Screen Shot 2020-08-05 at 18 21 55" src="https://user-images.githubusercontent.com/18681676/89476694-9d9ab380-d748-11ea-8b35-b23aebde869b.png">

Thanks for your help.

[2020-08-06 08:14] lukehaas commented on #169
@sk8Guerra the link you provided to the package is going to a 404 page, this could be related to the error you're seeing in RunJS.

[2020-08-06 16:39] lukehaas commented on #161
@nabn thanks for raising this. Could you describe in a bit more detail what it is you're doing and what you're expecting to see?

[2020-08-06 16:47] lukehaas commented on #148
@finuex thanks for raising this. The behaviour you're describing is very similar to what is provided by the `Clear` option that can be found in the `Edit` menu.
I'm reluctant to add a new file option that clears code from the workspace.

[2020-08-06 16:47] #148 closed

[2020-08-06 21:08] sk8Guerra commented on #169
@lukehaas really? it's weird because when I click the link it redirects me here: https://www.npmjs.com/package/statistiken

[2020-08-06 23:14] nabn commented on #161
With the vim mode on, pressing and holding a key only registers it once. I can't press and hold j to keep moving the cursor down, for example. It would be nice for this behaviour to be the same as other editors (including vim).

[2020-08-07 08:19] lukehaas commented on #161
Thanks @nabn, I've just tried this and for me holding j does keep moving the cursor. I'm on a Mac using RunJS version 1.10.1, what OS and RunJS version are you using?

[2020-08-07 09:01] lukehaas commented on #169
Odd, link is working fine now.
I've taken a look into this and the install is failing on the postinstall script within statistiken. I'll investigate further for a solution.

[2020-08-09 23:19] nabn commented on #161
I'm on 1.10.1 too, macos 10.15.6 (Catalina). Checked all preferences to see if I'm not missing anything, "Always use vim keys" is the only relevant option I found, which is checked.

[2020-08-10 05:58] MatiasHiltunen opened #170 "Pasting over 2Mb of code to run completely freezes the actions from the RunJs editor"
Impossible to clear the editor, apparently the data persists even during the complete reinstalling of the program.

[2020-08-11 06:48] nabn commented on #161
@lukehaas did you try that in vim mode or the normal one?

[2020-08-11 08:20] lukehaas commented on #161
@nabn key-repeat is working fine for me in both modes.
Are you sure you have key-repeat enabled in your system keyboard settings?

[2020-08-11 08:26] nabn commented on #161
Yes. It's working fine in other apps. Not sure what's wrong. I'll do some more investigation and report back.

[2020-08-11 08:27] #161 closed

[2020-08-11 14:56] mhm13dev opened #171 "Publish a package on Chocolatey.org to install RunJS from chocolatey package manager"

[2020-08-18 03:31] sk8Guerra commented on #169
@lukehaas ohhh I get it thanks! Ok, let me know what you find out.

[2020-08-24 20:39] dnicolson opened #172 "TypeError: Cannot set property 'consoleCount' of undefined"
Version 1.10.1

[code]

<img width="1177" alt="Screen Shot 2020-08-24 at 22 37 14" src="https://user-images.githubusercontent.com/2276355/91093945-6a1dbb80-e65a-11ea-9411-f591faea2ede.png">

[2020-08-25 08:10] lukehaas commented on #172
@dnicolson are you able to consistently see this message when you run this code?

[2020-08-27 08:42] lukehaas commented on #42
https://www.chromestatus.com/feature/5767881411264512#:~:text=Allow%20the%20%60await%60%20keyword%20at,modules%20and%20exposes%20implementation%20details.

Added above link to track when TLA is landing in Chromium

[2020-08-27 08:48] lukehaas commented on #170
@MatiasHiltunen deleting RunJS's config file should fix the problem. This is located here:
`~/Library/Application\ Support/runjs/config.json` - on a Mac

[2020-08-27 08:49] lukehaas commented on #151
👍  will look into it

[2020-08-30 12:20] lukehaas commented on #168
@alexdevero this is now supported in RunJS version 1.11.0

[2020-08-30 12:21] lukehaas commented on #167
@DigitalLeaves this is now fixed in RunJS version 1.11.0

[2020-08-30 12:24] lukehaas commented on #131
@alikadir RunJS now has a new light theme called Visual Studio

[2020-08-30 12:28] lukehaas commented on #129
@yonifra this is now supported in RunJS version 1.11.0

[2020-08-30 12:32] lukehaas commented on #97
@aleffsouza this is now supported in RunJS version 1.11.0

[2020-08-30 12:33] lukehaas commented on #72
@arawwad this is now resolved in RunJS version 1.11.0

[2020-08-30 12:35] lukehaas commented on #12
@hroland @LeeHyungGeun @CallumDenby this is now supported in RunJS version 1.11.0

[2020-08-30 12:40] lukehaas commented on #1
@andreasonny83 this was the first ever issue raised for RunJS and thanks for raising it! 🚀
I'm very pleased to say that in RunJS version 1.11.0 the handling of promises has greatly improved.

Resolved promises will now display as you described:

![Screenshot 2020-08-30 at 13 35 39](https://user-images.githubusercontent.com/741344/91659141-ff3f0b00-eac5-11ea-934c-64b763c9946c.png)

[2020-08-30 13:36] yonifra opened #173 "[Feature Request] - Add vs-code style keyboard shortcuts"
I miss my `Option+Up/Down` to move lines around and other key bindings that I use a lot in VS code and are missing from RunJS

[2020-08-30 13:37] yonifra commented on #129
Works nicely! Love it

[2020-08-30 14:14] alexdevero commented on #168
@lukehaas  Thank you.

[2020-08-30 14:46] #129 closed

[2020-08-30 14:47] #168 closed

[2020-08-30 14:54] lukehaas commented on #173
Thanks @yonifra, improved support for keyboard shortcuts is something I'm working on. `Option+Up/Down` for line swapping is something I can add in the next release.
Please list any other keyboard shortcuts you think are missing.

[2020-08-31 06:06] DigitalLeaves commented on #167
Looking really good, and the rest of the features are very welcomed also, especially the search functionality.
Congratulations! 👏🏻

[2020-08-31 06:06] #167 closed

[2020-08-31 14:45] #1 closed

[2020-09-01 13:26] izuchukwu opened #175 "[Feature Request] Multiple Windows"
Being able to hit `Cmd-N` and open a new window of RunJS would be wonderful! I find myself deleting content I'd rather temporarily keep a lot so that the right-side output is less noisy for my next set of JS testing.

[2020-09-01 17:46] peter81git commented on #6
I now have kind of the same situation, but on windows. Anyone knows where the config file is located?

[2020-09-01 19:04] lukehaas commented on #172
Closing as no detail is provided.

[2020-09-01 19:04] #172 closed

[2020-09-02 11:28] yonifra commented on #175
I was about to open an issue to allow support in tabs, and I think this is quite similar.
I use RunJS mainly for testing JS behavior, and as a sandbox for writing JS scripts, therefore, I don't want to save as much as I would like to experiment with JS. I find myself a lot of times having to start a new file, and since I have only one editor I need to discard / save my current file to start a new

[2020-09-05 09:41] Leslie-Wong-H commented on #123
The same issue appears on my win10 FHD screen. Please raise the resolution rate of the favicon.ico of runjs. 256*256 should be prefferred.

![image](https://user-images.githubusercontent.com/27696701/92302437-c8259980-ef9e-11ea-90ba-65e75c1fa39a.png)
![image](https://user-images.githubusercontent.com/27696701/92302440-cd82e400-ef9e-11ea-94a4-3b12bf6bdf23.png)

[2020-09-05 14:23] lukehaas commented on #123
@Leslie-Wong-H the resolution of the icon I'm using is 2048x2048 which should be plenty high enough. I think this could be some kind of upstream issue with Electron. Will investigate further.

[2020-09-05 14:24] #12 closed

[2020-09-05 14:26] lukehaas commented on #27
@multics this is now supported as an option in RunJS version 1.11.0

[2020-09-05 14:28] lukehaas commented on #32
@gstark line matching is now supported as an option in RunJS version 1.11.0

[2020-09-05 14:29] #72 closed

[2020-09-05 14:29] #97 closed

[2020-09-05 14:33] lukehaas commented on #141
@pauloimon automatic updates are no-longer supported on Linux.

[2020-09-05 14:33] #141 closed

[2020-09-05 14:35] lukehaas commented on #80
Closing as I've not been able to replicate this issue.

[2020-09-05 14:35] #80 closed

[2020-09-05 14:35] #121 closed

[2020-09-05 14:37] lukehaas commented on #143
Closing as I've not been able to replicate this issue.

[2020-09-05 14:37] #143 closed

[2020-09-05 14:37] lukehaas commented on #160
This is fixed now in version 1.11.0

[2020-09-05 14:37] #160 closed

[2020-09-05 14:41] lukehaas commented on #118
@dutzi this should be resolved now in RunJS version 1.11.0

[2020-09-05 14:41] #118 closed

[2020-09-05 14:44] lukehaas commented on #169
@sk8Guerra this is working now in RunJS version 1.11.0

[2020-09-05 14:46] #108 closed

[2020-09-05 14:47] #83 closed

[2020-09-05 14:54] lukehaas commented on #73
@justrhysism this seems to be working now in RunJS version 1.11.0. I'm seeing results for `date-fns` and `is-date-object`

[2020-09-06 11:58] alexdevero opened #176 "Console not showing all data"
When I make a request with fetch and try to print the whole response object the output show empty object. If  try the same in the browser, printing response object will show all content.

RunJS:
![br 2](https://user-images.githubusercontent.com/4237724/92325234-3d4da900-f049-11ea-9710-deaf7880a634.png)

Browser:
![br 1](https://user-images.githubusercontent.com/4237724/92325237-42125d00-f049-11ea-

[2020-09-06 14:01] alankleindev opened #177 "Duplicate HTTPS requests"
Hello, I upgraded to the latest release of RunJS, 1.11.0, (also saw this in 1.09.0) and when testing with axios and node-fetch, I see duplicate/identical HTTPS requests made when there should be only one to my server. When I copy the same code and run it directly from node, I only see a single HTTPS request. Any ideas?  They are bot `GET` requests. Thanks and great tool!

[code]

[2020-09-07 18:23] lukehaas commented on #177
Due to the inner-workings of RunJS some code may be run more than once in order to capture runtime-values.
You can avoid this behaviour by turning off this option in the advanced preferences:

<img width="575" alt="Screenshot 2020-09-07 at 19 19 38" src="https://user-images.githubusercontent.com/741344/92411289-29846e80-f13f-11ea-877d-a837a685b896.png">

Ideally the duplicate requests should not h

[2020-09-07 18:39] lukehaas commented on #176
The response from the fetch API is an instance of Body, more details available here: https://developer.mozilla.org/en-US/docs/Web/API/Body

To get the output you're looking for you will need to call the `.json()` method on the response, like this:
[code]
The reason you're seeing something different in the chrome console is because the REPL there doesn't show you the true output of your code, it sh

[2020-09-07 23:43] sk8Guerra commented on #169
Thank you so much @lukehaas!

[2020-09-08 02:52] alexdevero commented on #176
@lukehaas Thanks. You are correct. It is necessary to call `json()`, `text()`, etc. on the response to parse it to readable data. I was surprised that RunJS didn't allow to log the response object itself. Are there other use cases where RunJS and chrome console will differ?

[2020-09-08 19:04] lukehaas commented on #176
@alexdevero just taken a second look at this, I realised the Chrome console is just showing the instance properties of the response object, so not coercing the response as I thought before.
RunJS doesn't currently show instance properties because, in a lot of cases, it creates a lot of noise in the output panel and doesn't always provide much value. I do see that in this case it could be valuable

[2020-09-08 19:05] #177 closed

[2020-09-08 20:21] JeremyBernier opened #178 "Frozen after pasting long object, no way to reset since it autoloads (even uninstalling didn't fix)"
I pasted a long JSON object into RunJS, which froze RunJS. If I close and reopen RunJS, it still tries to load this JSON object and is frozen, and there's no way for me to clear it because it's frozen (eg. Edit -> Clear does nothing). I even reinstalled RunJS and it's still trying to load this JSON object. The application is basically permanently broken on my computer.

In the meantime, where is t

[2020-09-09 03:20] royalbhati opened #179 "Can't open after accidently ran into an infinite loop"
I have tried uninstalling and then re-installing but still the same.

[2020-09-09 03:21] yumemi-yshoji opened #180 "Automatic indentation is not working"
When I updated the RunJS version from 1.10.1 to 1.11.0, automatic indentation stopped working.
Is there any errors?

## Environment

* Mac: macOS Catalina v10.15.6

## Screen captures

### v1.10.1

![v1 10 1](https://user-images.githubusercontent.com/68892899/92551634-70867700-f299-11ea-898f-a6fa6940f979.gif)

### v1.11.0

![v1 11 0](https://user-images.githubusercontent.com/68892899/92551640-74b2

[2020-09-09 07:55] lukehaas commented on #179
To fix this you can delete the config file for RunJS located at `~/Library/Application\ Support/runjs` on a Mac, or `~/.config/runjs` on Linux

[2020-09-09 08:02] lukehaas commented on #178
If you go to `%APPDATA%` in you4r explorer, theres should be a folder called runjs, delete the `config.json` file in there.

[2020-09-09 17:00] JeremyBernier commented on #178
Thanks!

[2020-09-10 15:05] royalbhati commented on #179
Thanks

[2020-09-10 15:05] #179 closed

[2020-09-10 16:26] #178 closed

[2020-09-10 16:28] lukehaas commented on #120
@bburke4 Privacy Policy now available here: https://runjs.dev/privacy/

[2020-09-15 12:21] crotel opened #181 "[Feature Request] something like runkit"
should it works like runkit?
import as a component or running in an iframe.

[2020-09-23 08:53] hellosophiee opened #182 "Shortcut for commenting code not working"
Hello there!
First thank you for this tool, I am a big fan of it ♥️.
Please be informed that a shortcut for commenting code `Cmd+/` does not work starting from `v1.10.0`, so I have to use `v1.0
9.0 `instead.
I'd be obliged if you could fix that.
Thank you!

[2020-09-23 09:15] lukehaas commented on #182
Commenting with `Cmd+/` is working for me in RunJS version `1.11.0`. I recommend you upgrade to the latest version.

[2020-09-23 16:57] hellosophiee commented on #182
Thank you, @lukehaas. I've already tried the latest version, but it didn't work for me. I am on `macOS Catalina 10.15.6`. Thanks.

[2020-09-24 07:47] ivosabev commented on #146
+1 for full TypeScript support with errors. Maybe add eslint support and the ability to set your TypeScript version?

[2020-09-24 10:33] hellosophiee commented on #182
By unchecking the `Vim Keys` in the preferences helped to sort out the issue.
<img width="712" alt="Screen Shot 2020-09-24 at 3 24 10 PM" src="https://user-images.githubusercontent.com/50250729/94134357-4fb64800-fe7b-11ea-99b0-bf193da9b619.png">

[2020-09-24 10:33] #182 closed

[2020-09-24 15:33] lukehaas commented on #181
Thanks for raising this @crotel. Please provide more detail the feature you would like to see.

[2020-09-24 15:34] lukehaas commented on #180
@yumemi-yshoji thanks for raising this. This will be resolved in the next release.

[2020-09-25 00:57] yumemi-yshoji commented on #180
@lukehaas Thanks for your response!

[2020-09-25 05:23] sujeet-agrahari commented on #146
Indeed full Typescript support but with errors? I don't get any typescript error.

[2020-09-25 08:32] lukehaas commented on #146
Improved TypeScript support is a high priority. Aiming to have this in RunJS before the end of the year.

[2020-09-28 09:53] waldyrious opened #183 "Matching output line to source line disregards line wrapping"
The new functionality to display the output lines aligned with the source lines that produced them is pretty nice, but it doesn't seem to take into account line wrapping.

This happens when the wrapping takes place in the source pane:

<img width="759" alt="Screenshot 2020-09-28 at 10 43 54" src="https://user-images.githubusercontent.com/478237/94417426-f8b0bb80-0177-11eb-8f05-e6abd2bfad8c.png">

[2020-10-02 09:33] lukehaas commented on #181
Closing as no further detail has been provided.

[2020-10-02 09:33] #181 closed

[2020-10-02 09:44] lukehaas commented on #183
Thanks @waldyrious. Something important to note here is that wrapped lines are not new lines.
This becomes clearer if you enable line numbers:

![Screenshot 2020-10-02 at 10 36 45](https://user-images.githubusercontent.com/741344/94909615-5b1cfb00-049b-11eb-9144-0574655be5d4.png)

Here you can see that the output is still matching the line number of the input, even though the lines are wrapped.

I

[2020-10-02 12:46] waldyrious commented on #183
I see, thanks for the clarification. In this case, I would guess that a grid/table layout system (if that would somehow be workable) would be a good way to address this. Happy to help test any experiments.

[2020-10-05 07:34] jcubic commented on #71
How to install beta version? I've tried `@jcubic/lips@beta` and `@jcubic/lips@1.0.0~beta.5` but got error `"Something went wrong"`.

[2020-10-13 04:09] crotel opened #184 "leveldown can not use?"
Sys: macOS Catalina 10.15.5 (19F101)
RunJS : Version 1.11.0 (1.11.0)

when add module level, levelup, leveldown
error found:

`Error: dlopen(/Users/xmt/Library/Application Support/runjs/node_modules/leveldown/prebuilds/darwin-x64/node.napi.node, 1): no suitable image found.  Did find:`

Anything I miss?

[2020-10-15 07:55] lukehaas commented on #184
@crotel this is because RunJS doesn't currently support building native modules. I'd suggest building the leveldown package manually inside the RunJS application directory.
This is located in one of these location, depending on your system:
Linux: ~/.config/runjs
Mac: ~/Library/Application\ Support/runjs
Windows: %APPDATA%

[2020-10-16 09:38] slumbering opened #185 "Escape double quotes when stringify"
Hello :),

When I stringify a JSON, double quotes are not escape (like it would be with a browser console for instance)

**RunJS** :
<img width="1316" alt="Capture d’écran 2020-10-16 à 11 32 36" src="https://user-images.githubusercontent.com/1186424/96242334-a6f39800-0fa3-11eb-8ac3-7ee54afdc7ed.png">

**Firefox**:
<img width="838" alt="Capture d’écran 2020-10-16 à 11 34 11" src="https://user-i

[2020-10-16 10:34] lukehaas commented on #185
Thanks @slumbering, this is expected behaviour as RunJS outputs strings with single quotes so double quotes within those strings don't need to be escaped.

[2020-10-17 14:40] abdurrehman1998 opened #186 "Problem with for loop output"
when I run following code:
`for (let i = 0; i < 5; ++i) {
setTimeout(() => console.log(i), 0)
}`
I get 5,0,1,2,3,4
![Screenshot 2020-10-17 194012](https://user-images.githubusercontent.com/25861787/96339861-9aa93100-10b0-11eb-9815-969e612eb389.png)

[2020-10-17 15:12] lukehaas commented on #186
Thanks @abdurrehman1998.
The reason you're seeing an extra number here, in this case `5` is because `setTimeout` returns an ID and in this case it's ID is `5`. More detail about this is available here: https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/setTimeout

There are a number of ways you could avoid seeing the returned value of `setTimeout`, one is to assign it to so

[2020-10-21 02:39] crotel commented on #184
it's can not done yet. rebuild success but still can not found suitable image.

Is there any special options or steps I missing?

[2020-10-21 09:22] slumbering commented on #185
Ok. Thanks for the quick response 👍

[2020-10-21 09:22] #185 closed

[2020-10-21 11:43] alankleindev opened #187 "Question on Promise Resolution Output being displayed but no equivalent console.log"
Hello, when all promises resolve successfully in my code, I am seeing the resolve text displayed, `Promise Resolved Successfully` but there is no console.log to display it.

If I run the same code directly in node, it doesn't display the resolve text. I disabled the Advanced Option, "show runtime values".

Any suggestions on why this may be?

Thank You

[code]

[2020-10-21 16:58] derheap commented on #175
Tabs would be absolutly great! An essential feature!

[2020-10-21 17:00] derheap opened #188 "After File>Close File>Open fails."
If I close a window with File>Close, then I can not open a new file with File>Open.

Quiting and Restarting fixes the problem.

[2020-10-21 17:08] derheap commented on #188
Duplicate to #162

[2020-10-22 08:36] lukehaas commented on #187
Thanks @alankleindev, this is an interesting one.

When runtime values are disabled RunJS will show you the output of your code as a whole, which will typically be the result of the final statement. This is the same as REPLs like the Node REPL and the Chrome console.
The simplest example of this can be seen by putting two statements into one of these REPLs.

![Screenshot 2020-10-22 at 09 08 25](ht

[2020-10-23 10:02] elgs opened #189 "Does RunJS support auto complete?"
Thank you for the nice app. This seems to be the only missing but important feature.

[2020-10-23 10:54] lukehaas commented on #189
@elgs not yet but aiming to have support for autocomplete in the near future.

[2020-10-23 14:47] #189 closed

[2020-10-23 14:49] lukehaas commented on #184
Sorry @crotel, you may need to find a JS equivalent of this package.
I'm hoping to have better support for native packages in the future.

[2020-10-23 14:51] #73 closed

[2020-10-23 14:51] #32 closed

[2020-10-23 14:52] #27 closed

[2020-10-23 14:54] #169 closed

[2020-10-26 12:28] alankleindev commented on #187
Thanks Luke for the detailed explanation. I really enjoy using RunJS, keep up the great work.

[2020-10-26 12:32] #187 closed

[2020-10-26 15:38] arnoson opened #190 "Auto hide menu bar"
On Linux (and Windows) the menu bar is always visible (and not included in the top bar like on Mac OS). Therefore Runjs doesn't feel as elegant as in the Mac version. Would it be possible to activate the `autoHideMenuBar` property in electron? With this option the menu bar is only visible when `alt` key is pressed.

[2020-10-26 15:47] arnoson opened #191 "Top padding on linux"
On linux there is a padding on top of the screen (below the menu bar). I guess the padding is used to make space for the window decorations on mac OS. Since this padding is mac OS specific it would be great to remove it on linux.

![Screenshot from 2020-10-26 16-39-02](https://user-images.githubusercontent.com/15122993/97194703-c14f2200-17aa-11eb-9899-43d8aca0cd5f.png)

[2020-10-29 10:21] smeijer commented on #191
This will be awesome in combination with #190

[2020-10-29 11:34] lukehaas commented on #191
👍  in the next release the space will be reduced. Some space will remain for optional toolbar buttons.

[2020-11-03 20:08] chefguevara opened #192 "Support for ARM on linux"
hi! We use these simple dev machines in Raspberry PIs running Ubuntu MATE for ARM64 processors, any chance we can get a build for this architecture?

Awesome job by the way!

M

[2020-11-03 21:26] lukehaas commented on #192
Thanks @chefguevara, I'll look into it.

[2020-11-04 20:24] RayKay91 opened #193 "App bugging out with simple closures"
First off, love this app it's been invaluable to me in my journey of web dev I really appreciate it.

The issue I had was upon updating from 1.11 to the latest release the following code no longer outputs correctly in the console.

[code]
What the result should be is:

[code]

I redownloaded 1.11 and checked the code and it worked properly and cross checked it also with the code runner extension i

[2020-11-05 09:34] lukehaas commented on #193
@RayKay91 thanks for raising this. You're right, this is a defect that was introduced in version 1.12.
This issue is related to the runtime values feature, which was re-worked in 1.12.
I'll aim to release a fix before the end of the month.

In the meantime, you can avoid this issue by using 1.11 or by turning off runtime values in the advanced preferences:
![Screenshot 2020-11-05 at 09 28 00](http

[2020-11-05 13:50] #186 closed

[2020-11-08 13:14] lukehaas commented on #193
@RayKay91 this is now fixed in RunJS version 1.12.2. Thanks again for raising it.

[2020-11-08 18:57] #193 closed

[2020-11-08 19:00] lukehaas commented on #176
@alexdevero RunJS now displays the __proto__ object for instances such as this one.

![Screenshot 2020-11-08 at 18 59 17](https://user-images.githubusercontent.com/741344/98481782-ac37b180-21f4-11eb-8895-c65b358beaec.png)

[2020-11-08 19:02] lukehaas commented on #180
@yumemi-yshoji this is now resolved in the latest version of RunJS.

[2020-11-09 10:47] #176 closed

[2020-11-09 23:33] LucasVilela opened #194 "File too big clean history to prevent app crash"
I load a really big object and the app and it crashed, now every time I re-open the app it loads the history and crashes again, is there a way to clean the history outside the app?

[2020-11-10 08:52] lukehaas commented on #194
@LucasVilela yes, you'll need to delete the config.json file, it's location depends on your OS:

Linux: ~/.config/runjs/config.json
Mac: ~/Library/Application\ Support/runjs/config.json
Windows: %APPDATA%

[2020-11-10 12:19] GuillotJessica opened #195 "screenshot homepage is wrong ?"
i wrote the screenshot code on the homepage to test your app and find issues:
first of all there is a bug in the code :
<img width="1023" alt="Screen Shot 2020-11-10 at 08 14 26" src="https://user-images.githubusercontent.com/21151517/98673083-3420d700-232d-11eb-9501-f5d8551bb524.png">
then if i fix that bug, it is still not the same
<img width="1022" alt="Screen Shot 2020-11-10 at 08 14 16" src="

[2020-11-10 19:45] lukehaas commented on #195
Thanks @GuillotJessica, I've now updated it to show the correct code. To get the right output, `z += 1;` on line 4 needs to be changed to `z += 2;`

[2020-11-11 14:46] vinaygw opened #196 "ReferenceErrors not displayed correctly in case of Promises."
var r = new Promise(function(resolve,reject){
  resolve(10)
}).then(x=>conosole.log(x));

No reference error for (conosole) show up in the output.

[2020-11-12 04:08] ESnark opened #197 "Cannot import mongoose"
I got this message while I'm trying to import mongoose
`TypeError: Cannot assign to read only property 'Symbol(nodejs.util.inspect.custom)' of object '[object Object]'`

[code]

[2020-11-12 11:20] lukehaas commented on #197
@ESnark thanks for raising this. This will be resolved in the next release.

[2020-11-12 13:58] lukehaas commented on #196
@vinaygw thanks for raising this. I will investigate.

[2020-11-13 09:48] lukehaas commented on #196
This will be fixed in the next release.

[2020-11-14 01:26] z0xyz commented on #163
temp solution :

icon :
downloaded this icon from their website
url :
https://runjs.dev/static/icon.svg
, and then converted it to .png format with gimp
, then made a folder / directory name "runjs" at
$HOME/.local/share
, and saved the new png at this folder

, created a " runjs.desktop  " file at

 /home/usr/.local/share/applications

content :

[Desktop Entry]
Encoding=UTF-8
Version=1.12.2
Type

[2020-11-14 13:47] z0xyz opened #198 "Loops infinite loading"
sometimes particularly with loops , the program doesn't output anything , and keep giving a loading icon on the top ,
and in order to solve this problem , i have to restart the program

[2020-11-14 15:06] lukehaas commented on #198
Thanks @z0xyz, would you be able to provide some examples of code you're having issues with?

[2020-11-16 04:24] LucasVilela commented on #194
Perfect that worked great! Thank you very much

[2020-11-16 05:58] z0xyz commented on #198
i can't tell exactly , but it happened multiple times ,  usually as i stated with  loops .

[2020-11-16 09:17] lukehaas commented on #198
Sorry @z0xyz, without some specific examples I will need to close this issue.

If you do ever see the issue again please make a note of the problem code and I will be happy to investigate further.

[2020-11-16 09:17] #198 closed

[2020-11-16 09:34] #194 closed

[2020-11-19 17:29] lukehaas commented on #195
@GuillotJessica closing this now, hope that's all good.

[2020-11-19 17:29] #195 closed

[2020-11-19 17:30] #180 closed

[2020-11-19 17:35] lukehaas commented on #152
This is now available as an option in the latest version of RunJS.

[2020-11-19 17:35] #152 closed

[2020-11-19 17:39] lukehaas commented on #96
I still haven't yet seen this issue while using RunJS, @JordanAtBridgit  are you still seeing this issue?
It's possible that this was an upstream issue that has since been resolved.

[2020-11-19 17:42] lukehaas commented on #65
Closing as this is now resolved.

[2020-11-19 17:42] #65 closed

[2020-11-19 17:44] lukehaas commented on #70
@getify the hoisting problem has now been resolved 👍🥳

[2020-11-19 17:46] lukehaas commented on #98
@amirmeimari this is now resolved in the latest version of RunJS 👍

[2020-11-19 18:21] JordanAtBridgit commented on #96
@lukehaas I haven't actually seen the issue, and I've been updating every time you release a new version. I'm fine with this being closed, and I can always reopen or submit a new bug if I see it happen again.

[2020-11-19 18:21] #96 closed

[2020-11-20 10:32] yonifra opened #199 "[Feature Request] Add a "New" option to "File" menu"
There's no intuitive way to start a new playground in RunJS (There's only **Open** or **Save**, I ask for **New**)
![image](https://user-images.githubusercontent.com/726718/99790192-7071e580-2b2c-11eb-822c-888973a3d075.png)

[2020-11-20 11:06] lukehaas commented on #199
Thanks @yonifra, could you clarify what you would expect to happen when clicking New?

[2020-11-20 11:17] yonifra commented on #199
Sure @lukehaas , I expect a blank document ready for my code and if I save it, then it will ask me for a filename (just like a regular text editor)

[2020-11-20 11:28] lukehaas commented on #199
Ok, just to clarify, the blank document would be your current document cleared, not a new additional window?

[2020-11-20 11:33] yonifra commented on #199
Yep, exactly.
Although it would be nice to have tabs, but at first I guess current window being cleared is great

[2020-11-20 11:39] lukehaas commented on #199
Clicking New and having the editor clear your document is a little odd to me. Are you aware of any other editors that do this?
RunJS currently has a Clear option in the Edit menu that performs this function.

[2020-11-20 11:41] yonifra commented on #199
It will clear but also will be a different file.
What happens today is that i will have an `empty.js` file that i open to start a new playground, and then if i wanna save it, i will do a **Save as..** and save it with a different name.
I want the **New** menu not only to clear the current code, but to also be a new file

[2020-11-20 12:12] lukehaas commented on #199
Ok, I'll consider this further, thanks for raising it 👍

[2020-11-25 15:13] cairocoder commented on #99
Any updates for this @lukehaas ?

[2020-11-26 08:27] lukehaas commented on #99
@cairocoder aiming for the first half of next year.

[2020-11-29 20:18] jeffthorne opened #200 "Error [ERR_REQUIRE_ESM]: Must use import to load ES Module"
Quick question. Relatively new to JS. Getting this error on trying to import an ES6 module. .mjs
Tried setting --experimental-modules as an ENV variable within RunJS. Any thoughts I what I am doing wrong?

Appreciate the help.

Cheers,
Jeff

[2020-11-30 18:21] lukehaas commented on #200
Sorry @jeffthorne, importing ES modules is not yet supported in RunJS. This may be possible in the future when RunJS ships with Node 15. Currently shipping with Node 12.16.3.

[2020-11-30 18:22] jeffthorne commented on #200
Thanks @lukehaas. Appreciate the reply and great work on RunJS.

[2020-12-01 09:06] #200 closed

[2020-12-02 10:46] gergelyvizvari opened #201 "Feature request - Colour - Breakpoints - Canvas"
As i found this amazing!! to prototype some code I only missing
- identify and show (maybe in the beginning of the line) if there is any colour reference in the code
- a visual result for code (canvas or html window)
- debug/watch (step by step run)

Anyway keep up with the great work

[2020-12-02 10:53] lukehaas commented on #201
Thanks! will take these into consideration.

[2020-12-03 00:24] jcyl29 opened #202 "Don't prettify code automatically, allow a hotkey to do so"
This is a great tool to use.  If this feature can be added, it will be closer and closer to a real IDE imo.

[2020-12-03 10:05] lukehaas commented on #202
Hi @jcyl29,
automatic formatting is a preference option, it's toggled off by default:

![Screenshot 2020-12-03 at 10 00 52](https://user-images.githubusercontent.com/741344/100994551-9cd72a00-354e-11eb-8176-4083fd5a2adb.png)

The hotkey for formatting is `Alt+Shift+F`

You can also trigger formatting from the action menu:
![Screenshot 2020-12-03 at 10 03 43](https://user-images.githubusercontent.c

[2020-12-03 17:53] jcyl29 commented on #202
Ooof, textbook case of RTFM...thank you!

[2020-12-03 17:53] #202 closed

[2020-12-06 13:16] ricosandyca opened #203 "[Feature Request] - Internal OS fonts"
I have some fonts installed on my Linux OS and i want to use it in RunJS. Is it possible to load installed fonts from OS?

Thanks,

[2020-12-06 13:55] lukehaas commented on #203
@ricosandyca unfortunately not. This is something I'd very much like to be able to do but accessing user fonts it not trivial.

[2020-12-06 14:19] ricosandyca commented on #203
I mean not accessing it all. it's just like vscode where i can manually type my preferred font and load it from my OS

![Screen Capture_select-area_20201206211059](https://user-images.githubusercontent.com/43330562/101282402-92938500-3807-11eb-8439-54e6c1a77558.png)

[2020-12-06 15:26] lukehaas commented on #203
I see. That would certainly be easier technically, but would require a redesign of the way user preferences are handled.

[2020-12-11 12:39] #98 closed

[2020-12-11 12:39] #70 closed

[2020-12-11 12:43] lukehaas commented on #102
Closing this now as I haven't been able to see this issue myself and haven't had any other reports of it recently.

[2020-12-11 12:43] #102 closed

[2020-12-11 12:45] lukehaas commented on #191
Top padding is now reduced in the latest release.

[2020-12-11 12:45] #191 closed

[2020-12-11 12:46] lukehaas commented on #188
This will be fixed in the next release.

[2020-12-11 17:31] animanoir commented on #102
I don´t even remember what is this, ha, but good luck my friend.

[2020-12-16 13:55] joonseokhu opened #204 "Atom One Dark theme"
Can you add [Atom One Dark Theme](https://marketplace.visualstudio.com/items?itemName=zhuangtongfa.Material-theme) in theme list?

[2020-12-17 23:30] Victor-Ugwueze commented on #196
Just out of curiosity, is there a keyword `conosole` ?
I think it should be spelt `console`

[code]

[2020-12-18 09:14] lukehaas commented on #196
@Victor-Ugwueze exactly, `conosole` is not defined so an error should be thrown when calling it.

[2020-12-21 16:07] lukehaas commented on #204
Thanks @joonseokhu, will consider this for future updates.

[2020-12-24 00:42] alexrussell opened #205 "[Bug] Clicking/dragging titlebar to move window takes focus from text editor"
I only have macOS so have only seen this behaviour there, so I'm not sure if it happens on other platforms, but it can be quite frustrating.

I don't know of any other app (electron or otherwise) that takes focus away from the active input/control when you click to drag a titlebar.

![RunJS](https://user-images.githubusercontent.com/412784/103046625-d2d16200-4580-11eb-82db-68877526b755.gif)

[2020-12-24 11:42] lukehaas commented on #205
@alexrussell thanks for raising this. You're right, I'll look into getting this resolved.

[2020-12-24 12:58] alexrussell commented on #205
Woohoo, nice one thanks ☺️

[2020-12-25 02:19] vini-brito opened #206 "What's the license? Private?"
Hello! Has this software been licensed somehow? Like MIT, Apache, private one, etc.
Thanks!

[2020-12-29 15:35] lukehaas commented on #206
commercial license. not open source. Thanks.

[2020-12-29 15:35] #206 closed

[2021-01-06 09:42] alexdevero opened #207 "Feature Request: update check for npm packages"
RunJS has the option to add npm. There is no way to check for package updates, and to update them. So far, the only way to do this is to check for updates elsewhere and then reinstall the package.

Option to check for updates, and for updating them, would make this much easier.

[2021-01-06 22:06] virginiableu opened #208 "Math.ceil spelled wrong in lodash _.countBy method"
![image](https://user-images.githubusercontent.com/57457033/103823934-9d288080-5038-11eb-925b-da01c1207dcf.png)
<img width="805" alt="Screen Shot 2021-01-06 at 4 00 59 PM" src="https://user-images.githubusercontent.com/57457033/103823944-a1549e00-5038-11eb-93ca-45d65fe73361.png">

In my function:
`import _ from 'lodash';

let array = ["apples", "apples", "apples", "bananas","bananas"];

function c

[2021-01-07 17:10] lukehaas commented on #207
Thanks @alexdevero, good suggestion. I'll consider how this could be implemented.

[2021-01-07 17:21] lukehaas commented on #208
@virginiableu
`_.countBy(array, Math.ceil);` - should be used with an array of numbers, not strings as `Math.ceil` does not expect a string.

The reason you're seeing the expected output with the misspelled `Math.ciel` is due to the way lodash is safely handling the error.

[2021-01-07 17:23] virginiableu commented on #208
ahhhh, I thought it might be user error but it was return what a wanted tho. Thank you

[2021-01-07 17:24] #208 closed

[2021-01-08 16:13] toropanov commented on #113
+1

[2021-01-14 14:18] SimplySayHi opened #209 "[Feature Request] Add support for ES Modules"
Hi, great work! I really like it :D
It would be great to also have the possibility to import native ES Modules.
I tried with my `javascript-helpers` and I got an error.
Thanks

[2021-01-14 14:45] lukehaas commented on #209
Yep, this will come eventually, it's just dependent on upstream dependencies getting updated to support this.

[2021-01-15 16:39] chriscalo commented on #70
This setting seems to have gone away:

![image](https://user-images.githubusercontent.com/867717/104752740-0d17c480-5725-11eb-9af1-70d06f12c0b0.png)

Trying to reference a function defined "later" results in an error.

Minimal repro:

[code]

Output:

[code]

`chroma-js` is installed:

![image](https://user-images.githubusercontent.com/867717/104753251-b8287e00-5725-11eb-9fa6-855d625aa974.png)

An

[2021-01-21 07:06] e200 commented on #190
+1

[2021-01-26 16:04] KhushrajRathod commented on #204
I came here looking for this 👀

[2021-01-29 18:24] victoriaunizhona opened #210 "[Bug ] Npm list is empty. Search does not work"
The list is empty

![image](https://user-images.githubusercontent.com/32535863/106312667-b3a8ad00-626f-11eb-813d-80561c8a5aab.png)

If I search for anything it is just constantly loading

![image](https://user-images.githubusercontent.com/32535863/106312736-cf13b800-626f-11eb-9bcf-49cc1803e0d4.png)

How to fix that?

**System**: Windows 10

[2021-01-29 19:01] TylerEikenberg commented on #17
+1 to this idea! This would get a ton of use from me if this feature were added.

[2021-01-30 14:51] adi518 commented on #123
It also looks too much like Windows Sticky Notes.

[2021-02-01 16:35] peter-olom opened #211 "Infinite loop will not stop executing even after updating code"
OS: Windows 10

Example

`let guard = 0;
while(guard < 100) {

}`

Will not stop running even after updating it as follows
`let guard = 0;
while(guard < 100) {

 guard++
}`

Only way to regain normal operation is to relaunch the app.

A stop execution button will be nice.

[2021-02-02 06:45] tairt commented on #146
@lukehaas RunJS is a great tool for JavaScript prototyping and I like it a lot. Great work!

Regarding TypeScript support, it may be misleading that RunJS is called a TypeScript playground/scratchboard. Without the feature of transparently showing the result of type checking the main requirement for a TypeScript scratchboard is not met. Until this feature is not implemented it may help new users i

[2021-02-02 08:34] lukehaas commented on #211
👍  in the next version of RunJS it will be possible to stop execution.

[2021-02-02 08:50] lukehaas commented on #146
Thanks @tairt, I can see your point. TypeScript support needs to improve and it will. However, RunJS does currently support TypeScript syntax which I think is the most important part. I don't think it would be right to not mention such a significant feature.

[2021-02-02 09:01] tairt commented on #146
@lukehaas Thanks for the quick feedback. Sure, makes sense. Then it may be good to just add a note, that error checking is not supported yet. This will reduce the time for users to get accustomed to the features of the pad : )

[2021-02-02 20:04] lukehaas commented on #146
Yeah, I'm currently working on expanding the documentation, will make sure to make this clear there.

[2021-02-02 22:50] topheman opened #212 "Shortcut for commenting code not working on AZERTY keyboard"
I saw this issue closed : https://github.com/lukehaas/RunJS/issues/182 about shortcut to commenting with `Cmd+/`.

I'm trying using `Cmd+/`, it doesn't work. Maybe it's because of azerty keyboards (since the problem seemed solved on the other issue).

Here is my config :

- Mac OS Catalina 10.15.7
- RunJS 1.12.2

[2021-02-03 06:44] tairt commented on #146
Great, Thanks @lukehaas!

[2021-02-04 14:57] lukehaas commented on #210
Thanks @victoriaunizhona, I've not seen this issue before. If you go to %APPDATA%\runjs in your terminal are you able to manually install NPM packages there?

[2021-02-04 15:05] lukehaas commented on #212
@topheman thanks for raising this, I will investigate.

[2021-02-05 12:53] b-dabrowski opened #213 "There is no error if I don't declare the variable "name" and use it in the code."
Hi, thank you for the tool I use RunJS daily :)

Today I have found a little bug:

I don't have declared variable "name", but RunJs doesn't throw an error like (ReferenceError: name is not defined). When I change the variable to "name1" I see the error

[code]

I only receive one error:
`ReferenceError: name1 is not defined`

[2021-02-05 12:57] lukehaas commented on #213
Hi @b-dabrowski, this is because `name` is defined, it's a global object:
https://developer.mozilla.org/en-US/docs/Web/API/Window/name

[2021-02-05 13:12] b-dabrowski commented on #213
Sorry for bothering you

[2021-02-05 13:12] #213 closed

[2021-02-05 14:02] lukehaas commented on #213
@b-dabrowski no worries 😀

[2021-02-06 11:14] lukehaas commented on #70
@chriscalo Holistic Evaluation has been replaced with Runtime Values, disabling Runtime Values has the same effect as enabling Holistic Evaluation.
The hoisting issue you saw was a regression that came in with version 1.12. This has been resolved in version 1.13.0.

[2021-02-06 11:17] lukehaas commented on #197
@ESnark this has now been resolved in version 1.13.0

[2021-02-06 11:44] lukehaas commented on #196
@vinaygw this is now resolved in version 1.13.0

[2021-02-06 12:54] lukehaas commented on #162
@ethancane this is now resolved in version 1.13.0

[2021-02-06 12:54] lukehaas commented on #188
@derheap this is now resolved in version 1.13.0

[2021-02-06 16:07] getify opened #214 "Installed modules don't seem to respect "exports" field"
I installed some of my own npm packages: [Monio](https://github.com/getify/monio) and [Domio](https://github.com/getify/domio).

But I'm not able to use them quite normally in RunJS sessions the way I can in a normal Node program. These packages have a `exports` package.json field , such as [this one in Monio](https://github.com/getify/monio/blob/018d4dcc14e7792d53424a157cbbe54c07676d37/package.js

[2021-02-06 18:57] backspaces commented on #209
Would it be reasonable to base RunJS on Deno? Imports, TypeScript etc built in. It would certainly be non-trivial but as wonderful as node is, it has some pretty poor aspects.

Btw, one package that may be of interest for bash users is https://github.com/shelljs/shelljs. It does help to "tame" node!

[2021-02-06 19:33] lukehaas commented on #209
@backspaces RunJS is Electron based which is where it gets its Node integration from. To move to Deno would require Electron to integrate Deno. There's a discussion here about that: https://github.com/electron/electron/issues/23613

[2021-02-06 20:12] lukehaas commented on #214
Hi @getify, I think this is due to RunJS currently being on Node version 12.16.3. This should work when RunJS moves to Node version 14 later in the year.

[2021-02-06 22:26] getify commented on #214
Oh, OK... I didn't realize it wasn't already 14. Thanks!

----

Out of curiosity, what blockers remain for that upgrade? Anything contributors might be able to help with?

[2021-02-07 01:57] backspaces commented on #209
Fascinating, Thanks!

[2021-02-07 10:19] alexdevero opened #215 "[Bug ] Copying selected output text doesn't work"
In previous versions, it was possible to select text in the output and copy it with CTRL+C. This no longer works in version 1.13.0.0.

[2021-02-07 11:40] lukehaas commented on #215
👍 I've pushed a new release to fix this. Version 1.13.1

[2021-02-07 11:44] lukehaas commented on #214
The Node version is inherited from Electron, Node 14 will come when Electron version 12 is released.

[2021-02-07 12:20] #215 closed

[2021-02-07 15:40] getify opened #216 "Feature Request: config option for HOME ~/ path"
I use RunJS on windows 10. I launch it as a windows app. However, I have pretty much all my code inside a wsl2 instance (debian) on this box. I run a Windows Terminal in that environment, so that's where my Node runs from, and access to any files inside wsl2 is great just like a real linux.

My text editor is Sublime and I run that as a windows app as well. To open files, I navigate to the wsl fil

[2021-02-07 16:52] lukehaas commented on #216
Have you tried using the 'Set Working Directory' feature? It enables you to point RunJS to a particular directory and then import files relative to that location.
If I'm understanding this right then I think that might be what you need.

[2021-02-07 17:07] victoriaunizhona commented on #210
Yes, if I go there and manually install than it appears in the list as installed.

Still, if I try searching in the Install Npm packages - loading spinner goes endlessly - nothing found and empty list.

If I try to remove manually installed package via that window - loading spinner is also just rolling. I need to restart that to see that package was removed.

[2021-02-07 17:37] getify commented on #216
I didn't know about that feature, because I was looking for it in the options pane, not in the "Action" menu.

Just tried setting that to a directory location in my wsl2 mount. I verified it's correctly set by doing `console.log(process.cwd())`, and that shows the full location as expected.

Maybe this is a Node weirdness with its `require(..)` path resolution, but when I tried `"./whatever.js"`,

[2021-02-07 18:34] lukehaas commented on #210
Are you able to use the Windows Event Viewer to see if any errors are logged while searching/removing packages?

It can be found here: Control Panel > System & Security > Administrative tools > Event Viewer

[2021-02-07 18:40] lukehaas commented on #216
Possibly Node weirdness. I'll have an investigate and try and improve it in the next release.

[2021-02-07 21:09] getify commented on #216
From what I can tell, "./" in a require call is always relative to the current file, not the "current working directory". So I guess it's working "as designed", though in this case it's fairly counter-intuitive. Anyway, I think this feature is working correctly as far as it can be. Thanks!

[2021-02-07 21:09] #216 closed

[2021-02-07 21:22] getify commented on #216
There's an interesting gotcha:

if the directory you set your "cwd" to has a folder/file in it that's also the same name as a RunJS-installed npm package, then doing `require("something")` will always resolve to the package and not to the version in your working directory.

Normally, you would be able to do `./something` to tell Node to skip to the "local working dir" version. But that doesn't wor

[2021-02-08 04:28] dkoudstaal opened #217 "Thank you"
This is not an issue. Just letting you know that RunJS is exactly what I was looking for. Tried coding large programs using the consoles in Chrome or Firefox and was frustrated that I could not reassign variable bindings.
Fantastic off-line JS console!!
Thank you.

[2021-02-08 08:31] nicolab28 commented on #166
Same issue,
Windows 10
RunJS 1.13.1.0

installed/run with administrator privileges or not, Install NPM Packages tells me This feature is unavailable

[2021-02-08 08:46] lukehaas commented on #166
@nicolab28 If you go to %APPDATA%\runjs in your terminal are you able to manually install NPM packages there?

[2021-02-08 08:56] lukehaas commented on #216
👍 This is useful, thanks. I'll see what I can do.

[2021-02-08 11:40] lukehaas commented on #217
Thanks @dkoudstaal, really glad you're finding RunJS useful.
Would you mind if I quoted on in the testimonials section of https://runjs.app/ ?

[2021-02-09 00:03] dkoudstaal commented on #217
Hi,

Here is a bit more information:

You are free to edit the above and combine this with my statement on github in which ever way you want.
I am not so sure about the use of my full name. Use of first name is OK.

In my view open source developers do not get enough credit and at times the reverse is happening where people are very abusive towards developer(s) and their software.

Again, thank yo

[2021-02-09 00:26] dkoudstaal commented on #217
More than happy. I sent more information you might want to use to mail@runjs.app

[2021-02-09 21:31] lukehaas commented on #217
Thanks

[2021-02-09 21:31] #217 closed

[2021-02-10 10:45] shashidwivedi opened #218 "name is printed as '' and typeof name is printed as 'string"
name is not created. But it has a value '' and a type of 'string'
![Screenshot (30)](https://user-images.githubusercontent.com/16834982/107499623-2f352300-6bbb-11eb-841c-c491a46410ee.png)

[2021-02-10 11:05] lukehaas commented on #218
@shashidwivedi this is because name is defined, it's a global object:
https://developer.mozilla.org/en-US/docs/Web/API/Window/name

[2021-02-10 11:12] shashidwivedi commented on #218
Thank you. I am learning. I should have read more. :)

[2021-02-10 11:12] #218 closed

[2021-02-10 11:13] shashidwivedi commented on #218
Not a valid issue

[2021-02-10 11:14] lukehaas commented on #218
No problem 🙂

[2021-02-10 18:37] chriscalo commented on #70
sure enough that now works for me if I turn off **show runtime values** 👍 thanks!

(not sure what I'm losing by turning that off)

[2021-02-11 09:05] lukehaas commented on #70
@chriscalo in the latest version of RunJS hoisting is working properly, with runtime values on or off.

[2021-02-11 10:10] lukehaas commented on #211
@peter-olom stopping execution is now possible in the latest version of RunJS.

[2021-02-11 10:10] #211 closed

[2021-02-11 10:12] lukehaas commented on #210
@victoriaunizhona is it possible that a firewall is blocking RunJS from making requests to the NPM servers?

[2021-02-12 08:42] oguimbal opened #219 "[windows] Taskbar pin disapears on update"
Hi !

I have pinned RunJS to my Windows taskbar, and I noticed that the pin disapears on each RunJS update.

I'm not sure if something can be done about it on your side, so please close this issue if not.

And thanks for this nice tool 😁

FYI i've developped something in the same spirit [for postgres](https://oguimbal.github.io/pg-mem-playground/)  (not embbeded in an app though, and the main purp

[2021-02-12 11:00] shashidwivedi opened #220 "[Windows] New Tab option in File menu is not shown"
The New Tab is not shown in the File menu after opening the app second time.

![image](https://user-images.githubusercontent.com/16834982/107759918-fe85f280-6d4e-11eb-9b2c-713f820f386d.png)

[2021-02-12 11:18] lukehaas commented on #220
I can't see how the new tab option would ever have been visible. This feature in development.

[2021-02-12 11:56] shashidwivedi commented on #220
It's only visible for the first time after installation:

![image](https://user-images.githubusercontent.com/16834982/107764666-99ce9600-6d56-11eb-8fda-7ea985ca76e2.png)

Not a problem if in development.

[2021-02-12 12:23] lukehaas commented on #220
Thanks, this is good to know.

[2021-02-12 12:23] #220 closed

[2021-02-15 22:44] gruber123 opened #221 "var name = ....; typeof name = 'string'"
Hi,
This code shows wrong expectation:
var name = some_value;
typeof name
// typeof name simply return 'string' and not the type of name variable

if change name to 'namex' all is fine.
so what's wrong with variable 'name', it's not reserved word so actually the value that it consist is printed correctly in console

[2021-02-16 09:05] lukehaas commented on #221
@gruber123 this is because `name` is a global object:
https://developer.mozilla.org/en-US/docs/Web/API/Window/name

[2021-02-16 18:24] m-ivanov opened #222 "Universal macOS Binary or Apple Silicon version"
It would be great if you could release a native M1 version of RunJs

[2021-02-18 09:54] lukehaas commented on #222
👍 this will be coming in the next release.

[2021-02-18 09:56] #221 closed

[2021-02-18 10:02] lukehaas commented on #219
@oguimbal thanks for raising this, I'll look into it. Your postgres playground looks great!

[2021-02-19 04:42] chefnoname opened #223 "Settings won't open"
I've uninstalled and reinstalled a couple of times

everything in the drop-down menu works except when I try to open Settings. I've checked for updates but I am using the latest version for windows 1.13.1.0

thanks

[2021-02-19 10:56] lukehaas commented on #223
Thanks @chefnoname, I'm not able to see this issue on Windows myself. is there anything about your Windows setup that might be non-standard?
Also, if you downgrade to a previous version of RunJS, such as: https://github.com/lukehaas/RunJS/releases/download/v1.12.2/RunJS-Setup-1.12.2.exe
Do you still see the issue there?

[2021-02-19 16:45] chefnoname commented on #223
Hi, I've downloaded the older version and re-upgraded back to the latest and it seems everything is working fine!

thanks for a great app!

[2021-02-19 16:45] #223 closed

[2021-02-19 21:40] 40detectives opened #224 "implement console.trace()"
Could it be possible to implement console.trace?
Right now the method is present in the console object but returns undefined (if you check them to be shown).

[2021-02-20 22:37] DerGoogler commented on #219
This is also the case with the Electron app I created myself. I using Electon Builder :smile:

[2021-02-21 04:02] palgramming opened #225 "Node output does not match RunJs"
I think the attached image show what is happening Node output the console log statements properly but same code duplicates the array after it is reversed and does not print it before being reversed .... Any help and explanation would be helpful

![runjsoutput](https://user-images.githubusercontent.com/58456171/108615163-4f40bf80-73cf-11eb-9547-98f4521f0048.jpg)

[2021-02-21 12:17] lukehaas commented on #225
@palgramming thanks for raising this, looks like this is a bug that was introduced recently in version 1.13
I'll aim to release a fix as soon as I can.

[2021-02-21 14:12] palgramming commented on #225
well I am glad I was helpful and not just a idiot .... Also it seems like when the program first launches one has access to the settings menu but once you run a program the first time the settings menu will no longer open. I have verified this on a windows 10 64 bit machine with the version you mentioned 1.13.1.0

Even with Bugs thanks for your program

[2021-02-21 19:02] lukehaas commented on #225
@palgramming thanks gains, I've now released version 1.14.0 that includes a number of updates and a fix for the original issue you saw.

Regarding the settings menu, I've checked through various scenarios on Windows 10 and I've not been able to recreate that issue. Please let me know if you're still seeing it on 1.14.0.

[2021-02-21 19:04] lukehaas commented on #224
👍 will be good to have this at some point.

[2021-02-21 20:46] palgramming commented on #225
ok well the first issue is solved but the setting menu issue is still happening

1 open RunJS > file > settings and the preferences menu opens then close it
2. console.log("Hello, World") on line 1 and run it and repeat step 1 everything fine
3. put console.log("Hello, World") on line 2 and run it and repeat step 1 and the preferences menu does not open

so I closed runJS and then did this like 3

[2021-02-22 00:17] chriscalo commented on #70
Confirmed 👍 works perfectly for me now, thanks!

[2021-02-23 00:52] keverw commented on #222
Noticed in your release notes you added Apple M1 support. However get info still says "Application (Intel)". So wonder if something went wrong?

I know last I heard the Electron people so far was only supporting a separate binary since would be bloated to do a universal one I guess. So I figured maybe since it's running under Rosetta or a cache issue, redownloading from your website and that repor

[2021-02-23 01:03] m-ivanov commented on #222
Electron encourage to recompile saying  there is a big speed advantage because on rosetta is translated twice. One keypoint of making it all native m1 can be node version as that as far i know only the v15 version run natively.

[2021-02-23 16:03] lukehaas commented on #222
@keverw @m-ivanov apologies, yes, I've realised I made a mistake on this. I assumed it would be a universal binary. I don't have an M1 mac myself so didn't look too closely.

[2021-02-24 08:28] selrond commented on #225
@lukehaas not sure if related - I'll open a new issue if not - but here's another weird case:

![image](https://user-images.githubusercontent.com/6603389/108971036-61965400-7682-11eb-9832-337d26e44c52.png)

when in fact, `React is a JavaScript framework` should be visible as an output as well, as Node.js correctly outputs:

![image](https://user-images.githubusercontent.com/6603389/108971448-9bfff

[2021-02-24 09:01] lukehaas commented on #225
@selrond this is unrelated. If there is an error in the code, RunJS will display the error and nothing else.
I'd be happy to reconsider this behaviour if you see it as an issue.

[2021-02-25 14:41] selrond commented on #225
Thanks for the reply.
I think the behavior you've described as intentional, is confusing at best.

Given that JS has a compilation phase, and execution phase - current RunJs behavior is implicitly suggesting, that the error is compile-time – (nothing else is run, only error is visible) – instead of execution-time (runtime) – which `ReferenceError` is.

Considering that RunJs is being used for teac

[2021-02-25 15:26] lukehaas commented on #225
@selrond some very good points. I will work towards this for the next release.

The reasoning for the current behaviour was for the aim of providing more helpful errors that potentially relate to features of RunJS. For example, if you try and use a NPM package that hasn't yet been installed RunJS will give you the option to install it with the error message:
![Screenshot 2021-02-25 at 15 24 04](ht

[2021-02-25 15:50] getify commented on #225
I too have been bitten by this, even recently. Very common debugging process is to put a console.log statement right before a line of code you suspect is throwing an exception. Was quite confused why it did not show the console message. Then realized I had to comment out the throwing line and insert a return instead, to see my output.

I would recommend maybe a compromise here, where the console a

[2021-02-25 16:07] lukehaas commented on #225
@getify great suggestion. Will aim to have some improvements in this area soon.

[2021-02-28 12:12] pusharr opened #226 "SyntaxError: Cannot use import statement outside a module"
cannot import axios

[2021-02-28 12:28] lukehaas commented on #226
To use import statements you will need to have Babel transpilation enabled. You can do this from the preferences window.

If you want to keep Babel disabled then you will need to use a require statement instead of import.

[2021-03-01 10:58] lukehaas commented on #226
![2021-03-01 10 56 54](https://user-images.githubusercontent.com/741344/109488098-034fe380-7a7d-11eb-9319-df8c4515e043.gif)

[2021-03-01 10:58] #226 closed

[2021-03-01 20:51] davidfabianok commented on #79
please add this theme

[2021-03-01 20:51] davidfabianok commented on #204
please add this topic

[2021-03-02 14:55] JuanluR8 opened #227 "Implement sidebar to show saved .js files inside the working directory"
I see this app as a runkit substitute with more features like theming, able to apply prettier, I can install my own modules outside npm... It's great!

But, in difference with runkit, as I'm able to save my own notebooks/files, it would be great to have a sidebar that let me quickly change between all my files saved into my working directory.

[2021-03-04 14:24] EntwistleOx opened #228 "Night Owls Theme"
Hi, just to suggest if you can add the Night Owls theme by Sarah Drasner :)

https://github.com/sdras/night-owl-vscode-theme

thanks!

[2021-03-09 00:37] josh-hemphill opened #229 "Menu help > about error: ReferenceError: alert is not defined"
Clicking `Help` > `About` results in an error prompt.
[code]

Version: 1.14.1
OS: Ubuntu 20.04

[2021-03-09 08:41] VektorTech opened #230 "Set output console to bottom of screen"
The ability to switch the layout between column and row view would be very useful.

**Row:**
[code]

Can this feature be implemented?

[2021-03-09 09:13] lukehaas commented on #230
@VektorTech yes, aiming to have this as an option in the near future.

[2021-03-09 09:15] lukehaas commented on #228
@EntwistleOx thanks, will consider it 👍

[2021-03-09 18:58] yuri-semenenko opened #231 "Hoisting doesn't work properly"
Try to execute code in any modern browser and in RunJS...
`func(); //?

var func;

function func() {
  console.log(1);
}

func = function() {
  console.log(2);
} `

[2021-03-10 09:06] lukehaas commented on #231
@yuri-semenenko thanks for raising this. This issue seems to be related to the 'Runtime values' option in the advanced settings/preferences. I'd suggest turning this option off till a fix is released.

[2021-03-13 12:54] HenriqueOmena commented on #146
I'm anxiously waiting for this feature, Will be very nice to teach technology like typescript and all array methods and stuff like that's, with this feature, thanks a lot!

[2021-03-14 12:22] cairocoder commented on #99
Hope it's soon @lukehaas

[2021-03-14 18:33] Whymess opened #232 "App freezes with too big of an object"
How do force a hard reset?  tried reinstalling the app. Old data still shows up. Copy and paste is either too big or there is syntax errors. In either case, Infinite loop remains. I

![image](https://user-images.githubusercontent.com/9116787/111079831-2f825000-84d2-11eb-8d15-3378856181e7.png)

[2021-03-15 09:02] lukehaas commented on #232
There are tow options here, if you go to the `Action` menu, there should be an option labeled `Stop` - try clicking that.

Other option is if you go to the `Edit` menu there should be an option labeled `Clear` - clicking this will remove the code.

[2021-03-15 14:37] Whymess commented on #232
Both don't work. The spinner keeps spinning....

[2021-03-15 15:02] #232 closed

[2021-03-18 10:12] selrond opened #233 "Accessing promise return value should return Promise object"
consider this code:

[code]

`prom` value should be a promise object, like everywhere else:

<img width="452" alt="image" src="https://user-images.githubusercontent.com/6603389/111609636-cb65d180-87da-11eb-8436-1838b9cd9db3.png">

Is that intentional? It's really confusing when using RunJS as a teaching REPL

[2021-03-18 10:25] lukehaas commented on #233
It was originally the case that a promise object would be returned in this scenario but by popular demand it was changed so that resolved promises return the resolved value.

[2021-03-18 10:26] lukehaas commented on #233
It could be possible to make this behaviour option based - controlled from the preferences, if that's something you think would be useful?

[2021-03-18 10:50] selrond commented on #233
@lukehaas
this is similar to https://github.com/lukehaas/RunJS/issues/225#issuecomment-785944089 in a way that it deviates from standard way JS runtimes work.

I don't know what's the goal for this project, but it would appear to me it should not abstract away standard behavior - I don't see where it would be useful.
RunJS is not a compiler for a custom language (one that would return promise valu

[2021-03-18 11:33] #188 closed

[2021-03-18 11:34] #196 closed

[2021-03-18 11:34] #162 closed

[2021-03-18 11:39] lukehaas commented on #233
👍  yeah, I'll look into this.
The problem previously was also linked to RunJS not showing the prototype (which it now does) - so all people saw before was `Promise { <pending> }`

[2021-03-18 11:44] lukehaas commented on #205
@alexrussell this is now resolved in the latest release.

[2021-03-18 11:45] #197 closed

[2021-03-24 13:58] marcfs31 commented on #210
I have a similar issue, in my case it shows an error message when I try to search for a npm module.
![image](https://user-images.githubusercontent.com/33263750/112322628-5cdcb400-8cb1-11eb-828d-b5afa5e59a11.png)

[2021-03-24 14:13] lukehaas commented on #210
@marcfs31 any possibility of an internet connection problem or being blocked by a firewall?

[2021-03-25 15:52] hoegertn commented on #42
This shipped now according to the linked docs. Any idea if this will be implemented?

[2021-03-25 15:53] hoegertn commented on #122
Any ETA on this?

[2021-03-26 08:46] lukehaas commented on #122
@hoegertn actively working on this whenever I find the time. It's a bigger feature than I initially expected, couldn't give you an accurate ETA.

[2021-03-26 08:54] lukehaas commented on #42
@hoegertn it's shipped with Chromium 89. RunJS is currently on Chromium 85.
It's something I'll look further into after the upgrade.
It's support is only in modules which may complicate its use in RunJS.

[2021-03-26 20:44] cssrno opened #234 "Dupplicate selection with keyboard shortcuts"
Dupplicate the current selection with <kbd>⌥</kbd>+<kbd>⇧</kbd>+<kbd>↑</kbd> and <kbd>⌥</kbd>+<kbd>⇧</kbd>+<kbd>↓</kbd> like on VS Code.

thanks :)

[2021-03-31 05:37] FOSSforlife opened #235 "Feature Request: Run line/block of code"
Coming from [SuperCollider IDE](https://doc.sccode.org/Guides/SCIde.html#Code%20editor), I'm looking into RunJS as an IDE for [live coding](https://www.youtube.com/watch?v=P9QaPtrPJbs), where I could make music and other art by writing JavaScript code on the fly. The one thing missing from RunJS is the ability to run a single line of code right where the cursor is using a keyboard shortcut. Right

[2021-03-31 05:51] FOSSforlife opened #236 "Feature Request: Install from GitHub repos"
I love the NPM package install functionality. It would be great if this could be expanded to also include [GitHub repos](https://stackoverflow.com/questions/17509669/how-to-install-an-npm-package-from-github-directly). This would be super useful for creating/updating scripts and being able to use them right away without having to publish them to NPM.

[2021-03-31 08:09] lukehaas commented on #235
This is an interesting idea, thanks for raising it. Will give it some thought 👍

[2021-03-31 08:10] lukehaas commented on #236
Nice. Could definitely be useful.

[2021-03-31 15:52] lukehaas commented on #234
@cssrno RunJS uses Sublime text key bindings, so duplicating a line is done via ⌘+⇧+D.

[2021-04-10 20:27] hassanazharkhan opened #237 "Feature Request: Install npm private packages"
I am quite new to this app and seriously in love with the app.

I don't know if there is a way to install private packages, if not, it would be super cool to have this.

[2021-04-11 14:02] chriscalo opened #238 "macOS: "RunJS" is damaged and can't be opened. You should move it to the Trash."
# Steps:
1. Go to https://runjs.app/
2. Click **Download RunJS**
3. Open `.dmg`
4. Drag to `/Applications`

# Expected

The installation works without an error message.

# Actual

I get the following message every time:

![image](https://user-images.githubusercontent.com/867717/114307217-b19f6d80-9aac-11eb-9772-5fb022f7eb82.png)

[2021-04-11 14:32] lukehaas commented on #238
Thanks @chriscalo, unfortunately I'm not able to see this issue. What version of macOS are you on?

[2021-04-11 14:35] lukehaas commented on #238
From what I've just found, there are a few solutions to try:

 - Re-downloading the app
 - Rebooting the Mac
 - Installing system software updates,
 - Install via the command line

[2021-04-11 15:48] lukehaas commented on #231
@yuri-semenenko this is now resolved in the latest version of RunJS - 1.15.1

[2021-04-12 01:03] caioedut opened #239 "Install from chocolatey (windows)"
Chocolatey is the best package manager for windows.
I set up an script to install everything I need.

https://chocolatey.org/

Can it support chocolatey officially?

Thank u.

[2021-04-12 08:24] selrond commented on #233
Hey @lukehaas, I've just noticed the Promise display behavior has been improved in `1.15.1`, thanks for that!

Have you considered adding something like Promise `<state>` and `<value>`?

So instead of the current output of my code example in the original comment

[code]

it would be

[code]
?